<ons-page var="homePage" id="homePage" class="dashboardBg">
    <style>
        .dotter{
            white-space: nowrap;
            width: 80%;
            overflow: hidden;
            text-overflow: "...";
            margin: 0 auto;
        }

        .dash-bg-inner{
            font-size: 12px;
            color: #333;
            background: #eee;
            margin: 0 !important;
            padding: 10px !important;
            text-transform: uppercase;
        }

        .dash-bg{
            background: #fff;
            padding: 0;
            border-radius: 3px;
            border: 1px solid #ddd;
            box-shadow: 0.1px 1px 5px #ccc;
            margin-bottom: 20px;
        }
        .dashboardMenuBg{
            background: #eee;
            border: 1px solid #ccc;
        }
        .set-frame{
            padding-left: 10px;padding-bottom: 10px;min-height: 150px;
        }
        .right-txt{
            float: right;font-size: 12px;
        }
        .simple-table{
            font-size: 12px;
        }
        .one-th{
            background: #34495E;
            color: #fff;
            font-size: 15px;
            padding:7px 14px;
        }
        .one-tr{
            border: 0;
        }
        .one-td{
            font-size: 13px;
            padding: 7px;
            border-bottom: 1px solid #dddddd;
        }
        .widget-body{
            height: 200px;
            width: 100%;
            background: #ffffff;
        }
        .inner-box{
            height: 200px;
            width: 100%;
            /* border: 1px solid #ddd; */
            box-shadow: 0.5px 0.6px 0.7px #aaa;
        }
        .widget-title{
            margin: 0;
            padding: 10px;
            color: #fff;
            font-weight: 600;
            font-size: 13px;
            border-bottom: 1px solid #ccc;
            background: #787878;
        }
        .loader{
            padding: 10px;
            text-align: center;
            color: #968383;
            background: #fdefc1;
            font-weight: 600;
            font-size: 15px;
            border-bottom: 1px solid #dcc693;
        }
        .widget{
            margin-bottom: 10px;
        }
        #singleDashboardPage .page--material__background {
            background-color: #eee;
        }
        .sharp{
            border: 0;
            border-top: 1px solid #eeeeee;
            width: 50%;
            margin: 0 auto;
            margin-top: 10px;
        }
        .feel-txt{
            font-size: 14px;font-weight: 600;color: #777;
        }
        .page-cover{
            overflow-x: hidden;
        }
        .user-title{
            box-shadow: 0.5px 0.6px 0.7px #ccc;
            text-align: center;
            background: #ffffff;
            color: #00522d;
            padding: 25px 10px;
            margin: 0;
            margin-bottom: 15px;
        }
    </style>

    <ons-toolbar class="bskp-ons-toolbar">
        <div class="left">
            <ons-toolbar-button component="button/menu">
                <ons-icon class="toolbar-text" icon="ion-navicon, material:md-menu" size="32px, material:24px"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center toolbar-text"><i class="fa fa-home"></i> Home <span class="dashboards-count"></span></div>
        <div class="right toolbar-text" >
            <ons-toolbar-button onclick="loadDashboardlist()" class="toolbar-text">
                <!--<ons-icon class="toolbar-text" icon="ion-navicon, material:md-refresh" size="32px, material:24px"></ons-icon>-->
                <i class="fa fa-refresh"></i>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <!--<div class="page-cover">
        <div class="user-title">
            <div>
                <img class="mob_domain_logo_m" style="height: 52px;">
                &lt;!&ndash;<span style="font-size: 17px;vertical-align: 8px;">BOODSKAP</span>&ndash;&gt;
            </div>
            <div style="font-size: 14px;">Welcome <b class="user-fullname" style="text-transform: capitalize;"></b></div>
        </div>
        <ons-row id="homeDashboardsList">
        </ons-row>
    </div>-->


    <div class="page-cover">
        <!--<div style="padding: 10px;background: #fff8dd;color: #666666;border-bottom: 1px solid #cccccc;text-align: center;font-size: 13px;" id="alertFeedback"></div>-->

        <div class="user-title" style="margin-bottom: 0;">
            <div>
                <img class="mob_domain_logo_m" style="height: 52px;">
            </div>
            <div style="font-size: 14px;">Welcome <b class="user-fullname" style="text-transform: capitalize;"></b></div>
        </div>

        <p style="text-align: center;color: #888888;display: none;" class="loadingFdbk">
            <span><i class="fa fa-spin fa-spinner" style="font-size: 26px;"></i></span> <span>Please wait...</span>
        </p>

        <ons-row class="homeDashboardsList" style="padding: 10px;"></ons-row>

        <ons-row class="dashboardBody" style="padding: 10px;"></ons-row>

    </div>
</ons-page>


