<ons-page var="settingsPage" id="settingsPage" ng-controller="settingsController">
    <style>
        #settingsPage .page--material__background {
            background-color: #eeeeee;
        }
    </style>

    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Settings</div>
    </ons-toolbar>


    <div class="page-padded">

        <h4 class="page-title"><i class="fa fa-key"></i> Change My Password</h4>

        <div class="box-frame">
            <div class="user-profile" ng-if="!isEditMode">
                <div class="b-row">
                    <p class="sub-title-txt">New Password </p>
                    <div><input class="text-input text-input--material" placeholder="Enter Your New Password" type="password" ng-model="model.newpassword" required></div>
                </div>
                <div class="b-row" style="margin-top: 20px;">
                    <p class="sub-title-txt">Confirm Password</p>
                    <div><input class="text-input text-input--material" placeholder="Re-Enter Your Password" type="password" ng-model="model.confirmpassword" required></div>
                </div>
            </div>

            <ons-row style="margin-top: 30px;">
                <ons-col>
                    <button class="button" type="button" style="width: 100%;background: #4183d7;" id="changeMyPassword" ng-click="changeMyPassword()">Change My Password</button>
                </ons-col>
            </ons-row>
        </div>
    </div>

    <!--<div class="page-padded">

        <h4 class="page-title"><i class="fa fa-bug"></i> Debug Mode</h4>

        <div class="box-frame" style="padding-top: 15px;">
            <div class="user-profile" ng-if="!isEditMode">
                <div class="b-row">
                    <div>
                        <span style="font-size: 13px;color: #787878;">Enable only for Support purpose</span>
                        <ons-switch ng-model="isDebugEnabled" ng-click="debugMode()" style="float: right;"></ons-switch>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

</ons-page>
