<link rel="stylesheet" type="text/css" href="css/bootstrap-tagsinput.css">

<style>
    .text-orange, .text-warning {
        color: #FFEB3B!important;
    }
    .container{

        background-color: #fff;
        padding: 10px;
        border: 1px solid #607d8b69;
        border-radius: 5px;

    }

    .bg-black, .bg-inverse {
        background-color: #6d6d6d!important;
    }

    .card-body{
        border: 1px solid #ccc;
    }

</style>
<div class="container mt-3 msgDef">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="<%= basepath %>/marketplace">Marketplace</a></li>
        <li class="breadcrumb-item"><a href="<%= basepath %>/marketplace/verticals">Verticals</a></li>
        <li class="breadcrumb-item active"><span class="pageAction"></span> Vertical</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Create New Vertical <small style="font-size:12px;">Create you own vertical and publish in marketplace</small></h1>


    <!-- end page-header -->
    <form action="javascript:void(0)"  id="addVertical" onsubmit="createVertical()">
    <!-- begin panel -->
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">

                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-default" data-click="panel-expand"><i
                        class="fa fa-expand-alt"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-warning" title="Help"><i
                        class="icon-help"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-circle btn-danger btnDelete hide" title="Delete Widget" ><i
                        class="icon-trash2"></i> Delete</a>

            </div>

            <button class="btn btn-default btn-sm" type="button" onclick="document.location=BASE_PATH+'/marketplace/verticals';"><i class="icon-chevron-left2"></i> Back</button>
            <!--<button class="btn btn-warning btn-sm btnPublish" type="submit" disabled onclick="publishWidget()"><i class="icon-globe"></i> Publish</button>-->
            <button class="btn btn-warning btn-sm" type="submit" ><i class="icon-save"></i> Save Vertical</button>

        </div>
        <div class="panel-body" style="background-color: #eeeeee00;border: 1px solid #eee;padding-bottom: 30px;">

            <div class="row">
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="inputLabel">Vertical Name</label>
                        <input class="form-control input-sm" placeholder="Vertical Name" type="text" id="verticalName" required>
                    </div>
                </div>
                <div class="col-lg-1" style="text-align: center">
                    <img src="images/not-available.png" class="verticalImage"
                         style="width:64px;height:64px;border: 1px solid #6d6d6d4f;"/>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="inputLabel">Vertical Image</label><br>
                        <input type="file" id="verticalImage" onchange="uploadImage()"><br>
                        <small class="grey">recommended size 512px x 512px</small>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Version</label>
                        <input class="form-control input-sm" placeholder="" type="text" id="verticalVersion" required style="">
                    </div>
                </div>
                <div class="col-lg-2" style="">
                    <label>Status</label><br>
                    <label style="font-weight: normal"><input type="radio" name="publishStatus" value="true"checked > Publish</label> <br>
                    <label style="font-weight: normal"><input type="radio" name="publishStatus" value="false"> Don't Publish</label>

                </div>


            </div>
            <div class="row" style="background-color: #eeeeee80;padding-top: 10px;">

                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="inputLabel">Choose Category</label>
                        <select class="form-control input-sm" id="verticalCategory" required placeholder="">


                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label class="inputLabel">Tags</label> <br>
                        <input class="form-control input-sm" placeholder="" type="text" id="verticalTags"><br>
                        <small class="grey">Separate tags with comma</small>
                    </div>
                </div>
                <div class="col-lg-2">
                    <label>Developer</label>
                    <p class="createdBy"></p>
                </div>
                <div class="col-lg-2">
                    <label>Created Time</label>
                    <p class="createdTime">-</p>
                </div>
                <div class="col-lg-2">
                    <label>Updated Time</label>
                    <p class="updatedTime">-</p>
                </div>

            </div>
            <div class="row" style="background-color: #eeeeee80;padding-bottom: 10px;">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label class="inputLabel">Description</label>
                        <textarea class="form-control input-sm" placeholder="Vertical Description" type="text" id="verticalDesc" required
                                  style="height: 100px"></textarea>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-12">
                    <!-- begin #accordion -->
                    <div id="accordion" class="card-accordion">
                        <!-- begin card -->
                        <div class="card">
                            <div class="card-header bg-black text-white pointer-cursor collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false">
                                <i class="icon-plus"></i> Message Definition <small> Total: <span class="messageDefCount"></span></small>
                                <label class="pull-right text-warning">Selected: <span class="s_messageDefCount">0</span></label>
                            </div>
                            <div id="collapseOne" class="collapse" data-parent="#accordion" style="">
                                <div class="card-body">

                                    <div class="row messageDefList">

                                    </div>


                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <!-- begin card -->
                        <div class="card">
                            <div class="card-header bg-black text-white pointer-cursor collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false">
                                <i class="icon-plus"></i> Record Definition <small> Total: <span class="recordDefCount"></span></small>
                                <label class="pull-right text-warning">Selected: <span class="s_recordDefCount">0</span></label>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
                                <div class="card-body">
                                    <div class="row recordDefList">

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <!-- begin card -->
                        <div class="card">
                            <div class="card-header bg-black text-white pointer-cursor collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">
                                <i class="icon-plus"></i> Message Rules <small> Total: <span class="messageDefCount"></span></small>
                                <label class="pull-right text-warning">Selected: <span class="s_messageRuleCount">0</span></label>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordion" style="">
                                <div class="card-body">
                                    <div class="row messageRuleList">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <!-- begin card -->
                        <div class="card">
                            <div class="card-header bg-black text-white pointer-cursor collapsed" data-toggle="collapse" data-target="#collapseFour">
                                <i class="icon-plus"></i> Named Rule <small> Total: <span class="namedRuleCount"></span></small>
                                <label class="pull-right text-warning">Selected: <span class="s_namedRuleCount">0</span></label>
                            </div>
                            <div id="collapseFour" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row namedRuleList">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <!-- begin card -->
                        <div class="card">
                            <div class="card-header bg-black text-white pointer-cursor collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false">
                                <i class="icon-plus"></i> Schedule Rule <small> Total: <span class="scheduleRuleCount"></span></small>
                                <label class="pull-right text-warning">Selected: <span class="s_scheduleRuleCount">0</span></label>
                            </div>
                            <div id="collapseFive" class="collapse" data-parent="#accordion" style="">
                                <div class="card-body">
                                    <div class="row scheduleRuleList">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <!-- begin card -->
                        <div class="card">
                            <div class="card-header bg-black text-white pointer-cursor collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false">
                                <i class="icon-plus"></i> Templates <small> Total: <span class="templatesCount"></span></small>
                                <label class="pull-right text-warning">Selected: <span class="s_templatesCount">0</span></label>
                            </div>
                            <div id="collapseSix" class="collapse" data-parent="#accordion" style="">
                                <div class="card-body">
                                    <div class="row templatesList">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <!-- begin card -->
                        <div class="card">
                            <div class="card-header bg-black text-white pointer-cursor" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false">
                                <i class="icon-plus"></i> Dashboard <small> Total: <span class="dashboardCount"></span></small>
                                <label class="pull-right text-warning">Selected: <span class="s_dashboardCount">0</span></label>
                            </div>
                            <div id="collapseSeven" class="collapse" data-parent="#accordion" style="">
                                <div class="card-body">
                                    <div class="row dashboardList">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                        <!-- begin card -->
                        <div class="card">
                            <div class="card-header bg-black text-white pointer-cursor" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false">
                                <i class="icon-plus"></i> Mobile Dashboard <small> Total: <span class="mobileDashboardCount"></span></small>
                                <label class="pull-right text-warning">Selected: <span class="s_mobileDashboardCount">0</span></label>
                            </div>
                            <div id="collapseEight" class="collapse" data-parent="#accordion" style="">
                                <div class="card-body">
                                    <div class="row mobileDashboardList">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end #accordion -->
                </div>
            </div>

        </div>
    </div>
    <!-- end panel -->
    </form>

</div>

<script src="js/bootstrap-tagsinput.js" type="text/javascript"></script>


<script src="controllers/addvertical.js" type="text/javascript"></script>


<input type="hidden" id="verticalID" value="<%=verticalId %>" />