<style>
    #deleteModal .modal-dialog{
        max-width: 600px;
    }
</style>
<div class="container  bskp-mt-30 platformBody">
   
    <!-- begin panel -->
    <div class="panel panel-inverse bskp-container-frame">

         <!-- begin breadcrumb -->
    <div>
        <ol class="breadcrumb pull-right bskp-align-icon" >
            <li class="breadcrumb-item"><a href="<%= basepath %>/home">Home</a></li>
            <li class="breadcrumb-item"><u>Asset Management</u></li>
            <div class="ml-4">
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle  bskp-icon-bg"title="Expand" data-click="panel-expand"><em class="fa fa-expand"></em></a>
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle bskp-icon-bg" title="Help" onclick="startTour()"><em class="icon-help"></em></a>
            </div>
        </ol>
    </div>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <div class="page-header bskp-page-topic"><img src="images/menu/assets-management-bskp.svg" alt="img" class="bskp-topic-icon mr-1" > Asset Management
        <span class="panel-title ml-3 bskp-text" >Total: <strong><span class="assetCount"></span></strong></span> </div>
    
    <!-- end page-header -->

        <div class="panel-body">

           <div class="row m-0">
              <div class="col-12">
                <div class="btn-group btn-group-justified pull-right bskp-btn-group-align" >
                <a class="btn bskp-btn-shadow bskp-blue-bg" onclick="openModal(1)"><img src="images/plus.svg" alt="img" class="bskp-plusvg"> <span class="hidden-xs">Add New Asset</span></a>
                <a class="btn bskp-refresh-bg"  title="Refresh" onclick="loadAssetList()"><em class="fa fa-refresh"></em></a>
                </div>

                <div class="bskp-table-layout">
                    <table class="table table-bordered bskp-table responsive no-wrap" id="assetTable"   width="100%">
                        <thead>
                            <tr>
                                <th>Asset ID</th>
                                <th>Asset Name</th>
                                <th>Description</th>
                                <th>Created Time</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>

              </div>
           </div>

        </div>
    </div>
    <!-- end panel -->

</div>

<script src="controllers/asset.js" type="text/javascript"></script>



<div id="addAsset" class="modal bskp-modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="templateAction"></span> Asset</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="images/menu/xicon.svg" class="bg-secondary bskp-close" >
                    </button>
            </div>
            <form action="javascript:void(0)" novalidate>
                <div class="modal-body">
                    <div  class="row">
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Asset ID *</label>
                                <input  class="form-control input-sm"  placeholder="Enter Asset ID" autocomplete="off" min="1" maxlength="100" type="text" id="asset_id" required>
                                 <span id="logasset_id" class="alertDiv"></span>
                            </div>
                        </div>
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Asset Name *</label>
                                <input  class="form-control input-sm"  placeholder="Enter Asset Name" autocomplete="off"  maxlength="100" type="text" id="asset_name" required>
                                <span id="logasset_name" class="alertDiv"></span>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <div  class="col-md-12">
                            <div  class="form-group">
                                <label  class="inputLabel">Description *</label>
                                <textarea class="form-control input-sm"  maxlength="1000"  placeholder="Enter Description" autocomplete="off" id="asset_desc" required ></textarea>
                                </select>
                                <span id="logasset_desc" class="alertDiv"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button-2 btn-close"  data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btnModal btn-secondary btn-proceed btnSubmit">Proceed </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="deleteModal" class="modal bskp-modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Asset</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="images/menu/xicon.svg" class="bg-secondary bskp-close">
                    </button>
            </div>
            <div class="modal-body">
                <h5>Are you sure want to delete <b><span class="assetId"></span> asset</b>?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn button-2 btn-close"  data-dismiss="modal">Close</button>
                <button type="submit" class="btn btnModal btn-secondary btn-proceed btnSubmit" onclick="proceedDelete()">Proceed </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="linkModal" class="modal bskp-modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Link Devices to <span class="assetId"></span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="images/menu/xicon.svg" class="bg-secondary bskp-close" >
                    </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div  class="col-md-8">
                        <div  class="form-group">
                            <label  class="inputLabel">Choose Device ID</label>
                            <div class="dropdown">
                                <div class="btn btn-sm dropdown-toggle bskp-dropborder"  type="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <input type="text" class="input-sm inputDevice border-0"
                                           placeholder="Search by device id, name, model, version"  maxlength="100" id="deviceID" onkeyup="loadDeviceList(this.value)">
                                           
                                </div>
                                <span id="logdropdownMenu1"></span>
                                <ul class="dropdown-menu deviceListUl" aria-labelledby="dropdownMenu1">
                                    <!--<li class="deviceListLi" onclick="setDeviceId()">
                                        {{device.name ? device.name : device.id}} | {{device.modelId}} [<b>{{device.version}}</b>]
                                    </li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mt-2">
                        <label  class="inputLabel">&nbsp;</label>
                        <button class="btn bskp-btn-shadow mt-4 bskp-blue-bg" id="linkDeviceBtn" onclick="linkDevice()">Link Device</button>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <table class="table bskp-table responsive table-bordered" id="linkedTable">
                            <thead>
                                <tr>
                                    <th>Device ID</th>
                                    <th>Model ID</th>
                                    <th>Version</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>

                </div>




            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



