<style>
    .select2-container{
        width: 100% !important;
    }
    .select2-dropdown{
        width: 200px !important;
    }
    .show-grid {
        padding-top: 10px;
        padding-bottom: 10px;
        list-style: none;
        border: 1px solid #ddd;
        cursor: pointer;
    }

    .show-grid.active {
        border: 1px solid #009688;
        background-color: #1b968736;
        border-top: 3px solid #1b9687;
    }

    .show-grid.active:after {
        margin-left: -11px;
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        height: 0;
        content:"";
        pointer-events: none;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #1b9687;

    }

    .glyphicon {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 35px;
    }

    .inactive {
        color: #ccc;
        background-color: #fafafa;
    }

    .tabcontents.hide {
        display: none;
    }

    .tabcontents.active {
        display: block;
    }

    .itemTable thead{
        background-color: #333;
    }
    .itemTable th{
        color:#fff !important;
    }
    .itemTable td{
        padding:5px 10px !important;
    }

    .card-header{
        background-color: #fff;
        border: 1px solid #ddd;
        color: #333 !important;
        border-left:3px solid #ccc;
    }
    .card-header:hover{
        background-color: #eee;
    }

    .card-body{
        border: 1px solid #ddd;
        background-color: #6d6d6d47;
    }
</style>
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" href="/css/select2.min.css" />
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/js/select2.min.js"></script>



<div class="container mt-3 msgDef platformBody">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="/dashboard">Service</a></li>
        <li class="breadcrumb-item active">Billing Management</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header"><i class="icon-money3"></i> Manage Billing</h1>
    <!-- end page-header -->

    <!-- begin panel -->
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-success" data-click="panel-reload" onclick="loadDomains()"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-warning" title="Help"><i class="icon-help"></i></a>

            </div>
            <h4 class="panel-title">Total Service: <b><span class="domainsCount"></span></b></h4>
        </div>
        <div class="panel-body" style="background-color: #eeeeee00;border: 1px solid #eee;padding-bottom: 30px;">

            <div class="row">
                <div class="col-md-9">
                    Load:
                    <select class="" onchange="loadDomains()" id="pageSize">
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="text" onkeyup="searchText()" class="form-control form-control-sm" placeholder="Search by Service (or) Admin Email" id="searchText" />
                </div>

            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div id="accordion" class="card-accordion domainList">

                    </div>
                </div>
                <div class="col-md-12 loadMore hide text-center">
                    <button class="btn btn-sm btn-default" onclick="loadMore()"><i class="icon-ellipsis"></i> Load More</button>
                </div>
            </div>

        </div>
    </div>
    <!-- end panel -->

</div>
<script src="controllers/billing-management.js" type="text/javascript"></script>



<div id="billingConfig" class="modal fade" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Billing Configuration</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <form action="javascript:void(0)">
                <div class="modal-body" style="min-height: 500px">
                    <div class="row" style="">
                        <div class="show-grid col-md-4 active tab0" onclick="showTab(0)">
                            <div class="media">
                                <div class="pull-left" href="#">
                                    <span class="icon-coin-dollar glyphicon"></span>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>INVOICE</strong></h5>
                                    Invoice Config
                                </div>
                            </div>
                        </div>
                        <div class="show-grid col-md-4 inactive tab1" onclick="showTab(1)">
                            <div class="media">
                                <div class="pull-left" href="#">
                                    <span class="icon-building-o glyphicon"></span>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>COMPANY</strong></h5>
                                    Billing details
                                </div>
                            </div>
                        </div>
                       <!-- <div class="show-grid col-md-3 inactive tab2" onclick="showTab(2)">
                            <div class="media">
                                <div class="pull-left" href="#">
                                    <span class="icon-folder glyphicon"></span>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>ITEMS</strong></h5>
                                    List / Add Items
                                </div>
                            </div>
                        </div>-->
                        <div class="show-grid col-md-4 inactive tab3" onclick="showTab(3)">
                            <div class="media">
                                <div class="pull-left" href="#">
                                    <span class="icon-ios-briefcase glyphicon"></span>
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading"><strong>PAYER</strong></h5>
                                    Payer Details
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabcontents tabcontent0 show">
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Invoice Billing Name <span class="text-danger">*</span></label>
                                    <input type="text" id="invoiceName" class="form-control input-sm" required/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Invoice Code <small>(Prefix)</small><span class="text-danger">*</span></label>
                                    <input type="text" id="invoiceCode" class="form-control input-sm" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Frequency  <span class="text-danger">*</span></label>
                                    <select id="frequency" class="form-control input-sm" onchange="checkFrequency()">
                                        <option value="adhoc">AdHoc</option>
                                        <optgroup label="Frequency">
                                            <option value="hourly">Hourly</option>
                                            <option value="daily">Daily</option>
                                            <option value="weekly">Weekly</option>
                                            <option value="monthly" selected>Monthly</option>
                                            <option value="quarterly">Quarterly</option>
                                            <option value="semianually">Half Yearly</option>
                                            <option value="annually">Yearly</option>
                                        </optgroup>


                                    </select>  <br>
                                    <label><input type="checkbox" id="discountedInvoice" /> Include discounted items in the invoice</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Currency  <span class="text-danger">*</span></label>
                                    <select id="currency" class="form-control input-sm">
                                        <option value="$">$ - US Dollar</option>
                                        <option value="₹">₹ - India INR</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Invoice Start Date <span class="text-danger">*</span></label>
                                    <input type="text" id="invoiceStartDate" class="form-control input-sm" required/>
<!--                                    <p class="invoiceStartDate mt-1"></p>-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Invoice End Date <span class="text-grey-lighter freqOpt">(optional)</span></label>
                                    <input type="text" id="invoiceEndDate" class="form-control input-sm"/>
<!--                                    <p class="invoiceEndDate mt-1"></p>-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Choose Invoice list item rule  <span class="text-danger">*</span></label>
                                    <select class="form-control" id="namedRule"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabcontents tabcontent1 hide">
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Company Name <span class="text-danger">*</span></label>
                                    <div class="dropdown">
                                        <div class="btn btn-sm dropdown-toggle" onclick="loadMasterList('','company')" style="width: 100%;border: 1px solid #3e373738;" type="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <input type="text" style="" class="input-sm inputDevice"
                                                   placeholder="" id="cmpyName" onkeyup="loadMasterList('cmpyName','company')">
                                        </div>
                                        <ul class="dropdown-menu deviceListUl companyList" aria-labelledby="dropdownMenu1">
                                            <!--<li class="deviceListLi" onclick="setDeviceId()">
                                                {{device.name ? device.name : device.id}} | {{device.modelId}} [<b>{{device.version}}</b>]
                                            </li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Company Logo</label>
                                    <input type="file" id="billerLogo" onchange="uploadImage('billerLogo')" required/>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <img src="" class="billerLogo" style="height: 50px">
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Department</label>
                                    <input type="email" id="cmpyDepartment" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email ID</label>
                                    <input type="email" id="cmpyEmail" class="form-control input-sm"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Contact Number</label>
                                    <input type="text" id="cmpyContact" class="form-control input-sm"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" id="cmpyAddress" class="form-control input-sm"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" id="cmpyCity" class="form-control input-sm"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" id="cmpyState" class="form-control input-sm"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Zipcode</label>
                                    <input type="number" id="cmpyZipcode" class="form-control input-sm" min="0"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Country</label>
                                    <input type="text" id="cmpyCountry" class="form-control input-sm"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabcontents tabcontent2 hide">
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <table class="itemTable table table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="width: 20%">Items</th>
                                        <th>Unit</th>
                                        <th>Actual Cost</th>
                                        <th style="width: 15%">Platform Cost</th>
                                        <th style="width: 15%">Total Cost</th>
                                        <th style="width: 10%">Tax (%)</th>
                                        <th>Grand Total</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody class="billingItems">

                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-outline-success btn-sm" onclick="addItemRecord()"><i class="icon-plus"></i> Add Item</button>
                            </div>
                        </div>
                    </div>
                    <div class="tabcontents tabcontent3 hide">
                        <div class="row mt-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Payer Name <span class="text-danger">*</span></label>
                                    <!--<input type="text" id="payName" class="form-control input-sm" required/>-->
                                    <div class="dropdown" >
                                        <div class="btn btn-sm dropdown-toggle" onclick="loadMasterList('','payer')" style="width: 100%;border: 1px solid #3e373738;" type="" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <input type="text" style="" class="input-sm inputDevice"
                                                   placeholder="" id="payName" onkeyup="loadMasterList(payName,'payer')">
                                        </div>
                                        <ul class="dropdown-menu deviceListUl payerList" aria-labelledby="dropdownMenu2">
                                            <!--<li class="deviceListLi" onclick="setDeviceId()">
                                                {{device.name ? device.name : device.id}} | {{device.modelId}} [<b>{{device.version}}</b>]
                                            </li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Payer Logo</label>
                                    <input type="file" id="payerLogo" onchange="uploadImage('payerLogo')" required/>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <img src="" class="payerLogo" style="height: 50px">
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Department</label>
                                    <input type="email" id="payDepartment" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Email ID</label>
                                    <input type="email" id="payEmail" class="form-control input-sm"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Contact Number</label>
                                    <input type="text" id="payContact" class="form-control input-sm"/>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" id="payAddress" class="form-control input-sm"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>City</label>
                                    <input type="text" id="payCity" class="form-control input-sm"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" id="payState" class="form-control input-sm"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Zipcode</label>
                                    <input type="number" id="payZipcode" class="form-control input-sm" min="0"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Country</label>
                                    <input type="text" id="payCountry" class="form-control input-sm"/>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Note</label>
                                    <textarea id="payNote" class="form-control input-sm"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btnModal btnInvoice" onclick=""><i class="icon-save"></i> Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->






<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Billing Configuration</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete this billing configuration?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-hr" onclick="proceedDelete()">Proceed</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<div id="viewInvoice" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Invoice Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
               <div class="row">
                   <div class="col-md-12">
                       <table class="itemTableView table table-bordered table-striped">
                           <thead>
                           <tr>
                               <th>Items</th>
                               <th>Unit</th>
                               <th>Actual Cost</th>
                               <th>Platform Cost</th>
                               <th>Total Cost</th>
                               <th>Tax</th>
                               <th>Grand Total</th>
                           </tr>
                           </thead>
                           <tbody class="billingItemsView">

                           </tbody>
                       </table>
                   </div>
               </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->