<!DOCTYPE html>
<html lang="en" class="ie8">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7"/>

    <title>Configuration - Boodskap Highly Scalable IoT Platform </title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"
          name="viewport"/>

    <meta name="description"
          content="Boodskap is a disruptive (IoT) Platform helps to quickly connect any hardware devices and to rapidly build connected applications in a cost efficient manner"/>
    <meta name="keywords"
          content="boodskap.io, boodskap inc, boodskap, boodskap platform,iot starter kit, iot, internet of things, iot devices,what is internet of things,iot platform,iot applications,iot sensors,iot internet of things,industrial iot,industrial internet of things, m2m">

    <meta content="Boodskap Inc.," name="author"/>


    <meta name="theme-color" content="#fac300"/>

    <meta name="google-play-app" content="app-id=io.boodskap.platform">
    <meta name="apple-itunes-app" content="app-id=1398841657">

    <!-- Facebook Share -->
    <meta property="og:url" content="https://platform.boodskap.io"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Boodskap - Highly Scalable IoT Platform"/>
    <meta property="og:description"
          content="Boodskap is a disruptive (IoT) Platform helps to quickly connect any hardware devices and to rapidly build connected applications in a cost efficient manner"/>
    <meta property="og:image" content="https://boodskap.io/images/boodskap-logo.png"/>


    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "https://platform.boodskap.io",
            "logo": "https://boodskap.io/images/boodskap-logo.png",
            "name": "Boodskap - Highly Scalable IoT Platform",
            "description": "Boodskap is a disruptive (IoT) Platform helps to quickly connect any hardware devices and to rapidly build connected applications in a cost efficient manner",
            "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "+1-833-266-3752",
                "contactType": "Customer Service"
            },
            "sameAs": [
                "https://www.facebook.com/boodskapiot",
                "https://twitter.com/boodskapIOT",
                "https://www.linkedin.com/company/16180585",
                "https://www.youtube.com/channel/UC1yOEmlV7mBfKI1aHSMk3GQ"
            ]
        }

    </script>


    <link href="images/favicon.ico" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <link href="/css/jquery-ui.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/animate.min.css" rel="stylesheet"/>
    <link href="/css/style.min.css" rel="stylesheet"/>
    <link href="/css/style-responsive.min.css" rel="stylesheet"/>
    <link href="/css/default.css" rel="stylesheet" id="theme"/>
    <link href="/css/fontawesome-all.min.css" rel="stylesheet"/>
    <script src="/libraries/pace.min.js"></script>

</head>
<body class="pace-top">

<div style="background-color: #333333;padding: 10px;">
<img src="/images/boodskap-logo-bold.png" height="30" class="ml-2"/>
</div>

<div id="page-loader" class="fade show"><span class="spinner"></span></div>
<div id="page-container" class="fade">

    <div class="container-fluid" style="min-height: 500px">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-inverse mt-2">
                    <div class="panel-heading" style="background-color: rgb(109, 109, 109);">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-success" data-click="panel-reload" onclick="loadRecordDef()"><i class="fa fa-redo"></i></a>

                        </div>
                        <h4 class="panel-title">Generate Configuration</h4>
                    </div>
                    <div class="panel-body genearteConf" style="background-color: #eeeeee00;border: 1px solid #eee;padding-bottom: 30px;">

                        <form action="javascript:void(0)" onsubmit="generateConfig()">

                            <div class="row">
                                <!--<div class="col-md-12">
                                    <div  class="form-group">
                                        <label  class="inputLabel">Unique Key *</label>
                                        <p class="font-weight-bold uniqueKey"></p>
                                    </div>
                                </div>-->
                                <div class="col-md-4">
                                    <div  class="form-group">
                                        <label  class="inputLabel">Name *</label>
                                        <input type="text" class="form-control" id="configName" required></input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div  class="form-group">
                                        <label  class="inputLabel">Email ID *</label>
                                        <input type="email" class="form-control" id="emailID" required></input>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div  class="form-group">
                                        <label  class="inputLabel">Machines *</label>
                                        <select class="form-control" id="machineType" required onchange="checkMachineType()">
                                            <option value="Single">Single</option>
                                            <option value="Cluster">Cluster</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div  class="form-group">
                                        <label  class="inputLabel">Platform Host Name / IP *</label>
                                        <input type="text" class="form-control" id="platformHost" required></input>
                                        <small>Multiple IP / Hostname with comma separated value</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div  class="form-group">
                                        <label  class="inputLabel">Cassandra Host Name / IP *</label>
                                        <input type="text" class="form-control" id="cassandraHost" required></input>
                                        <small>Multiple IP / Hostname with comma separated value</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div  class="form-group">
                                        <label  class="inputLabel">Elastic Host Name / IP *</label>
                                        <input type="text" class="form-control" id="elasticHost" required></input>
                                        <small>Multiple IP / Hostname with comma separated value</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div  class="form-group">
                                        <label  class="inputLabel">EMQX Host Name / IP *</label>
                                        <input type="text" class="form-control" id="emqHost" required></input>
                                        <small>Multiple IP / Hostname with comma separated value</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div  class="form-group">
                                        <label  class="inputLabel">Kibana Host Name / IP *</label>
                                        <input type="text" class="form-control" id="kibanaHost" required></input>
                                        <small>Multiple IP / Hostname with comma separated value</small>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">

                                    <button type="submit" class="btn btn-warning btn-lg"><i class="fa fa-cogs"></i> Generate Configuration</button>

                                </div>
                            </div>

                        </form>


                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-inverse mt-2">
                    <div class="panel-heading" id="configList" style="background-color: rgb(109, 109, 109);">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-success" data-click="panel-reload" onclick="loadRecordDef()"><i class="fa fa-redo"></i></a>

                        </div>
                        <h4 class="panel-title">Configuration List</h4>
                    </div>
                    <div class="panel-body" style="background-color: #eeeeee00;border: 1px solid #eee;padding-bottom: 30px;">
                        <form action="javascript:void(0)" onsubmit="getConfigList()">
                        <div class="row">
                            <div class="col-md-8">
                                <input required type="email" class="form-control form-control-lg" id="searchText" placeholder="Enter Email ID" />
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-warning btn-lg btn-block btnSubmit">Fetch Configurations</button>
                            </div>
                        </div>
                        </form>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th>Configuration Name</th>
                                            <th>Platform Host</th>
                                            <th>Cassandra Host</th>
                                            <th>Elastic Host</th>
                                            <th>EMQX Host</th>
                                            <th>Kibana Host</th>
                                        </tr>
                                    </thead>
                                    <tbody class="configList">
                                        <tr><td colspan="7"><p class="text-center" style="padding:25px">No data available!</p></td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="snackbar"></div>

<script src="/libraries/jquery-3.2.1.min.js"></script>
<script src="/libraries/jquery-ui.min.js"></script>
<script src="/libraries/bootstrap.bundle.min.js"></script>
<script src="/libraries/html5shiv.js"></script>
<script src="/libraries/respond.min.js"></script>
<script src="/libraries/excanvas.min.js"></script>
<script src="/libraries/jquery.slimscroll.min.js"></script>
<script src="/libraries/default.min.js"></script>
<script src="/libraries/js.cookie.js"></script>
<script src="/libraries/apps.min.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/sweetalert2.js"></script>

<script src="/controllers/configuration.js"></script>

<script>
    $(document).ready(function () {
        App.init();
    });
</script>
</body>
</html>

