<!--
<div class="displayCookie" style="position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background-color: #3a3d3ed4;
    color: #fff;
    padding: 5px;">
    Boodskap Platform use cookies to give you the best experience. If you continue using our website, we'll assume that you are happy to receive all
    cookies on this website. <a href="https://boodskap.io/privacy-policy" target="_blank">Learn more</a>

    <a href="javascript:void(0)" onclick="acceptCookie()" class="btn btn-outline-warning">Accept</a>
</div>
-->
