<!--<div class="row-fluid">
    <ul class="nav submenu" style="">
        <li class=""><a href="<%= basepath %>/home"><i class="fa fa-home"></i> </a></li>
        <li class=""><a href="<%= basepath %>/dashboard">Dashboard</a></li>
        <li class="active"><a href="<%= basepath %>/message-definition">Message Definition</a></li>
    </ul>
</div>-->
<style>
    #dbquery #queryEditor, #resultEditor {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        border:1px solid #eee
    }
    #dbquery .bskp-icon-bg{
       margin-top: 5px;
       
    }
    @media screen and (max-width:499px){
       #dbquery .bskp-icon-bg{
         position: relative;
         left: 100px;
         
       }
      
   }
   #dbquery .execute_btn{
       
        background-color:hsl(238deg 46% 33%);
        border: none;
        color: white;
        font-size:12px;
        border-radius: 10px;
        width: 80px;
        border-style: none;
        cursor: pointer;
        height: 30px;
        margin-left: 193px;
        margin-bottom: 5px;
  

   }
   #dbquery .breadcrumb{
       margin: 5px;
    }
    .ace-eclipse .ace_gutter{
        background: hsl(210deg 31% 95%);
        border: 2px solid #eaf1f6;
        border-radius: 10px;
    }
    .panel{
       background-color: #e9f0f7;
       
    }
    #dbQuery .table-border{
        border: 1px solid hsl(214deg 23% 79%);border-radius: 15px;margin:5px;
        background-color: #ffffff;
    }
    /* .ace_content{ */
        /* position: relative; 
        left: 8px;*/
        /*border: 2px solid  #eaf1f6;
         border-left: 2px solid  #eaf1f6; 
        border-radius: 10px;*/
    /* } */
    .ace_scroller{
        left: 52px !important;
        border: 2px solid #eee;
        border-radius: 10px;
    }
    #dbquery #queryEditor, #resultEditor{
      border: 2px solid #eaf1f6;
      border-top: none;
      border-bottom: none;
      border-radius: 10px;
    }
    #dbQuery .page-header{
        color: hsl(0deg 0% 25%);
        padding-left: 6px;
        font-weight: 700;
        font-size: 20px;
    }
    #dbquery .btnPrimary{
        background-color:hsl(238deg 46% 33%) !important;
        color: white !important;
        font-size:12px;
        border-radius: 10px;
        width: 80px;
        border-style: none;
        cursor: pointer;
        height: 30px;
        /* margin-left: 193px;
        margin-bottom: 5px; */
    }
    .bskp-table.table>thead>tr>th{
        padding: 5px 15px;
    }
    .dbStyle{
        color: #212529;
        font-weight:600 ;
        font-size:12px;
    }
    .btn{
        line-height: 24px;
    }
    select{
        border: 2px solid #e8ebf0;
        border-radius: 10px !important;
        font-size: 14px !important;
        /* color: #e8ebf0; */
        font-weight: 500;
        padding: 4px;
    }
</style>
<div id="dbQuery" class="container mt-3 msgDef platformBody panel" >
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="<%= basepath %>/home">Domain</a></li>
        <li class="breadcrumb-item active">Query Console</li>

        <!-- <div class="ml-2 mr-4">
            <a href="javascript:;" class="btn btn-sm btn-icon btn-circle  bskp-icon-bg" data-click="panel-expand"><img style="height:14px ;" src="images/expand-icon.SVG" alt=""></a>
             <a href="javascript:;" class="btn btn-sm btn-icon btn-circle bskp-icon-bg" title="Help" > <img src="images/Question_icon.PNG" alt=""> </a>
        </div> -->
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <img style="height:22px;" class=" ml-2 mb-2" src="images/menu/db-query.svg " alt="logo"><span class="page-header">DB Query Console</span> 
    <!-- end page-header -->

    <!-- begin panel -->
    <div class="panel panel-inverse">
        <div class="panel-body" style="background-color:#ffffff;box-shadow: 0px 0px 1px 1px #d9dbe5;padding-bottom: 30px; border-radius:10px">

            <div class="row">
                <div class="col-md-3" style="border-right: 2px solid rgb(234, 241, 246);;">
                    <div class="row">
                        <div class="col-md-6 dbStyle p-4" >
                            DB Table
                        </div>
                        <div class="col-md-6" style="text-align:end;">
                            <a class="btn bskp-radius-btn bskp-refreshbtn" data-click="panel-reload" onclick="loadDBTable()" title="Refresh"><i class="fa fa-refresh"></i></a>
                            <!-- <button class="btn btn-xs btn-default pull-right" onclick="loadDBTable()"><i class="icon-refresh"></i> Refresh</button> -->
                        </div>
                    </div>
                    <div class="dbTable pt-2" style="background-color: #fff;overflow: auto">


                        <table class="table table-bordered bskp-table responsive no-wrap" style="width:100%">
                            <thead>
                                <tr><th style="width: 40%">Table Name</th><th>Fields</th></tr>
                            </thead>
                            <tbody class="dbMetadata">
                            <tr><td colspan="2"><p style="text-align: center">No data available</p></td></tr>
                            </tbody>
                        </table>

                    </div>



                </div>
                <div class="col-md-5">
                    <div class="row">


                        <div class="col-md-12" style="border-right: 2px solid rgb(234, 241, 246);">
                            <div class="form-group queryBox">
                                <div class="row">
                                    <!-- <label style="padding-right:20px;">DB Query Console</label> -->
                                    <div class="col-md-9 p-4">
                                        <span class="dbStyle">DB Query Console</span>
                                        <small style="align-content: center;">(Press <b>CTRL + ENTER</b> to execute the query)</small>
                                    </div>
                                    <div class="col-md-3" style="text-align:end;"> 
                                        <a class="btn bskp-blue-bg px-4" style="border-radius: 10px;font-size:14px;" onclick="executeQuery()"><span class="hidden-xs">Execute</span></a>  
                                        <!-- <button  class="btn bskp-blue-bg" style="border-radius: 10px;font-size:14px;height:32px;" onclick="executeQuery()">Execute</button> -->
                                    </div>
                                </div>
                                <div class="pb-3 pt-1" >
                                    <select id="pool_name" style="" onchange="loadDBTable()">
                                    
                                    </select>
                                    <a href="javascript:void(0)" style="padding: 5px; text-decoration: none;color:#666"
                                    onclick="syncPool()" title="Sync DB Metadata"><i class="icon-reload"></i> sync</a>
                                </div>
                                

                                <div id="queryEditor" style="width: 100%"></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <!-- <button class="btn btn-warning btn-sm" onclick="executeQuery()">Execute</button> -->
                        </div>

                    </div>

                </div>
                <div class="col-md-4 " >
                    <div class="dbStyle p-4 " style="font-size: 14px;">Output Console <small style="float:right;font-size: 12px" class="loadingText"></small></div>
                    <div id="resultEditor" class="mt-2" style="width: 100%"></div>
                </div>
                
            </div>


        </div>
    </div>
    <!-- end panel -->

</div>


<script src="js/editor/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/ext-searchbox.js" type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/ext-beautify.js"    type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/snippets/javascript.js" type="text/javascript" charset="utf-8"></script>
<script src="js/beautify.min.js" type="text/javascript"></script>

<script src="controllers/db-query-console.js" type="text/javascript"></script>
