<!--<div class="row-fluid">
    <ul class="nav submenu" style="">
        <li class=""><a href="<%= basepath %>/home"><i class="fa fa-home"></i> </a></li>
        <li class=""><a href="<%= basepath %>/dashboard">Dashboard</a></li>
        <li class="active"><a href="<%= basepath %>/message-definition">Message Definition</a></li>
    </ul>
</div>-->
<style>
    #queryEditor, #resultEditor {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        border:1px solid #eee
    }
</style>
<div class="container mt-3 msgDef platformBody">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="<%= basepath %>/home">Domain</a></li>
        <li class="breadcrumb-item active">Query Console</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">DB Query Console</h1>
    <!-- end page-header -->

    <!-- begin panel -->
    <div class="panel panel-inverse">
        <div class="panel-body" style="background-color: rgba(0, 0, 0, 0.01);border: 1px solid #eee;padding-bottom: 30px">

            <div class="row">
                <div class="col-md-4">
                    <div class="row">


                        <div class="col-md-12">
                            <div class="form-group queryBox">
                                <a href="javascript:void(0)" style="float: right;margin-left: 5px;text-decoration: none;color:#666"
                                   onclick="syncPool()" title="Sync DB Metadata"><i class="icon-reload"></i> sync</a>

                                <select id="pool_name" style="float:right" onchange="loadDBTable()">

                                </select>

                                <label>DB SQL Search Query</label>
                                <small style="display: block">(Press <b>CTRL + ENTER</b> to execute the query)</small>


                                <div id="queryEditor" style="width: 100%"></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <button class="btn btn-warning btn-sm" onclick="executeQuery()">Execute</button>
                        </div>

                    </div>

                </div>
                <div class="col-md-4" style="border-left:1px solid #eee">
                    <h5>Output Console <small style="float:right;font-size: 12px" class="loadingText"></small></h5>
                    <div id="resultEditor" style="width: 100%"></div>
                </div>
                <div class="col-md-4" style="border-left:1px solid #eee">
                    <h5>DB Table

                        <button class="btn btn-xs btn-default pull-right" onclick="loadDBTable()"><i class="icon-refresh"></i> Refresh</button>
                    </h5>

                    <div class="dbTable" style="background-color: #fff;overflow: auto">


                        <table class="table table-bordered" style="width:100%">
                            <thead>
                                <tr><th style="width: 30%">Table Name</th><th>Fields</th></tr>
                            </thead>
                            <tbody class="dbMetadata">
                            <tr><td colspan="2"><p style="text-align: center">No data found!</p></td></tr>
                            </tbody>
                        </table>

                    </div>



                </div>
            </div>


        </div>
    </div>
    <!-- end panel -->

</div>


<script src="js/editor/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/ext-searchbox.js" type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/ext-beautify.js"    type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/snippets/javascript.js" type="text/javascript" charset="utf-8"></script>
<script src="js/beautify.min.js" type="text/javascript"></script>

<script src="controllers/db-query-console.js" type="text/javascript"></script>
