
<div class="row-fluid mt-4">
<ul class="nav submenu bskp-submenu">
    <li class=""><a href="<%= basepath %>/home"><i class="fa fa-home"></i> </a></li>
    <li class=""><a href="<%= basepath %>/dashboard">Dashboard</a></li>
    <li class="active"><a href="<%= basepath %>/device-management">Manage Devices</a></li>
    <li><a href="<%= basepath %>/device-models">Manage Device Models</a></li>
<!--    <li class=""><a href="<%= basepath %>/sim-provisioning">Sim Provisioning</a></li>-->

</ul>
</div>
<div class="container platformBody bskp-mt-30">
   

    <!-- begin panel -->
    <div class="panel panel-inverse bskp-container-frame">

    <!-- begin breadcrumb -->
  <div>
    <ol class="breadcrumb pull-right bskp-align-icon">
        <li class="breadcrumb-item"><a href="<%= basepath %>/dashboard">Domain</a></li>
        <li class="breadcrumb-item"><a href="<%= basepath %>/device-management">Device Management</a></li>
        <li class="breadcrumb-item active">Manage Devices</li>
        <div class="ml-4">
            <a href="javascript:;" class="btn btn-sm btn-icon btn-circle  bskp-icon-bg" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            <a href="javascript:;" class="btn btn-sm btn-icon btn-circle bskp-icon-bg" title="Help" ><i class="icon-help"></i></a>
        </div>
    </ol>
  </div>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <div class="page-header bskp-page-topic"><img src="images/menu/message-definition_1-bskp.png" class="bskp-topic-icon mr-1" > Manage Devices
        <span class="panel-title ml-3" style="color: #478ecc;">Total Devices: <b><span class="deviceCount"></span></b></span> </div>
    
    <!-- end page-header -->


        <div class="panel-body" style="background-color: #eeeeee00;">
            <div class="row m-0">
                <div class="col-12">
                  <div class="btn-group btn-group-justified pull-right bskp-btn-group-align" >
                    <a class="btn bskp-btn-shadow bskp-blue-bg" onclick="openModal(1)"><i class="fa fa-plus-square"></i> <span class="hidden-xs">Add Device</span></a>
                    <a class="btn bskp-refresh-bg" data-click="panel-reload" onclick="loadDeviceList()"><i class="fa fa-refresh"></i></a>
                  </div>

                  <div class="bskp-table-layout">
                    <table class="table table-bordered bskp-table responsive no-wrap" id="deviceTable"  cellspacing="0" width="100%">

                    </table>
                  </div>

                </div>
            </div>
            <div class="btn-group btn-group-justified pull-right">
                
            </div>
            
        </div>
    </div>
    <!-- end panel -->

</div>

<script src="controllers/devices.js" type="text/javascript"></script>




<div id="addDevice" class="modal bskp-modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="templateAction"></span> Device</h4>
                <button type="button" class="close" data-dismiss="modal"   aria-label="Close"> <i class="fa fa-times" aria-hidden="true"></i> </button>
            </div>
            <form action="javascript:void(0)">
                <div class="modal-body">
                    <div  class="row">
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Device Id</label>
                                <input  class="form-control input-sm" placeholder="Enter Device ld" autocomplete="off" type="text" id="device_id" required>
                            </div>
                        </div>
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Device Name</label>
                                <input  class="form-control input-sm" placeholder="Enter Device Name" autocomplete="off" type="text" id="device_name" required>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Choose Device Model</label>
                                <select class="form-control input-sm" id="device_model" required onchange="assignVersion()">
                                </select>
                            </div>
                        </div>
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Device Version</label>
                                <input  class="form-control input-sm" placeholder="" type="text" id="device_version" readonly required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btnModal btn-secondary btn-proceed btnSubmit">Proceed</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="deleteModal" class="modal bskp-modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Device</h4>
                <button type="button" class="close" data-dismiss="modal"   aria-label="Close"> <i class="fa fa-times" aria-hidden="true"></i> </button>
            </div>
            <div class="modal-body">
                <h5>Are you sure want to delete <b><span class="deviceId"></span> device</b>?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-secondary btn-proceed btnModal" onclick="proceedDelete()">Proceed</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div id="deviceSettings" class="modal bskp-modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Device Board Configuration</h4>
                <button type="button" class="close" data-dismiss="modal"   aria-label="Close"> <i class="fa fa-times" aria-hidden="true"></i> </button>
            </div>
            <form action="javascript:void(0)">
                <div class="modal-body">
                    <div  class="row">
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Type of configuration</label>
                               <label style="font-weight: normal;display: block">
                                   <input onclick="checkConfig()" class="" placeholder="" checked type="radio" name="configType" value="device" required> Device Level</label>
                                <label style="font-weight: normal;display: block">
                                    <input  onclick="checkConfig()" class="" placeholder="" type="radio" name="configType" value="model" required> Device Model Level</label>
                            </div>
                        </div>
                        <div  class="col-md-12">
                            <div  class="form-group">
                                <div class="btn-group btn-group-justified pull-right">
                                    <a class="btn btn-default" onclick="uploadConfig()"><i class="icon-upload"></i> Upload</a>
                                    <a class="btn btn-default" onclick="downloadConfig()"><i class="icon-download"></i> Download</a>
                                </div>
                            </div>
                        </div>
                        <div  class="col-md-12">
                            <div  class="form-group">
                                <label  class="inputLabel">Board Configuration</label>
                                <textarea  class="form-control input-sm" id="board_config" placeholder="{name: 'value'}" required style="height: 200px;"></textarea>
                            </div>
                        </div>
                        <div  class="col-md-12">
                            <div  class="form-group">
                                <div class="timer_result" style="overflow: auto;overflow-x: hidden">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btnModal btn-secondary btn-proceed btnSubmit" onclick="saveSettings()">Save Configuration</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
