<style>
    .bskp-submenu2.nav>li.active>a:hover{
    background: #2D2F79 !important;
    color: #fff !important;
}
</style>
<link href="css/device-management.css" rel="stylesheet"/>
<div class="row-fluid mt-4">
<ul class="nav bskp-submenu2" >
    
    <li class=""><a href="<%= basepath %>/dashboard">Dashboard</a></li>
    <li><a href="<%= basepath %>/device-management">Manage Devices</a></li>
    <li class="active"><a href="<%= basepath %>/device-models">Manage Device Models</a></li>
    <li ><a href="<%= basepath %>/device-tokens">Manage Device Tokens</a></li>

</ul>
</div>
<div class="container platformBody ">
   
    
 <div class="panel panel-inverse bskp-container-frame">

    <div class="panel-header">  
        <div>
            <ol class="breadcrumb pull-right bskp-align-icon">
                <li class="breadcrumb-item"><a href="<%= basepath %>/home">Home</a></li>
                <li class="breadcrumb-item"><a href="<%= basepath %>/device-management">Device Management</a></li>
                <li class="breadcrumb-item active">Manage Device Models</li>
                <div class="ml-4">
                    <a href="javascript:;" class="btn btn-sm btn-icon btn-circle  bskp-icon-bg" data-click="panel-expand"><em class="fa fa-expand"></em></a>
                    <a href="javascript:;" class="btn btn-sm btn-icon btn-circle bskp-icon-bg" title="Help" ><em class="icon-help"></em></a>
                </div>
            </ol>
           </div>
            
            <div class="page-header bskp-page-topic"><img src="images/menu/hardware-fanta_1-bskp.svg" class="bskp-topic-icon mr-1" > Manage Device Models
                <span class="panel-title ml-3" >Total Device Models: <b><span class="deviceModelCount"></span></b></span> </div>
            
    </div>
    

        <div class="panel-body">
            <div class="row m-0">
                <div class="col-12">
                  <div class="btn-group btn-group-justified pull-right bskp-btn-group-align" >
                    <a class="btn bskp-btn-shadow bskp-blue-bg" onclick="openModal(1)"><img src="images/menu/plusicon.svg" class="bskp-plusvg"> <span class="hidden-xs">Add Device Model</span></a>
                    <a class="btn bskp-refresh-bg" data-click="panel-reload" onclick="loadDeviceModelList()" title="Refresh"><em class="fa fa-refresh"></em></a>
                  </div>
                  <div class="bskp-table-layout">
                    <table class="table table-bordered bskp-table responsive no-wrap" id="deviceModelTable">

                    </table>
                  </div>
               </div>
        </div>
        </div>
 </div>
    

</div>

<script src="controllers/device-model.js" type="text/javascript"></script>



<div id="addDevice" class="modal bskp-modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="templateAction"></span> Device Model</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <image src="images/menu/xicon.svg" class="bg-secondary"  style="border-radius: 13px;padding:3px">
                </button>
                
            </div>
            <form action="javascript:void(0)" novalidate onsubmit="addDevice();">
                <div class="modal-body">
                    <div  class="row">
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Model Id *</label>
                                <input  class="form-control input-sm" placeholder="Enter Model ld" maxlength="100" autocomplete="off" type="text" id="device_id" required>
                                <span id="logdevice_id"></span>
                            </div>
                        </div>
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Model Version *</label>
                                <input  class="form-control input-sm" placeholder="Enter Model Version" maxlength="100" autocomplete="off" type="text" id="device_version" required>
                                <span id="logdevice_version"></span>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <div  class="col-md-12">
                            <div  class="form-group">
                                <label  class="inputLabel">Description *</label>
                                <textarea class="form-control input-sm" id="device_desc" placeholder="Enter Description" maxlength="1000" autocomplete="off" required ></textarea>
                                <span id="logdevice_desc"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btnModal btn-secondary btn-proceed  btnSubmit ">Proceed</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div id="deleteModal" class="modal bskp-modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Device Model</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <image src="images/menu/xicon.svg" class="bg-secondary" style="border-radius: 13px;padding:3px">
                </button>
                
            </div>
            <div class="modal-body">
                <h5>Are you sure want to delete <b><span class="deviceId"></span> device model</b>?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btnModal btn-secondary btn-proceed btnSubmit" onclick="proceedDelete()">Proceed</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
svg




<div id="deviceSettings" class="modal bskp-modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Device Model Board Configuration</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <image src="images/menu/xicon.svg" class="bg-secondary" style="border-radius: 13px;padding:3px">
                </button>
                
            </div>
            <form action="javascript:void(0)" novalidate>
                <div class="modal-body">
                    <div  class="row">
                        <div  class="col-md-12">
                            <div  class="form-group">
                                <label  class="inputLabel">Board Configuration</label>
                                <textarea  class="form-control input-sm" id="board_config" placeholder="{name: 'value'}" required style="height: 200px;"></textarea>
                                <span id="logboard_config"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-close mr-4" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btnModal btn-secondary btn-proceed btnSubmit" onclick="saveSettings()">Save Configuration</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->