<link rel="stylesheet" href="css/bootstrap-colorpicker.min.css" />
<link rel="stylesheet" href="css/domain-settings.css" />

<div class="mt-2 platformBody domainPage container-fluid">
  <div class="panel panel-inverse">
    <div class="panel-body" style="padding-bottom:30px">
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-inverse" data-sortable-id="index-1">
            <div class="panel-body">
              <div id="content" class="domain-menu">
                <div class="ds-title">
                  <i class="icon-globe"></i> Domain Settings
                </div>
                <div class="ds-menus">
                  <div class="domain-list d-menu-active" onclick="openModal('license-status',this)">
                    <label>
                      <i class="icon-card"></i> Licence Status </label>
                    <br>
                    <small>Current Plan details</small>
                  </div>
                  <div class="domain-list" onclick="openModal('billing-overview',this)">
                    <label>
                      <i class="icon-dollar"></i> Billing Overview </label>
                    <br>
                    <small>Billing & Invoice</small>
                  </div>
                  <div class="domain-list" onclick="openModal('theme-layout',this)">
                    <label>
                      <i class="icon-paint-brush"></i> Theme & Layout </label>
                    <br>
                    <small class>Change the website theme</small>
                  </div>
                  <div class="domain-list" onclick="openModal('email-gateway',this)">
                    <label>
                      <i class="icon-envelope"></i> Email gateway </label>
                    <br>
                    <small>Configure Email</small>
                  </div>
                  <div class="domain-list" onclick="openModal('twilio-gateway',this)">
                    <label>
                      <i class="icon-phone"></i> Twilio gateway </label>
                    <br>
                    <small>Configure SMS & Voice</small>
                  </div>
                  <div class="domain-list" onclick="openModal('fcm-gateway',this)">
                    <label>
                      <i class="icon-mobile-phone"></i> FCM gateway </label>
                    <br>
                    <small>Configure push notification</small>
                  </div>
                  <div class="domain-list" onclick="openModal('udp-gateway',this)">
                    <label>
                      <i class="icon-th-list"></i> UDP Gateway </label>
                    <br>
                    <small>Configure UDP</small>
                  </div>
                  <div class="domain-list" onclick="openModal('custom-url',this)">
                    <label>
                      <i class="icon-globe"></i> Custom URL </label>
                    <br>
                    <small>Custom URL Re-routing</small>
                  </div>
                  <div class="domain-list" onclick="openModal('custom-login',this)">
                    <label>
                      <i class="icon-sign-in"></i> Custom Login </label>
                    <br>
                    <small>Change the Login Screen</small>
                  </div>
                  <div class="domain-list" onclick="openModal('google-map',this)">
                    <label>
                      <i class="icon-map-marker"></i> Google Map </label>
                    <br>
                    <small>Set Google Map Api Key</small>
                  </div>
                  <div class="domain-list" onclick="openModal('open-weather-map',this)">
                    <label>
                      <i class="icon-map5"></i> Open Weather Map </label>
                    <br>
                    <small>Set Open Weather Map Api Key</small>
                  </div>
                  <div class="domain-list" onclick="openModal('dark-sky',this)">
                    <label>
                      <i class="icon-file-code-o"></i> DarkSky </label>
                    <br>
                    <small>Set Dark Sky Api Key to lookup weather data</small>
                  </div>
                </div>
              </div>
              <div id="menu" class="show-domain">
                <div id="domainmodal">
                  <form action="javascript:void(0)" onsubmit="proceedSave()" onkeyup="Submit()" autocomplete="off">
                    <h4 id="blur_header" class="modal-title ds-header-title"></h4>
                    <div class="modal-body modalBody"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/bootstrap-colorpicker.min.js"></script>
<script src="controllers/domain.js"></script>

<!-- <script type="text/html" id="logoBranding"><div class="row"><div class="col-md-6"
             style="background-color: #4b4a49;padding: 5px;text-align: center;height:50px;overflow: hidden"><img src="" class="domain_logo_m" style="height:40px;"/></div><div class="col-md-6"><div class="form-group"><input type="file" id="logoFile" onchange="uploadImage()" required/><br><br><span class="grey" style="font-size:11px"><b>Criteria:</b><br>
                    * Only PNG & JPG supported<br>
                    * Width should be less than 200px<br>
                    * Height should be less than 50px.
                </span></div></div></div></script> -->

<script type="text/html" class="active" id="emailGateway">
  <div class="row ml-2">
    <div class="col-md-4">
      <div class="form-group">
        <label class="mb-2">Host</label>
        <input type="text" id="hostName" class="form-control input-sm" required autocomplete="off" />
      </div>
      <div class="form-group">
        <label class="mb-2">Password <a href="javascript:void(0)" class="emailpwd" style="text-decoration: none" title="Click here to copy Email Password">
            <i class="icon-copy2"></i>
          </a>
        </label>
        <input type="password" id="epassword" class="form-control input-sm" required autocomplete="off" />
      </div>
      <div class="form-group row">
        <div class="col-md-3 d-flex">
          <label>Host</label>
          <input class="mr-2 ml-2" type="checkbox" id="ssl" value="true" />
        </div>
        <div class="col-md-2 d-flex">
          <label>TLS</label>
          <input class="mr-2 ml-2" type="checkbox" id="tls" value="true" />
        </div>
        <div class="col-md-2 d-flex">
          <label>Debug</label>
          <input class="mr-2 ml-2" type="checkbox" id="debug" value="true" />
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="mb-2">Port</label>
        <input type="number" id="portNo" class="form-control input-sm" required />
      </div>
      <div class="form-group">
        <label class="mb-2">Primary Email</label>
        <input type="email" id="primaryEmail" class="form-control input-sm" required />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="mb-2">Username</label>
        <input type="email" id="euserName" class="form-control input-sm" required autocomplete="off" />
      </div>
      <div class="form-group">
        <label class="mb-2">Bounce Email</label>
        <input type="email" id="bounceEmail" class="form-control input-sm" required />
      </div>
      <div class="text-right mt-5">
        <button type="submit" class="btn btn-proceed btnModal">
          <i class="icon-save"></i> Save </button>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="twilioGateway">
  <div class="row ml-2">
    <div class="col-md-4">
      <div class="form-group">
        <label class="mb-2">SID</label>
        <input type="text" id="sid" class="form-control input-sm" required autocomplete="off" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="mb-2">Token <a href="javascript:void(0)" style="color:#333" onclick="toggleBox('token',this)" class="btn btn-icon btn-xs">
            <i class="icon-eye4"></i>
          </a>
          <a href="javascript:void(0)" class="tokenKey" style="text-decoration: none" title="Click here to copy Twilio Token">
            <i class="icon-copy2"></i>
          </a>
        </label>
        <input type="password" id="token" class="form-control input-sm" required autocomplete="off" />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="mb-2">Primary Phone</label>
        <input type="text" id="primaryPhone" class="form-control input-sm" required />
      </div>
    </div>
  </div>
  <div class="row ml-2">
    <div class="col-md-12">
      <div class="form-group d-flex">
        <label class="mr-2">Debug</label>
        <br>
        <input type="checkbox" id="debug" value="true" />
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-proceed btnModal">
          <i class="icon-save"></i> Save </button>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="fcmGateway">
  <div class="row ml-2">
    <div class="col-md-4">
      <div class="form-group">
        <label class="mb-2">API Key <a href="javascript:void(0)" style="color:#333" onclick="toggleBox('apiKey',this)" class="btn btn-icon btn-xs">
            <i class="icon-eye4"></i>
          </a>
          <a href="javascript:void(0)" class="fcmKey" style="text-decoration: none" title="Click here to copy FCM API Key">
            <i class="icon-copy2"></i>
          </a>
        </label>
        <input type="password" id="apiKey" class="form-control input-sm" required autocomplete="off" />
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group d-flex">
        <label class="mr-2">Debug</label>
        <br>
        <input type="checkbox" id="debug" value="true" />
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-proceed btnModal">
          <i class="icon-save"></i> Save </button>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="udpGateway">
  <div class="row ml-2">
    <div class="col-md-4">
      <div class="form-group">
        <label class="mb-2">Host</label>
        <input type="number" id="portNo" class="form-control input-sm" readonly required />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="mb-2">Port</label>
        <input type="number" id="threads" class="form-control input-sm" readonly required />
      </div>
    </div>
  </div>
  <div class="row ml-2">
    <div class="col-md-8">
      <div class="form-group">
        <label class="mb-2">Decorder Code</label>
        <small>(Groovy Code)</small>
        <textarea id="decoderCode" class="form-control" style="height: 200px;"></textarea>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-proceed btnModal">
          <i class="icon-save"></i> Save </button>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="themeAndLayout">
  <div class="row">
    <div class="col-md-3">
      <form action="javascript:void(0)" onsubmit="proceedSave()" autocomplete="off">
        <label class="ml-3 mb-2">logo Branding</label>
        <div style=" border-radius: 13px;border:2px dashed #ced9e8;width: 240px; height:50px;overflow: hidden">
          <img src="" class="domain_logo_m" style="height:40px;" />
        </div>
        <!-- <div class="img-bg"><img class="upload-image" src="images/camera.svg" alt=""></div> -->
    </div>
    <div class="col-2 mt-4">
      <input class="file-upload mt-2 mb-2" type="file" id="logoFile" accept="image/*" onchange="uploadImage()" />
    </div>
    <!-- <div class="col-2 mt-4"><div  class="text-right"><button type="submit" class="\x btn-apply">Apply</button></div></form></div>
        -->
  </div>
  <div class="row mt-2">
    <div class="col-md-3">
      <div class="form-group">
        <label class=" mb-2">Header Background</label>
        <br>
        <!--<input type="text" id="headerBg"/>-->
        <div id="headerBg" class="input-group colorpicker-component">
          <input type="text" value="" class="form-control" />
          <span class="input-group-addon">
            <i></i>
          </span>
          <!-- <img  src="images/edit_icon.svg" alt=""> -->
        </div>
      </div>
      <div class="form-group">
        <label class=" mb-2">Sub Header Background</label>
        <br>
        <!--<input type="text" id="subHeaderBg"/>-->
        <div id="subHeaderBg" class="input-group colorpicker-component">
          <input type="text" value="" class="form-control" />
          <span class="input-group-addon">
            <i></i>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class=" mb-2">Header & Sub Header Text Color</label>
        <br>
        <!--<input type="text" id="textColor"/>-->
        <div id="textColor" class="input-group colorpicker-component">
          <input type="text" value="" class="form-control" />
          <span class="input-group-addon">
            <i></i>
          </span>
        </div>
      </div>
      <div class=" text-left form-group">
        <button style="font-size:14px;height:32px;" class="btn  btn-proceed text-white  btn-sm" type="button" onclick="resetDefault()">Reset to Default</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="" style="border-right: 2px solid hsl(208deg 42% 94%);height: 270px;padding-left: 10px;padding-right: 10px;">
        <div class="form-group">
          <label class=" mb-2">Body Background</label>
          <br>
          <!--<input type="text" id="bodyBg"/>-->
          <div id="bodyBg" class="input-group colorpicker-component">
            <input type="text" value="" class="form-control" />
            <span class="input-group-addon">
              <i></i>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class=" mb-2">Panel Header Background</label>
          <br>
          <!--<input type="text" id="panelHeaderBg"/>-->
          <div id="panelHeaderBg" class="input-group colorpicker-component">
            <input type="text" value="" class="form-control" />
            <span class="input-group-addon">
              <i></i>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class=" mb-2">Layout</label>
          <br>
          <select class="form-control input-sm" id="bodyLayout" onchange="changeLayout(this.value)">
            <option value="container">Boxed</option>
            <option value="container-fluid">Full Width</option>
          </select>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-proceed btnModal">
            <i class="icon-save"></i> Save </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="form-group">
          <button style="border-radius:10px;" class="btn btn-default btn-sm" type="button" onclick="previewTheme()">Preview</button>
        </div>
        <div class="col-lg-12 bodyBg" style="border:1px solid hsl(212deg 25% 90%);height:215px;padding-top: 13px;">
          <div style="margin-bottom:8px;" class="headerBg">Header</div>
          <div style="border-top-left-radius: 10px;border-top-right-radius: 10px;height:35px;" class="subHeaderBg">Sub Header</div>
          <div class="divPanel" style="background-color: #fff;border-radius:10px;">
            <div style="height:35px;border-radius: 10px;color:black;" class="panelHeaderBg">Panel Header</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="loginUITheme">
  <div class="row ml-2">
    <div class="col-md-3">
      <div style="background-color: #fff;padding: 5px;text-align: center;height:50px;overflow: hidden;border: 2px dashed  #ced9e8;border-radius:13px;margin-bottom:8px;">
        <img src="" class="domain_logo_m pb-2" style="height:50px;" />
      </div>
      <div class="form-group">
        <label class="mb-2">Left Side Background Color</label>
        <br>
        <!--<input type="text" id="leftBg" class="form-control input-sm"/>-->
        <div id="leftBg" class="input-group colorpicker-component">
          <input type="text" value="" class="form-control" />
          <span class="input-group-addon">
            <i></i>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="mb-2">Left Side Bottom Background Color</label>
        <br>
        <!--<input type="text" id="leftBottomBg" class="form-control input-sm"/>-->
        <div id="leftBottomBg" class="input-group colorpicker-component">
          <input type="text" value="" class="form-control" />
          <span class="input-group-addon">
            <i></i>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="mb-2">Text Highlight Color</label>
        <br>
        <!--<input type="text" id="textColor" class="form-control input-sm"/>-->
        <div id="textColor" class="input-group colorpicker-component">
          <input type="text" value="" class="form-control" />
          <span class="input-group-addon">
            <i></i>
          </span>
        </div>
      </div>
      <div class=" text-left form-group">
        <button style="font-size:14px;height:32px;" class="btn  btn-proceed text-white  btn-sm" type="button" onclick="setCustomLoginDefault()">Reset to Default</button>
      </div>
    </div>
    <div class="col-md-3">
      <div class="" style="border-right: 2px solid hsl(208deg 42% 94%);height: 320px;padding-left: 10px;padding-right: 10px;">
        <div class="form-group mt-2">
          <input type="file" id="logoFile" onchange="uploadImage()" />
          <br>
          <br>
          <!-- <span class="grey" style="font-size:11px"><b>Criteria:</b><br>
                        * Only PNG & JPG supported<br>
                        * Width should be less than 200px<br></span> -->
        </div>
        <div class="form-group">
          <label class="mb-2">Button Color</label>
          <br>
          <!--<input type="text" id="buttonColor" class="form-control input-sm"/>-->
          <div id="buttonColor" class="input-group colorpicker-component">
            <input type="text" value="" class="form-control" />
            <span class="input-group-addon">
              <i></i>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label class="mb-2">Title Text</label>
          <br>
          <input type="text" id="titleName" class="form-control input-sm" />
        </div>
        <div class="form-group">
          <label class="mb-2">Slogan Text</label>
          <br>
          <input type="text" id="sloganText" class="form-control input-sm" />
        </div>
        <div style="margin-top:30px;" class="text-right ">
          <button type="submit" class="btn btn-proceed btnModal">
            <i class="icon-save"></i> Save </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="mb-2">HTML Code</label>
        <br>
        <textarea id="customHtml" class="form-control input-sm" style="height: 200px"></textarea>
        <small>Note: write html code with inline styles</small>
      </div>
      <p>Login URL: <a href="javascript:void(0)" class="domainURL"></a>
        <a href="javascript:void(0)" class="redirectURL" style="text-decoration: none" title="Click here to copy URL Address">
          <i class="icon-copy2"></i>
        </a>
      </p>
      <div></div>
    </div>
  </div>
</script>

<script type="text/html" id="googleMap">
  <div class="row ml-2">
    <div class="col-md-4">
      <div class="form-group">
        <label class="mb-2">API Key <a href="javascript:void(0)" style="color:#333" onclick="toggleBox('apiKey',this)" class="btn btn-icon btn-xs">
            <i class="icon-eye4"></i>
          </a>
          <a href="javascript:void(0)" class="apiKey" style="text-decoration: none" title="Click here to copy Google API Key">
            <i class="icon-copy2"></i>
          </a>
        </label>
        <input type="password" id="apiKey" class="form-control input-sm" required autocomplete="off" />
        <div class="text-right mt-4">
          <button type="submit" class="btn btn-proceed btnModal">
            <i class="icon-save"></i> Save </button>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="openWeatherMap">
  <div class="row ml-2">
    <div class="col-md-4">
      <div class="form-group">
        <label class="mb-2">API Key <a href="javascript:void(0)" style="color:#333" onclick="toggleBox('apiKey',this)" class="btn btn-icon btn-xs">
            <i class="icon-eye4"></i>
          </a>
          <a href="javascript:void(0)" class="apiKey" style="text-decoration: none" title="Click here to copy Open Weather Map API Key">
            <i class="icon-copy2"></i>
          </a>
        </label>
        <input type="password" id="apiKey" class="form-control input-sm" required autocomplete="off" />
      </div>
      <div class="text-right mt-4">
        <button type="submit" class="btn btn-proceed btnModal">
          <i class="icon-save"></i> Save </button>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="darkSkyMap">
  <div class="row ml-2">
    <div class="col-md-4">
      <div class="form-group">
        <label class="mb-2">API Key <a href="javascript:void(0)" style="color:#333" onclick="toggleBox('apiKey',this)" class="btn btn-icon btn-xs">
            <i class="icon-eye4"></i>
          </a>
          <a href="javascript:void(0)" class="apiKey" style="text-decoration: none" title="Click here to copy Dark Sky API Key">
            <i class="icon-copy2"></i>
          </a>
        </label>
        <input type="password" id="apiKey" class="form-control input-sm" required autocomplete="off" />
      </div>
      <div class="text-right mt-4">
        <button type="submit" class="btn btn-proceed btnModal">
          <i class="icon-save"></i> Save </button>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="customUrl">
  <div class="row ml-2">
    <div class="col-md-3">
      <div class="form-group">
        <label class="mb-2">Point this URL</label>
        <p style="border: 1px solid #cdd6e3;border-radius:10px ;padding: 6px;height:35px;">
          <span class="domainURL"></span>
          <a href="javascript:void(0)" class="redirectURL" style="text-decoration: none" title="Click here to copy URL Address">
            <i class="icon-copy2"></i>
          </a>
        </p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label class="mb-2">Protocol</label>
        <select class="form-control input-sm" id="protocol">
          <option value="https">https://</option>
          <option value="http">http://</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <label class="mb-2">URL Address</label>
      <input type="text" id="urlAddress" class="form-control input-sm" required autocomplete="off" />
      <div class="text-right mt-4">
        <button type="submit" class="btn btn-proceed btnModal">
          <i class="icon-save"></i> Save </button>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="billingOverview">
  <div class="row">
    <div class="col-lg-5 text-right pr-3"></div>
    <div class="price_rate col-ld-3 text-center">
      <div class="price_heading_free">
        <h4 class="mb-2 plan_free">Free</h4>
        <div class="" style="width: 150px;color: #fff;font-size:18px; height:40px;background-color:#6dccef;padding:10px; border-top-right-radius:18px;border-bottom-left-radius:18px;text-align:center;">
          <span>$0</span>
        </div>
      </div>
      <div class="price_heading_beginner">
        <h4 class="mb-2 plan_type_beginner">Beginner</h4>
        <div class="" style="width: 150px;color: #fff;font-size:18px; height:40px;background-color:#ecb030;padding:10px; border-top-right-radius:18px;border-bottom-left-radius:18px;text-align:center;">
          <span>$10</span>
        </div>
      </div>
      <div class="price_heading_basic">
        <h4 class="plan_type_basic">Basic</h4>
        <div class="" style="width: 150px;color: #fff;font-size:18px; height:40px;background-color:#f48865;padding:10px; border-top-right-radius:18px;border-bottom-left-radius:18px;text-align:center;">
          <span>$10</span>
        </div>
      </div>
      <div class="price_heading_preferred">
        <h4 class="plan_type_preferred">Preferred</h4>
        <div class="" style="width: 150px;color: #fff;font-size:18px; height:40px;background-color:#37bfb5;padding:10px; border-top-right-radius:18px;border-bottom-left-radius:18px;text-align:center;">
          <span>$10</span>
        </div>
      </div>
      <div class="price_heading_professional">
        <h4 class="plan_type_professional">Professional</h4>
        <div style="width: 150px;color: #fff;font-size:18px; height:40px;background-color:#5ea0d2;padding:10px; border-top-right-radius:18px;border-bottom-left-radius:18px;text-align:center;">
          <span>$10</span>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="text-right">
        <button onclick="openUpgrade()" class="btn-proceed btn text-white">Upgrade</button>
      </div>
    </div>
  </div>
  <div class="row ml-2">
    <div id="blur_inside" class="col-lg-2"></div>
    <div id="blur_inside_two" class="col-lg-3 mt-2">
      <div>
        <ol class="plan-items p-0">
          <li class="blue-bg">Data points</li>
          <li class="light-bg">API Hits</li>
          <li class="blue-bg">Devices</li>
          <li class="light-bg">Connected Devices</li>
          <li class="blue-bg">Tenants (Domains)</li>
          <li class="light-bg">Add-On Subscription</li>
          <li class="blue-bg"> Data Retentions</li>
          <li class="light-bg">Support</li>
        </ol>
      </div>
    </div>
    <div class="col-lg-3 mt-2 mx-0">
      <ol class="plan-items price_amount_free rates p-0">
        <li class="price_color_free m-0" style="border-top-right-radius: 12px;">10k</li>
        <li class="m-0">10k</li>
        <li class="price_color_free m-0">10k</li>
        <li class="m-0">10k</li>
        <li class="price_color_free m-0">10k</li>
        <li class="m-0">10k</li>
        <li class="price_color_free m-0">10k</li>
        <li class="m-0">10k</li>
      </ol>
      <ol class="plan-items rates price_amount_beginner p-0">
        <li class="price_color_beginner m-0" style="border-top-right-radius: 12px;">11k</li>
        <li class="m-0">11k</li>
        <li class="price_color_beginner m-0">11k</li>
        <li class="m-0">11k</li>
        <li class="price_color_beginner m-0">11k</li>
        <li class="m-0">11k</li>
        <li class="price_color_beginner m-0">11k</li>
        <li class="m-0">101</li>
      </ol>
      <ol class="plan-items rates p-0 price_amount_basic">
        <li class="price_color_basic m-0" style="border-top-right-radius: 12px;">12k</li>
        <li class="m-0">12k</li>
        <li class="price_color_basic m-0">12k</li>
        <li class="m-0">12k</li>
        <li class="price_color_basic m-0">12k</li>
        <li class="m-0">12k</li>
        <li class="price_color_basic m-0">12k</li>
        <li class="m-0">12</li>
      </ol>
      <ol class="plan-items price_amount_preferred rates p-0">
        <li class="price_color_preferred m-0" style="border-top-right-radius: 12px;">13k</li>
        <li class="m-0">13k</li>
        <li class="price_color_preferred m-0">13k</li>
        <li class="m-0">13k</li>
        <li class="price_color_preferred m-0">13k</li>
        <li class="m-0">13k</li>
        <li class="price_color_preferred m-0">13k</li>
        <li class="m-0">13</li>
      </ol>
      <ol class="plan-items price_amount_professional rates p-0">
        <li class="price_color_professional m-0" style="border-top-right-radius: 12px;">13k</li>
        <li class="m-0">13k</li>
        <li class="price_color_professional m-0">13k</li>
        <li class="m-0">13k</li>
        <li class="price_color_professional m-0">13k</li>
        <li class="m-0">13k</li>
        <li class="price_color_professional m-0">13k</li>
        <li class="m-0">13</li>
      </ol>
    </div>
    <div class="col-lg-4">
      <div id="slide">
        <div class="text-right mr-4 mt-3">
          <img style="cursor: pointer;" src="images/menu/xicon.svg" onclick="closeNav()" class="bg-secondary bskp-close">
        </div>
        <h4 style="margin-left:70px;" class="">Plan details with benifits</h4>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 text-center">
            <div class=" plan_benifit_box ">
              <div class="row">
                <div class="col-lg-2">
                  <div class="inside_price_free">
                    <h6 style="padding:15px; color: #ffffff;font-size:30px;font-weight:600;" class="text-center">$0</h6>
                  </div>
                </div>
                <div class="col-lg-3 mt-4">
                  <div style class="free_benifit ml-2">
                    <h6 class="">Free</h6>
                    <h6>(Not for commercial)</h6>
                  </div>
                </div>
                <div class="col-lg-4 text-right mt-4 pt-1">
                  <a class="plan_details_link" href="">plan details</a>
                </div>
                <div class="col-lg-3 mt-2">
                  <button style="background-color: #cccccc;
                                color: #666666;" class="btn-proceed mt-3 text-white free_btn" disabled>Select plan &nbsp ></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 text-center">
            <div class=" plan_benifit_box ">
              <div class="row">
                <div class="col-lg-2">
                  <div class="inside_price_beginner">
                    <h6 style="padding:15px; color: #ffffff;font-size:30px;font-weight:600;" class="text-center">$10</h6>
                  </div>
                </div>
                <div class="col-lg-3 mt-4">
                  <div style class="beginner_benifit ml-2">
                    <h6 class="mt-2">Beginner</h6>
                  </div>
                </div>
                <div class="col-lg-4 text-right mt-4 pt-1">
                  <a class="plan_details_link" href="">plan details</a>
                </div>
                <div class="col-lg-3 mt-2">
                  <button onclick="BegginerPlan()" class="btn-proceed mt-3 text-white">Select plan &nbsp ></button>
                  <div id="inside_slide">
                    <div style="margin-top:70px;" class="text-right mr-4">
                      <img style="cursor: pointer;" src="images/menu/xicon.svg" onclick=" CloseBegginerPlan()" class="bg-secondary bskp-close">
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <h4 style="font-size:18px;" class="text-left pl-5">Plan details</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6">
                        <h4 id="plan_type" style="font-size:18px;" class="text-left pl-5 plan_type_beginner">Beginner</h4>
                      </div>
                      <div class="col-lg-6">
                        <h4 id="plan_price" style="font-size:18px;" class="text-center pl-5 plan_type_beginner">$10</h4>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-1"></div>
                      <div class="col-lg-10">
                        <div class="row text-left">
                          <div class="col-lg-12">
                            <table class="table">
                              <thead style="background-color: #1f1f53;" class="">
                                <tr>
                                  <img class="tick-right ml-1 mt-1" src="images/tick-right.svg" alt="">
                                  <th class="text-white pl-4" scope="col">benifits</th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="price_color_free">
                                  <td colspan="2">Data Points</td>
                                  <td colspan="2">2M</td>
                                </tr>
                                <tr class="">
                                  <td colspan="2">API Hits</td>
                                  <td colspan="2">20K</td>
                                </tr>
                                <tr class="price_color_free">
                                  <td colspan="2">Devices</td>
                                  <td colspan="2">25</td>
                                </tr>
                                <tr class="">
                                  <td colspan="2">Connected Devices</td>
                                  <td colspan="2">10</td>
                                </tr>
                                <tr class="price_color_free">
                                  <td colspan="2">Tenants (Domains) </td>
                                  <td colspan="2">1</td>
                                </tr>
                                <tr class="">
                                  <td colspan="2">Data Retentions</td>
                                  <td colspan="2">24M Data Points</td>
                                </tr>
                                <tr class="price_color_free">
                                  <td colspan="2">Add-On Subscription</td>
                                  <td colspan="2">Yes</td>
                                </tr>
                                <tr class="">
                                  <td colspan="2">Supports(response)</td>
                                  <td colspan="2">Email-in 2 days</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 text-center">
                            <button class="btn-proceed text-white">Buy Now</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 text-center">
            <div class=" plan_benifit_box ">
              <div class="row mt-3">
                <div class="col-lg-2">
                  <div class="inside_price_basic">
                    <h6 style="padding:15px; color: #ffffff;font-size:30px;font-weight:600;" class="text-center">$49</h6>
                  </div>
                </div>
                <div class="col-lg-3 mt-4">
                  <div style class="basic_benifit ml-2">
                    <h6 class="mt-2">Basic</h6>
                    <!-- <h6>(Not for commercial)</h6> -->
                  </div>
                </div>
                <div class="col-lg-4 text-right mt-4 pt-1">
                  <a class="plan_details_link" href="">plan details</a>
                </div>
                <div class="col-lg-3 mt-2">
                  <button onclick="BasicPlan()" class="btn-proceed mt-3 text-white">Select plan &nbsp ></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 text-center">
            <div class=" plan_benifit_box ">
              <div class="row">
                <div class="col-lg-2">
                  <div class="inside_price_preferred">
                    <h6 style="padding:15px; color: #ffffff;font-size:30px;font-weight:600;" class="text-center">$99</h6>
                  </div>
                </div>
                <div class="col-lg-3 mt-4">
                  <div style class="preferred_benifit ml-2">
                    <h6 class="mt-2">Preferred</h6>
                  </div>
                </div>
                <div class="col-lg-4 text-right mt-4 pt-1">
                  <a class="plan_details_link" href="">plan details</a>
                </div>
                <div class="col-lg-3 mt-2">
                  <button onclick="PreferredPlan()" class="btn-proceed mt-3 text-white">Select plan &nbsp ></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3 pb-4">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 text-center">
            <div class=" plan_benifit_box ">
              <div class="row">
                <div class="col-lg-2">
                  <div class="inside_price_professional">
                    <h6 style="padding:15px; color: #ffffff;font-size:30px;font-weight:600;" class="text-center">$149</h6>
                  </div>
                </div>
                <div class="col-lg-3 mt-4">
                  <div style class="professional_benifit ml-2">
                    <h6 class="mt-2">Professional</h6>
                  </div>
                </div>
                <div class="col-lg-4 text-right mt-4 pt-1">
                  <a class="plan_details_link" href="">plan details</a>
                </div>
                <div class="col-lg-3 mt-2">
                  <button onclick="ProfessionalPlan()" class="btn-proceed mt-3 text-white">Select plan &nbsp ></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>