<!DOCTYPE html>
<html lang="en" class="ie8">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7"/>

    <title>Boodskap - Highly Scalable IoT Platform</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"
          name="viewport"/>

    <meta name="description"
          content="Boodskap is a disruptive (IoT) Platform helps to quickly connect any hardware devices and to rapidly build connected applications in a cost efficient manner"/>
    <meta name="keywords"
          content="boodskap.io, boodskap inc, boodskap, boodskap platform,iot starter kit, iot, internet of things, iot devices,what is internet of things,iot platform,iot applications,iot sensors,iot internet of things,industrial iot,industrial internet of things, m2m">

    <meta content="Boodskap Inc.," name="author"/>


    <meta name="theme-color" content="#fac300"/>

    <meta name="google-play-app" content="app-id=io.boodskap.platform">
    <meta name="apple-itunes-app" content="app-id=1398841657">

    <!-- Facebook Share -->
    <meta property="og:url" content="https://platform.boodskap.io"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Boodskap - Highly Scalable IoT Platform"/>
    <meta property="og:description"
          content="Boodskap is a disruptive (IoT) Platform helps to quickly connect any hardware devices and to rapidly build connected applications in a cost efficient manner"/>
    <meta property="og:image" content="https://boodskap.io/images/boodskap-logo.png"/>


    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "https://platform.boodskap.io",
            "logo": "https://boodskap.io/images/boodskap-logo.png",
            "name": "Boodskap - Highly Scalable IoT Platform",
            "description": "Boodskap is a disruptive (IoT) Platform helps to quickly connect any hardware devices and to rapidly build connected applications in a cost efficient manner",
            "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "+1-833-266-3752",
                "contactType": "Customer Service"
              },
              "sameAs": [
                "https://www.facebook.com/boodskapiot",
                "https://twitter.com/boodskapIOT",
                "https://www.linkedin.com/company/16180585",
                "https://www.youtube.com/channel/UC1yOEmlV7mBfKI1aHSMk3GQ"
              ]
        }

    </script>


    <link href="images/favicon.ico" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"/>
    <link href="css/jquery-ui.min.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/animate.min.css" rel="stylesheet"/>
    <link href="css/style.min.css" rel="stylesheet"/>
    <link href="css/style-responsive.min.css" rel="stylesheet"/>
    <link href="css/default.css" rel="stylesheet" id="theme"/>
    <link href="css/fontawesome-all.min.css" rel="stylesheet"/>
    <script src="libraries/pace.min.js"></script>

    <base href="<%=basepath %>/" />

</head>
<body class="pace-top bg-white">
<input type="hidden" id="customLogin" value="<%= key %>" />
<div id="page-loader" class="fade show"><span class="spinner"></span></div>
<div id="page-container" class="fade">
   <div class="container-fluid">
       <div class="row" style="border-right: 1px solid #eee;background-color: #fac300;height:100vh">

           <div class="col-md-6 offset-3 mt-4" style="">
               <div style="background-color: #fff;padding:20px;border:1px solid #ccc">
                   <div style="text-align: center">
                    <img src="<%=basepath%>/images/bdskap-logo.png" style="height: 55px" />
                    </div>
                   <h5>Domain License</h5>
                    <form action="javascript:void(0)" onsubmit="applyLicense()">
                   <textarea class="form-control" id="licenseData" required  style="border:1px solid #ccc;resize: none;height:350px;"></textarea>
                   <button type="submit" class="btn btn-block btn-warning mt-2">Import Domain License</button>
                    </form>
                   <p class="text-center text-grey-darker mt-3">
                       &copy; <span class="currentYear"></span> All rights reserved.
                       <a href="https://boodskap.io" target="_blank" class="text-warning textColor">
                           <img src="<%=basepath%>/images/powered-by-boodskap.png" style="height: 25px" />
                       </a>
                   </p>
                   <p class="text-center" style="font-size: 11px;color:#ccc">Dashboard Version: <b><span
                           class="webVersion"></span></b>
                       <span style="color:#ccc">|</span> Platform Version: <b><span class="apiVersion"></span></b></p>
               </div>

           </div>

       </div>
   </div>

</div>

<script src="libraries/jquery-3.5.1.min.js"></script>
<script src="libraries/jquery-ui.min.js"></script>
<script src="libraries/bootstrap.bundle.min.js"></script>
<script src="libraries/html5shiv.js"></script>
<script src="libraries/respond.min.js"></script>
<script src="libraries/excanvas.min.js"></script>
<script src="libraries/jquery.slimscroll.min.js"></script>
<script src="libraries/js.cookie.js"></script>
<script src="libraries/default.min.js"></script>
<script src="libraries/apps.min.js"></script>
<script src="js/moment.js"></script>

<script src="platform-config.js"></script>
<script src="controllers/const-variables.js"></script>
<script src="controllers/utils.js"></script>
<script src="controllers/api-calls.js"></script>
<script src="controllers/license.js"></script>


<script>
    $(document).ready(function () {
        App.init();
    });
</script>
</body>
</html>

