<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<style>
    #page-container{
        background-color: hsl(205deg 40% 94%);
    }
    .bskp-submenu2 li.active {
        background-color: #2d2f79;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        font-weight: 600;
        
        color:white;
    }

    .bskp-submenu2 li.active>a {
        color:white;
        
    } 

    .bskp-submenu2 {
        height: 35px;
        border-radius: 10px;
        margin: 40px 39px 0px 40px !important;
    
    }

    .bskp-submenu2 li a {
        color: rgb(0, 0, 0);
    }

    .bskp-submenu2 li {
        line-height: 30px;
        padding: 3px 15px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        /* border-right: 1px solid #e8e8e8; */
        background-color:#fff;
    }


    .bskp-submenu2 li a:hover {
        text-decoration: none;
        color: rgb(54, 48, 48) !important;
    }

    .bskp-submenu2 li.active a:hover {
        /* text-decoration: none; */
        color: rgb(58, 41, 41) !important;
        /* background-color: none!important; */
    }

    .bskp-submenu2 li:first-child>a>i {
        font-size: 16px;
        color: darkslategrey;
    }
 
    .bskp-submenu2 li:first-child>a:hover>i {
        font-size: 16px;
        
    }

    /* .bskp-container-frame{
        position: relative!important;
        top: -5px;
    } */ 

    .bskp-page-topic {
        font-size: 10px;
        font-weight: 600;
        color: #3e3e3e;
        padding: 12px 30px;
        box-shadow: 0px 2px 8px 0px #e6eaf8e3;
    }

    .bskp-modal textarea {
        min-height: 50px;
    }
    .refreshbutton:hover{
        background-color: #2d2f79;
    }
    .firmwareicon{
        
        
        width: 30px;
        height: 24px;
    }
    .select2-container--default .select2-selection--single{
        border-radius: 20px !important;
    }
    .refresh:hover{
        background-color:#2d2f79;
    }
    
    .bskp-modal label{
        font-size:13px ;
        font-weight: 600;
    }
    .bskp-submenu2{
        position: relative;
        top:4px;
    }
    .bskp-container-frame{
        position: sticky;
    }
    a{
        padding-bottom: 5px;
    }
     .nav>li.firmwareactive>:hover{
        background:#2d2f79 !important;
        color: #ffffff;
        list-style: none;
    }
</style>
<div class="row-fluid">
    <ul class="nav bskp-submenu2">
        <li class="active firmwareactive" style="font-size: 13px !important;font-weight:600; padding-bottom:10px"><a href="<%= basepath %>/firmware-management">Manage Firmwares</a></li>
        <li style="font-size: 13px !important;font-weight:600;padding-bottom:10px"><a href="<%= basepath %>/firmware/ota-upgrade">OTA Upgrade</a></li>
    </ul>

</div>

<div class="container platformBody ">
    <div class="panel panel-inverse bskp-container-frame">
        <div>
            <ol class="breadcrumb pull-right bskp-align-icon">
                <li class="breadcrumb-item"><a href="<%= basepath %>/dashboard">Domain</a></li>
                <li class="breadcrumb-item"><a href="<%= basepath %>/firmware-management">Firmware Management</a></li>
                <li class="breadcrumb-item active">Manage Firmwares</li>
                <div class="ml-3">
                    <a href="javascript:;" class="btn btn-sm btn-icon btn-circle  bskp-icon-bg"
                        data-click="panel-expand"><image src="images/menu/max.SVG" height="14px"></a>
                    <a href="javascript:;" class="btn btn-sm btn-icon btn-circle bskp-icon-bg" title="Help">
                        <image src="images/menu/Question_icon (2).PNG"></a>

                </div>
                            </ol>

        </div>
        <!-- end breadcrumb -->
        <div class="page-header bskp-page-topic"><img src="images/menu/firmware.SVG"
                class="bskp-topic-icon mr-1  firmwareicon" > 
        <span class="page-header" style="margin-left:0px;font-size:20px ;font-weight: 600;">Manage Firmware</span>

            <span class="panel-title ml-3 " style="color: #2d2f79;">Total Devices:<span
                        class="firmwareCount"></span></span>

        </div>

        <!-- end page-header -->

        <div class="panel-body" style="background-color: #eeeeee00;padding-bottom: 30px;">

            <div class="well well-sm">
                <div class="row">
                    <div class="col-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Choose Device Model</label>
                                <select id="deviceModel" class="ml-1 mr-1 form-control input-sm"
                                    onchange="loadFirmwareList()">
                                    <option value=""></option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div>
                           <div class="btn-group btn-group-justified pull-right bskp-btn-group-align">
                                <a class="btn btn bskp-btn-shadow bskp-blue-bg" style="font-size: 14px;font-weight: 500;" onclick="openModal(1)"> 
                                    <image src="images/menu/plusic.SVG" style="position: relative;bottom:1px"> <span class="hidden-xs">Upload Firmware</span></a>
                               <div data-toggle="tooltip" data-placement="top" title="Refresh">
                                        <a class="btn bskp-refresh-bg refreshbutton" data-click="panel-reload" onclick="loadOTA()"><i
                                        class="fa fa-refresh"></i></a>
                                    </div>
                            </div>
                            <div class="bskp-table-layout">
                                <table class="table table-bordered table-hover bskp-table responsive no-wrap"
                                    id="firmwareTable" cellspacing="0" width="100%" style="clear: both">

                                </table>
                            </div>
                            <!-- <div class="btn-group btn-group-justified pull-right">
                        <a class="btn btn-default" onclick="openModal(1)"><i class="icon-upload"></i> <span class="hidden-xs">Upload Firmware</span></a>
                        <a class="btn btn-default "  data-click="panel-reload" onclick="loadFirmwareList()"><i class="fa fa-refresh"></i></a>
                    </div> -->
                        </div>
                    </div>
                </div>
            </div>






        </div>



    </div>
</div>
<!-- end panel -->


<div id="addFirmware" class="modal bskp-modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="templateAction"></span> Firmware</h4>
                <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <image src="images/menu/x.svg" class="bg-secondary" style="border-radius: 13px;padding:3px">  <span aria-hidden="true">&times;</span></button>
            </div>
            <form action="javascript:void(0)" onsubmit="addFirmware()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="inputLabel">Model ID</label>
                                <select class="form-control input-sm modelId" id="f_device_model" required>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="inputLabel">Firmware Version</label>
                                <input class="form-control input-sm firmwareVersion" maxlength="10"
                                    placeholder="Enter The Firmware Version" type="text" id="firmware_version" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="inputLabel">Description</label>
                                <textarea class="form-control input-sm Description" id="firmware_desc" maxlength="1000"
                                    required></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="inputLabel" style="display: block; font-size:13px ;
                                font-weight: 600;">Choose Firmware File</label>
                                <input type="file" name="tfile" id="firmwareFile" class="btn" required>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-secondary btn-close" onclick='onclosebutton()'
                        data-dismiss="modal" style="width:110px;font-size: 14px;font-weight: 500;">Close</button>
                    <button type="submit" class="btn btnModal  btn-proceed btnSubmit" style="font-weight:500;background-color: #2d2f79; width:110px;font-size: 14px;">Proceed</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Firmware</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h5>Are you sure want to delete <b><span class="firmwareVersion"></span></b> version firmware file?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btnModal" onclick="proceedDelete()">Proceed</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div id="uploadDevice" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="templateAction"></span> Device</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <form action="javascript:void(0)" onsubmit="uploadDevice()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="inputLabel">Model ID</label>
                                <p class="modelId"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="inputLabel">Firmware Version</label>
                                <p class="firmwareVersion"></p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="inputLabel">Choose Device ID</label>
                                <div class="dropdown">
                                    <div class="btn btn-sm dropdown-toggle"
                                        style="width: 100%;border: 1px solid #3e373738;" type="" id="dropdownMenu1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <input type="text" style="" class="input-sm inputDevice"
                                            placeholder="Search by device id, name, model, version" id="deviceID"
                                            onkeyup="loadDeviceList(this.value)">
                                    </div>
                                    <ul class="dropdown-menu deviceListUl" aria-labelledby="dropdownMenu1">
                                        <!--<li class="deviceListLi" onclick="setDeviceId()">
                                            {{device.name ? device.name : device.id}} | {{device.modelId}} [<b>{{device.version}}</b>]
                                        </li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="timer_result" style="overflow: auto;overflow-x: hidden">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btnModal btnSubmit">Proceed</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $(document).ready(function(){
        $("#deviceModel").select2();
      
    })
    
    </script>
    
    
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="controllers/firmware.js" type="text/javascript"></script>

