<!-- Google Map Library -->
<link href="css/geofence-create.css" rel="stylesheet"  />
<div class="container msgDef platformBody mt-3">

    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="<%= basepath %>/dashboard">Domain</a></li>
        <li class="breadcrumb-item"><a href="<%= basepath %>/geofence">Geofence</a></li>
        <li class="breadcrumb-item active">Create Geofence</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header"><a href="<%= basepath %>/geofence" class="btn btn-sm btn-secondary"><i class="icon-chevron-left"></i> Back</a>  Create Geofence</h1>

        <div class="panel panel-inverse" data-sortable="false">
            <!--<div class="panel-heading">
                <div class="panel-heading-btn">

                    <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-success" data-click="panel-reload" onclick="loadMessages()"><i class="fa fa-redo"></i></a>
                    <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-warning" title="Help"><i class="icon-help"></i></a>

                </div>
                <h4 class="panel-title">Create Geofence</h4>
            </div>-->
            <div class="panel-body" style="background-color: #eeeeee00;border: 1px solid #eee;padding:0px">

                <div class="row">
                    <div class="col-lg-9" style="padding:0px">
                        <div id="geoMap" style="width: 100%"></div>
                        <div>
                            <div class="map-top-tools">
                                <div class="map-tools panel-heading">Tools</div>
                                <div class="g-list-tools">
                                    <!--
                                        <button class="min-tool-btn btn widgetButton"> <i class="icon-plus" aria-hidden="true" ></i> </button>
                                            <br>
                                        <button class="min-tool-btn btn " > <i class="icon-search" aria-hidden="true"></i> </button>
                                            <br>
                                        <button class="min-tool-btn btn "> <i class="icon-filter" aria-hidden="true"></i> </button>
                                    -->
                                    <button class="min-tool-btn btn" id="DEFAULT" onclick="mapTools('DEFAULT')" title="Move"> <i class="icon-hand-paper-o" aria-hidden="true"></i> </button>
                                    <br>
                                    <button class="min-tool-btn btn" onclick="resetAll()" title="Reset Map"> <i class="icon-refresh" aria-hidden="true"></i> </button>
                                    <br>
                                    <button class="min-tool-btn btn" id="POLYGON"  onclick="mapTools('POLYGON')" title="Polygon">
                                        <!--<i class="icon-object-ungroup" aria-hidden="true"></i>-->
                                        <img src="images/map/polygon.png">
                                    </button>
                                    <br>
                                    <button class="min-tool-btn btn" id="LINESTRING"  onclick="mapTools('LINESTRING')" title="Polyline"> <img src="images/map/polyline.png"> </button>
                                    <br>
                                    <button class="min-tool-btn btn" id="CIRCLE"  onclick="mapTools('CIRCLE')" title="Circle"> <i class="icon-circle-o" aria-hidden="true"></i> </button>
                                    <br>
                                    <button class="min-tool-btn btn" id="POINT" onclick="mapTools('POINT')" title="Marker / Point"> <i class="icon-map-marker" aria-hidden="true"></i> </button>
                                    <br>
                                </div>
                            </div>
                            <!--<a class="btn map-btn" href="<%= basepath %>/geofence"><i class="fa fa-chevron-left"></i> Goto, Geofence Management</a>-->
                        </div>
                    </div>
                    <div class="col-lg-3" style="padding-left: 0px">

                                <div class="panel panel-inverse" data-sortable="false">
                                    <div class="panel-heading">
                                        <div class="panel-heading-btn">
                                            <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-warning" title="Help"><i class="icon-help"></i></a>
                                        </div>
                                        <h4 class="panel-title">Create Geofence</h4>
                                    </div>
                                    <div class="panel-body" style="background-color: #eeeeee00;border: 1px solid #eee;">

                                        <form name="form" action="javascript:void(0);" onsubmit="createNewGeofence()" id="geoCreateForm" class="login-form">

                                            <div class="geoBody" style="overflow: auto;overflow-x: hidden">
                                            <!-- <div class="form-group">
                                                <label for="name">Geofence Type <sup>*</sup></label>
                                                <select class="selectBox" name="geofenceCreateType" id="geofenceCreateType" required>
                                                    <option value="ENTITY">Entity Geofence</option>
                                                    <option value="ASSET">Asset Geofence</option>
                                                    <option value="DEVICE">Device Geofence</option>
                                                </select>
                                            </div> -->

                                            <div class="search-panel">
                                                <div class="form-group">
                                                    <label for="name" style="color: #999;">Search Your Location</label>
                                                    <input type="text" class="form-control geo-input" placeholder="Search Your Location" name="locationSearch" id="locationSearch">
                                                </div>
                                            </div>


                                            <div class="form-group mt-2">
                                                <label for="name">Geofence Name <sup>*</sup></label>
                                                <input type="text" class="form-control geo-input" placeholder="Geofence Name" name="name" id="name" required>
                                            </div>

                                            <div class="form-group">
                                                <label for="name">Geofence Type <sup>*</sup></label>
                                                <select class="selectBox form-control geo-input" name="geoType" id="geoType" required>
                                                    <option value="POINT" onclick="mapTools('POINT')">POINT</option>
                                                    <option value="CIRCLE" onclick="mapTools('CIRCLE')">CIRCLE</option>

                                                    <!--<option value="ENVELOPE">ENVELOPE</option>-->
                                                    <option value="LINESTRING" onclick="mapTools('LINESTRING')">LINESTRING</option>
                                                    <option value="POLYGON" onclick="mapTools('POLYGON')">POLYGON</option>
                                                    <!--<option value="MULTIPOINT">MULTIPOINT</option>-->
                                                    <!--<option value="MULTILINESTRING">MULTILINESTRING</option>-->
                                                    <!--<option value="MULTIPOLYGON">MULTIPOLYGON</option>-->
                                                    <!--<option value="GEOMETRYCOLLECTION">GEOMETRYCOLLECTION</option>-->
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label for="name">Label <sup>*</sup></label>
                                                <input type="text" class="form-control geo-input" placeholder="label" name="locationSearch" id="label" required>
                                            </div>
                                            

                                            <!-- <div class="form-group">
                                                <label for="category1">Geofence Category <sup>*</sup></label>
                                                <input type="text" class="form-control geo-input" placeholder="category" name="category1" id="category1" required>
                                            </div> -->

                                            <div class="coordinates">

                                                <!--POINT-->
                                                <div id="GEOTYPE_POINT" class="geo-type-fields">

                                                    <div class="form-group">
                                                        <label for="name">Latitude <sup>*</sup></label>
                                                        <input type="text" class="form-control geo-input" placeholder="Latitude" name="lat"  id="pointLat" >
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="name">Longitude <sup>*</sup></label>
                                                        <input type="text" class="form-control geo-input" placeholder="Longitude" name="lng"  id="pointLong">
                                                    </div>
                                                </div>

                                                <!--CIRCLE-->
                                                <div style="display: none;" id="GEOTYPE_CIRCLE" class="geo-type-fields">

                                                    <p class="sm-title">Circle Center  <i style="font-size: 11px;">(Lat,Long)</i></p>

                                                    <div class="form-group">
                                                        <label for="name">Latitude <sup>*</sup></label>
                                                        <input type="text" class="form-control geo-input" placeholder="Latitude" name="lat"  id="bskpLat">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="name">Longitude <sup>*</sup></label>
                                                        <input type="text" class="form-control geo-input" placeholder="Longitude" name="lat"  id="bskpLong">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="name">Circle Radius <sup>*</sup> <i style="font-size: 11px;">(meter)</i></label>
                                                        <input type="text" class="form-control geo-input" placeholder="Radius" name="radius"  id="bskpCircleRadius">
                                                    </div>
                                                </div>


                                                <!--LINESTRING-->
                                                <div style="display: none;" id="GEOTYPE_LINESTRING" class="geo-type-fields">

                                                    <p class="sm-title">Linestring Coordinates <i style="font-size: 11px;">(Eg: <code>[[-77.03, 38.89], [-77.05, 38.88]]</code>)</i></p>

                                                    <div class="form-group">
                                                        <label for="name">Coordinates <sup>*</sup> <i style="font-size: 11px;">(meter)</i></label>
                                                        <textarea type="text" class="form-control geo-input" placeholder="Enter Coordinates" name="coordinatesGroup"  id="linestringCoordinates"></textarea>
                                                    </div>
                                                </div>


                                                <!--POLYGON-->
                                                <div style="display: none;" id="GEOTYPE_POLYGON" class="geo-type-fields">
                                                    <!--<p class="sm-title">Polygon Coordinates <i style="font-size: 11px;">(Eg: <code>[[-77.03, 38.89], [-77.05, 38.88],...,[-77.03, 38.89]]</code>)</i></p>-->

                                                    <div class="form-group">
                                                        <label for="name">Polygon Coordinates <sup>*</sup> <i style="font-size: 11px;">(Eg: <code>[[-77.03, 38.89], [-77.05, 38.88],...,[-77.03, 38.89]]</code>)</i></label>
                                                        <textarea type="text" class="form-control geo-input" placeholder="Enter Coordinates" name="coordinatesGroup" id="polygonCoordinates"></textarea>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label for="description">Description</label>
                                                <textarea type="text" class="form-control geo-input" placeholder="Description" name="description"
                                                          id="description"></textarea>
                                            </div>

                                            </div>
                                            <div class="btn-group btn-group-justified pull-right">
                                                <button type="button" class="btn btn-default" onclick="mapPreview()"><i class="icon-eye"></i> Preview</button>
                                                <button type="submit" class="btn btn-default" onclick="createNewGeofence()"><i class="icon-plus-square"></i> Create</button>
                                            </div>



                                        </form>

                                    </div>
                                </div>







                        <!--<div id="geofenceSlider">
                            <h3 class="panel-heading" style="margin: 0;">
                                <span>Create Geofence</span>

                                <select class="selectBox geo-input" name="geofenceCreateType" id="geofenceCreateType" style="float: right;margin-top: -4px;">
                                    <option value="ENTITY">Entity Geofence</option>
                                    <option value="ASSET">Asset Geofence</option>
                                    <option value="DEVICE">Device Geofence</option>
                                </select>

                            </h3>
                            <div class="geo-create-form">

                            </div>
                        </div>-->
                    </div>
                </div>




            </div>
        </div>

</div>

<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Geofence</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h5 style="text-align: center;">
                    Are you sure want to delete
                    <br>
                    <code style="margin-top: 4px;display: inline-block;margin-bottom: 5px;"><span class="geofenceId"></span></code>
                    <br>
                    Geofence?
                </h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btnModal" onclick="proceedDelete()">Proceed</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="js/markerclusterer.js"></script>
<script src="controllers/geofence-create.js"></script>
