<!-- Google Map Library -->
<link href="css/geofence.css" rel="stylesheet"  />
<div id="maskLayer" style="display:none;position: absolute;height: 100vh;z-index: 1;width: -webkit-fill-available;background-color: #dad4d469;"></div>
<div class="container mt-3 msgDef platformBody">

    <div class="row mt-2">
        <div class="col-lg-5">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb pull-right">
                <li class="breadcrumb-item"><a href="<%= basepath %>/home">Home</a></li>
                <li class="breadcrumb-item active"><u>Geofence Management</u></li>
            </ol>
            <!-- end breadcrumb -->
            <!-- begin page-header -->
            <img class=" ml-2 mb-2" src="images/menu/geofence-fanta-bskp.svg" height="30px" alt="logo_img">
            <span class="page-header">Geofence Management</span>
            <!-- end page-header -->

            <!-- begin panel -->


            <div class="panel panel-inverse bskp-container-frame mx-0 mt-2" id="cardExpand">
                <div class="page-header bskp-page-topic d-flex justify-content-between align-items-center m-0">
                    <h4 class="panel-title">Total Geofence: <b><span class="geofenceCount"></span></b></h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-sm btn-icon btn-circle bskp-icon-bg" onclick="expand()" data-click="panel-expand" title="Expand"><i class="fa fa-expand-alt"></i></a>
                        <a href="javascript:;" class="btn btn-sm btn-icon btn-circle bskp-icon-bg"  onclick="loadGeofence()" title="Refresh"><i class="fa fa-redo"></i></a>
                        <a href="javascript:;" class="btn btn-sm btn-icon btn-circle bskp-icon-bg help-url" target="_blank" title="Help"><i class="icon-help"></i></a>

                    </div>
                </div>
                <div class="panel-body  bskp-table-layout p-15" style="background-color: #eeeeee00;border: 1px solid #eee;overflow: auto;overflow-x: hidden">
                    <div class="geoListBody">
                        <table class="table table-bordered bskp-table responsive no-wrap" aria-describedby="" id="geofenceTable"  cellspacing="0" width="100%">

                        </table>
                    </div>
                    <!-- <div class="form-group">
                        <label>Choose Geofence Type</label>
                        <select class="form-control input-sm" id="geoType" onchange="loadGeofence()">
                            <option value="ENTITY">Entity</option>
                            <option value="ASSET">Asset</option>
                            <option value="DEVICE">Device</option>
                        </select>
                    </div> -->

                  


                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="panel panel-inverse bskp-container-frame m-0">
                <div class="page-header bskp-page-topic d-flex justify-content-between align-items-center m-0">
                    <h4 class="panel-title">Map View</h4>
                    <div class="panel-heading-btn">
                        <a class="btn btn-bskp btn-xs " href="<%= basepath %>/geofence/create"><i class="fa fa-plus-square"></i> <span class="hidden-xs">Create Geofence</span></a>
                    </div>
                </div>
                <div class="panel-body" style="background-color: #eeeeee00;border: 1px solid #eee;padding:0px">

                    <div id="geoMap" style="width: 100%"></div>


                </div>
            </div>


        </div>
    </div>

    <div id="deleteModal" class="modal bskp-modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Geofence</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="images/menu/xicon.svg" class="bg-secondary bskp-close"></button>
                </div>
                <div class="modal-body">
                    <h5>
                        Are you sure want to delete
                        <code style="margin-top: 4px;display: inline-block;margin-bottom: 5px;"><span class="geofenceId"></span></code>
                        Geofence?
                    </h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button-2 btn-close" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btnModal btn-secondary btn-proceed" onclick="deleteAGeofence()">Proceed</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>

<script src="js/markerclusterer.js"></script>
<script src="controllers/geofence.js"></script>
