<style>
    .modules {
        text-align: center;
        background-color: #eeeeee69;
        border: 1px solid #eee;
        height: 110px;

    }

    .modules label {
        font-weight: 400;
        width:90%;
        white-space: pre-line;
    }
    .modules:hover {
        background-color: #ffc10754;
        cursor: pointer;
    }

    .modules img {
        width: auto;
        height: 42px;
        margin-top: 10px;
    }

</style>



<div class="container mt-3 platformBody">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right hidden-xs">
        <li class="breadcrumb-item">
            <a href="/" class="currentTime">Boodskap Platform</a></li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Welcome to Boodskap IoT Platform!
        <small class="hidden-xs" style="font-size: 50%">Let's start building your IoT Solutions on the fly. </small>

    </h1>
    <div class="panel panel-inverse">
        <div class="panel-body" style="background-color: #eeeeee00;border: 1px solid #eee;padding-bottom: 30px;">

            <div class="row">

                <div class="col-lg-8">


                    <div class="row homeMenuList">
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hmarketplace" onclick="loadMenu(20)">
                            <div class="card modules">
                                <img src="images/menu/market-place.png"/>
                                <p class="mt-2"><label>Marketplace</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hmsgdef" onclick="loadMenu(2)">
                            <div class="card modules">
                                <img src="images/menu/message-definition_1-bskp.png"/>
                                <p class="mt-2"><label>Message Definition</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hrecdef sqlqueryhome" onclick="loadMenu(28)">
                            <div class="card modules">
                                <img src="images/menu/sql-table.png"/>
                                <p class="mt-2"><label>DSQL Tables</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hrecdef dbqueryhome" onclick="loadMenu(29)">
                            <div class="card modules">
                                <img src="images/menu/db-table.png"/>
                                <p class="mt-2"><label>DB Tables</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 husers" onclick="loadMenu(15)">
                            <div class="card modules">
                                <img src="images/menu/user-management-fanta-bskp.png"/>
                                <p class="mt-2"><label>User Management</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hmessages" onclick="loadMenu(22)">
                            <div class="card modules">
                                <img src="images/menu/folder.png"/>
                                <p class="mt-2"><label>File Storage</label></p>
                            </div>
                        </div>
                    </div>
                    <div class="row homeMenuList">
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hdashboard" onclick="loadMenu(1)">
                            <div class="card modules">
                                <img src="images/menu/widgets-bskp.png"/>
                                <p class="mt-2"><label>Dashboard</label></p>
                            </div>

                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hrecdef" onclick="loadMenu(3)">
                            <div class="card modules">
                                <img src="images/menu/record-definition-bskp.png"/>
                                <p class="mt-2"><label>Record Definition</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 htemplates sqlqueryhome" onclick="loadMenu(27)">
                            <div class="card modules">
                                <img src="images/menu/sql-templates.png"/>
                                <p class="mt-2"><label>DSQL Templates</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 htemplates dbqueryhome" onclick="loadMenu(31)">
                            <div class="card modules">
                                <img src="images/menu/sql-templates.png"/>
                                <p class="mt-2"><label>DB Templates</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hdevice" onclick="loadMenu(12)">
                            <div class="card modules">
                                <img src="images/menu/hardware-fanta_1-bskp.png"/>
                                <p class="mt-2"><label>Device Management</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 heventlogs" onclick="loadMenu(17)">
                            <div class="card modules">
                                <img src="images/menu/log.png"/>
                                <p class="mt-2"><label>Event Logs</label></p>
                            </div>
                        </div>
                    </div>
                    <div class="row homeMenuList">
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hdasheditor" onclick="loadMenu(16)">
                            <div class="card modules">
                                <img src="images/menu/dashboard-editor.png"/>
                                <p class="mt-2"><label>Dashboard Editor</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hevents" onclick="loadMenu(9)">
                            <div class="card modules">
                                <img src="images/menu/events&notifications-bskp.png"/>
                                <p class="mt-2"><label>Events & Notification</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 sqlqueryhome" onclick="loadMenu(26)">
                            <div class="card modules">
                                <img src="images/menu/sql-query.png"/>
                                <p class="mt-2"><label>DSQL Query Console</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 dbqueryhome" onclick="loadMenu(30)">
                            <div class="card modules">
                                <img src="images/menu/db-query.png"/>
                                <p class="mt-2"><label>DB Query Console</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hassets" onclick="loadMenu(14)">
                            <div class="card modules">
                                <img src="images/menu/assets-management-bskp.png"/>
                                <p class="mt-2"><label>Asset Management </label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hlogs" onclick="loadMenu(19)">
                            <div class="card modules" style="position: relative;">
                                <img src="images/menu/log.png"/>
                                <p class="mt-2"><label>Application Logs</label></p>
                            </div>
                        </div>
                    </div>
                    <div class="row homeMenuList loginAs">
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hmobile" onclick="loadMenu(11)">
                            <div class="card modules">
                                <img src="images/menu/mobile.png"/>
                                <p class="mt-2"><label>Mobile Editor</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hscript" onclick="loadMenu(5)">
                            <div class="card modules">
                                <img src="images/menu/script-console-fanta-bskp.png"/>
                                <p class="mt-2"><label>Script Console</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hmessages" onclick="loadMenu(18)">
                            <div class="card modules">
                                <img src="images/menu/messages.png"/>
                                <p class="mt-2"><label>Raw Messages</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hmessages" onclick="">
                            <div class="card modules">
                                <img src="images/menu/mongodb.png"/>
                                <p class="mt-2"><label>Mongo Query Console</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hfirmware" onclick="loadMenu(13)">
                            <div class="card modules">
                                <img src="images/menu/firmware-management-fanta-bskp.png"/>
                                <p class="mt-2"><label>Firmware Management</label></p>
                            </div>
                        </div>

                    </div>
                    <div class="row homeMenuList billingManagement">
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hrules" onclick="loadMenu(4)">
                            <div class="card modules">
                                <img src="images/menu/rules-engine-fanta-bskp.png"/>
                                <p class="mt-2"><label>Rules Engine</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hquery" onclick="loadMenu(25)">
                            <div class="card modules">
                                <img src="images/menu/search-console.png"/>
                                <p class="mt-2"><label>Search Query Console</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 htemplates" onclick="loadMenu(8)">
                            <div class="card modules">
                                <img src="images/menu/templates-bskp.png"/>
                                <p class="mt-2"><label>Platform Templates</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hmessages" onclick="">
                            <div class="card modules">
                                <img src="images/menu/cassandra.png"/>
                                <p class="mt-2"><label>Cassandra Query Console</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hgeofence" onclick="loadMenu(10)">
                            <div class="card modules">
                                <img src="images/menu/geofence-fanta-bskp.png"/>
                                <p class="mt-2"><label>Geofence Management</label></p>
                            </div>
                        </div>
                    </div>
                    <div class="row homeMenuList">
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hmachine" onclick="loadMenu(6)">
                            <div class="card modules">
                                <img src="images/menu/machine-learning-bskp.png"/>
                                <p class="mt-2"><label>AI & Machine Learning</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hamazon" onclick="loadMenu(24)">
                            <div class="card modules">
                                <img src="images/menu/mic.png" />
                                <p class="mt-2"><label>Amazon Alexa</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hmessages" onclick="">
                            <div class="card modules">
                                <img src="images/menu/mic.png"/>
                                <p class="mt-2"><label>Google Voice</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hcode" onclick="loadMenu(23)">
                            <div class="card modules">
                                <img src="images/menu/code-editor.png"/>
                                <p class="mt-2"><label>Code Editor</label></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6 hgeofence" onclick="loadMenu(32)">
                            <div class="card modules">
                                <img src="images/menu/plugin.png"/>
                                <p class="mt-2"><label>Plugin Management</label></p>
                            </div>
                        </div>
                    </div>





                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="panel panel-inverse col-lg-12" data-sortable-id="ui-widget-1">
                            <div class="panel-heading">

                                <h4 class="panel-title"><i class="fa fa-globe"></i> Domain


                                    <a href="javascript:;" onclick="startTour()" class="pull-right btn btn-icon btn-sm btn-default"
                                       title=""><i class="icon-help"></i></a>

                                    <a href="/domain" class="pull-right btn btn-icon btn-sm btn-default mr-2" title="Domain Settings"><i class="fa fa-cog"></i></a>
                                    <a href="javascript:void(0)" onclick="openLinkModal()"
                                       class="pull-right mr-2 btn btn-icon btn-sm btn-default" title="Link Domain"><i class="fa fa-link"></i></a>
                                </h4>
                            </div>
                            <div class="panel-body" style="border: 1px solid #eee">
                                <ul class="nav">
                                    <li class="col-lg-6"><label>Domain Name </label></li>
                                    <li class="col-lg-6"><span class="domain_name"></span>  <a href="javascript:void(0)" onclick="editDomainName()" style="text-decoration: none"
                                                                                               title="Edit Domain Name"><i class="icon-edit2"></i></a></li>
                                </ul>
                                <ul class="nav">
                                    <li class="col-lg-6"><label>Domain Key </label></li>
                                    <li class="col-lg-6"><span class="domain_key_show">***********</span> <span
                                            class="domain_key hide"></span>
                                        <a href="javascript:void(0)" onclick="toggleKeys(1,'domainToggle')"
                                           class="domainToggle"><i class="fa fa-eye"></i></a>
                                        <a href="javascript:void(0)" class="domainKey" style="text-decoration: none"
                                           title="Click here to copy Domain Key"><i class="icon-copy2"></i></a>
                                    </li>
                                </ul>
                                <ul class="nav">
                                    <li class="col-lg-6"><label>API Key </label></li>
                                    <li class="col-lg-6"><span class="api_key_show">***********</span> <span
                                            class="api_key hide"></span>
                                        <a href="javascript:void(0)" onclick="toggleKeys(1,'apiToggle')" class="apiToggle"><i
                                                class="fa fa-eye"></i></a>
                                        <a href="javascript:void(0)" class="apiKey"  style="text-decoration: none"
                                           title="Click here to copy API Key"><i class="icon-copy2"></i></a>
                                    </li>
                                </ul>
                                <ul class="nav">
                                    <li class="col-lg-6"><label>Token </label></li>
                                    <li class="col-lg-6"><span class="api_token_show">***********</span> <span
                                            class="api_token hide"></span>
                                        <a href="javascript:void(0)" onclick="toggleKeys(1,'tokenToggle')" class="tokenToggle"><i
                                                class="fa fa-eye"></i></a>
                                        <a href="javascript:void(0)" class="apiToken"  style="text-decoration: none"
                                           title="Click here to copy Current Session Token"><i class="icon-copy2"></i></a>
                                    </li>
                                </ul>
                                <ul class="nav">
                                    <li class="col-lg-6"><label>Admin Email</label></li>
                                    <li class="col-lg-6"><span class="domain_email" style="max-width: 100%;text-overflow: ellipsis;overflow: hidden;display: block;"></span></li>
                                </ul>
                                <ul class="nav">
                                    <li class="col-lg-6"><label>License </label>
                                    </li>
                                    <li class="col-lg-6"><span style="border-bottom: 1px dashed #ccc;cursor: help;color:#333">Developer License</span></li>
                                </ul>
                                <% if(userRole.toLowerCase() === 'admin'){ %>
                                <div style="text-align: center" class="adminAccess">
                                    <button class="btn btn-sm btn-warning mt-3" onclick="createDomain()"><i class="fa fa-globe"></i> Create New Domain</button>
                                    <br><small>Only visible to platform ADMIN</small>
                                </div>
                                <% }  %>
                               <!-- <ul class="nav">
                                    <li class="col-lg-6"><label>Linked Domains </label>
                                    </li>
                                    <li class="col-lg-6">
                                        <span class="linked_domains"></span>
                                    </li>
                                </ul>-->
                               <!-- <ul class="nav">
                                    <li class="col-lg-6"><label>ID Range</label>
                                    </li>
                                    <li class="col-lg-6">
                                        <span class="idRange"></span>
                                    </li>
                                </ul>-->
                                <!-- <p style="text-align: left" class="mt-2">
                                     <a href="/domain" class="btn btn-sm btn-warning" style="text-decoration: none;"><i
                                             class="fa fa-cog"></i> Domain Settings</a>
                                 </p>-->

                            </div>
                        </div>
                        <div class="panel panel-inverse col-lg-12" data-sortable-id="ui-widget-1">
                            <div class="panel-heading">
                                <!--<div class="panel-heading-btn">
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"><i class="fa fa-expand"></i></a>
                                </div>-->
                                <h4 class="panel-title"><i class="fa fa-book"></i> Developers

                                    <a href="http://readme.boodskap.io/" target="_blank" class="pull-right btn btn-icon btn-sm btn-default"
                                       title="Help Docs"><i class="icon-help"></i></a>
                                </h4>

                            </div>
                            <div class="panel-body" style="border: 1px solid #eee;">

                                <ul class="nav">
                                    <li class="col-lg-6"><label>Download Platform </label></li>
                                    <li class="col-lg-6"><a href="https://hub.docker.com/r/boodskapiot/platform" class="" target="_blank">
                                        <i class="icon-download"></i> Docker Container
                                    </a></li>
                                </ul>
                                <ul class="nav">
                                    <li class="col-lg-6"><label>Documentation</label></li>
                                    <li class="col-lg-6"><a href="https://developer.boodskap.io/docs" target="_blank">
                                        <i class="fa fa-book"></i> Platform Guide</a></li>
                                </ul>
                                <ul class="nav">
                                    <li class="col-lg-6"><label>API </label></li>
                                    <li class="col-lg-6"><a href="https://developer.boodskap.io/docs" class="" target="_blank">
                                        <i class="icon-file-code-o"></i> API Docs
                                    </a></li>
                                </ul>
                                <ul class="nav">
                                    <li class="col-lg-6"><label>API Explorer</label></li>
                                    <li class="col-lg-6"><a href="/documentation" class="" target="_blank">
                                        <i class="icon-file-code-o"></i> API Console
                                    </a></li>
                                </ul>
                                <ul class="nav">
                                    <li class="col-lg-6"><label>Video Tutorials </label></li>
                                    <li class="col-lg-6"><a href="https://www.youtube.com/channel/UC1yOEmlV7mBfKI1aHSMk3GQ"
                                                            target="_blank">
                                        <i class="fa fa-youtube"></i> Youtube Channel</a></li>
                                </ul>
                                <ul class="nav">
                                    <li class="col-lg-6"><label>Sample Codes </label></li>
                                    <li class="col-lg-6"><a href="https://github.com/BoodskapPlatform" target="_blank">
                                        <i class="fa fa-github"></i> Github
                                    </a></li>
                                </ul>
                                <ul class="nav">
                                    <li class="col-lg-6"><label>Swagger API Doc</label></li>
                                    <li class="col-lg-6"><a href="/swagger-doc" class="" target="_blank">
                                        <i class="icon-file"></i> Swagger Spec
                                    </a></li>
                                </ul>
                            </div>
                        </div>

<!--
                        <div class="panel panel-inverse col-lg-12" data-sortable-id="ui-widget-1">
                            <div class="panel-heading">
                                &lt;!&ndash;<div class="panel-heading-btn">
                                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default"><i class="fa fa-expand"></i></a>
                                </div>&ndash;&gt;
                                <h4 class="panel-title"><i class="icon-video-camera2"></i> Quickstart Guide

                                </h4>

                            </div>
                            <div class="panel-body" style="border: 1px solid #eee;padding:0px">

                                <iframe width="100%" height="200"
                                        src="https://www.youtube.com/embed/YnDQsN4bqEc?rel=0&amp;controls=1&amp;showinfo=0"
                                        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
-->
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="text-align: center;">
                            <!--<a class="twitter-timeline" href="https://twitter.com/boodskapIOT?ref_src=twsrc%5Etfw"> </a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- end panel -->

</div>


<script src="/controllers/home.js"></script>




<div id="linkModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Manage Linked Domains</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <form action="javascript:void(0)" onsubmit="linkDomainCall()">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Domain Key</label>
                                <input class="form-control input-sm" id="domainKey" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>API Key</label>
                                <input class="form-control input-sm" id="apiKey" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Label</label>
                                <input class="form-control input-sm" id="labelText" />
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <button class="btn btn-secondary" style="margin-top: 22px" type="submit">Link Domain</button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row mt-2">
                    <table class="table table-bordered">
                        <thead>
                            <tr><th>Label</th><th>Domain Key</th><th>API Key</th><th>Action</th></tr>
                        </thead>
                        <tbody class="domainList">

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div id="domainModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document" >
        <div class="modal-content" style="">
            <div class="modal-header">
                <h4 class="modal-title">Login As</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body" style="max-height: 700px;overflow: auto;overflow-x: hidden">


                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label style="margin-top: 8px;">
                                    Enter Admin Password
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                               <input type="password" id="adminPwd" class="form-control input-sm" autocomplete="off"/>
                            </div>
                        </div>
                    </div>

                    <table class="table table-bordered responsive no-wrap" id="domainTable"  cellspacing="0" width="100%">

                    </table>



            </div>
           <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>-->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/html" id="logConsole">

</script>

<script type="text/html" id="loginAs">
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6" onclick="openDomainModal()" title="Only Visible to Admin">


        <div class="card modules" style="border:1px solid #f09713">
            <img src="images/menu/lock.png"/>
            <p class="mt-2"><label>Login As</label></p>
        </div>

    </div>
</script>

<script type="text/html" id="billingManagement">

    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-6" onclick="loadMenu(33)" title="Only Visible to Admin">
        <div class="card modules" style="border:1px solid #f09713">
            <img src="images/menu/dollar.png"/>
            <p class="mt-2"><label>Billing Management</label></p>
        </div>
    </div>
</script>



<div id="createDomain" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" >
        <div class="modal-content" style="">
            <div class="modal-header">
                <h4 class="modal-title">Create Domain</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form action="javascript:void(0)" id="registerForm" class="margin-bottom-0"  onsubmit="register()">

            <div class="modal-body" style="max-height: 700px;overflow: auto;overflow-x: hidden">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group m-b-15">
                            <label>Domain Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control form-control-lg" id="firstname" placeholder="" required />
                        </div>
                        <div class="form-group m-b-15">
                            <label>Email ID <span class="text-danger">*</span></label>
                            <input type="email" class="form-control form-control-lg" id="email" placeholder="" required />
                        </div>
                        <div class="form-group m-b-15">
                            <label>Password <span class="text-danger">*</span></label>
                            <input type="password" class="form-control form-control-lg" id="password" placeholder="" required />
                        </div>
                        <div class="form-group m-b-15">
                            <label>Confirm Password <span class="text-danger">*</span></label>
                            <input type="password" class="form-control form-control-lg" id="confirmpassword" placeholder="" required />
                        </div>
                    </div>
                </div>


            </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 <button type="submit" id="submitButton" class="btn btn-warning">Create</button>
             </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->