<style>

    .card-header{
        background-color: #fff;
        border: 1px solid #ddd;
        color: #333 !important;
        border-left:3px solid #ccc;
    }
    .card-header:hover{
        background-color: #eee;
    }

    .card-body{
        border: 1px solid #ddd;
        background-color: #ffeb3b0a;
    }

    .invoiceList, .invoiceList li{
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    .invoiceList li{
        border: 1px solid #ddd;
        padding: 10px;
        border-left:2px solid #333;
        margin-bottom: 5px;
        background-color: #eeeeee3d;
        cursor: pointer;
    }
    .invoiceList li a{
        text-decoration: none;
        color:#666 !important;
    }
    .invoiceList li.active{
        border-left:2px solid orangered;
        background-color: #eee;
    }
    .invoiceList li.active a{
        color:#333 !important;
        font-weight: bold;
        text-transform: uppercase;
    }
</style>


<div class="container mt-3 msgDef platformBody">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="<%= basepath %>/home">Home</a></li>
        <li class="breadcrumb-item active">Billing Management</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header"><i class="icon-file-pdf"></i> Invoice</h1>
    <!-- end page-header -->

    <!-- begin panel -->
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-success" data-click="panel-reload" onclick="loadInvoice()"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-warning" title="Help"><i class="icon-help"></i></a>
            </div>

            <h4 class="panel-title">Total Invoices: <b><span class="invoiceCount">0</span></b></h4>
        </div>
        <div class="panel-body" style="background-color: #eeeeee00;border: 1px solid #eee;padding-bottom: 30px;">

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="inputLabel"><i class="fa fa-filter"></i> Date Range</label>
                        <div id="reportrange"
                             style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <label style="display: inline-block;float:right"><i
                                class="fa fa-caret-down"></i></label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">

                    <table class="table table-bordered responsive no-wrap" id="invoiceTable"  cellspacing="0" width="100%">

                    </table>
                </div>
            </div>





        </div>
    </div>
    <!-- end panel -->

</div>
<script src="controllers/invoice.js" type="text/javascript"></script>


