
<style>

    .sort-list, .sort-list h4 {
        margin: 0;
        font-size: 12px;
        line-height: 20px;
    }
    .sort-list {
        list-style-type: none;
        padding: 0;
    }
    .sort-list > li.text {
        font-weight: 700;
        padding: 5px;
    }
    .sort-list > li{
        margin: 0px;
        padding: 0px;

    }
    .sort-list label{
        margin-bottom: 0px;
    }

    .widgetDiv{
        border:1px solid #59af5070;
        border-radius:5px;
        padding:5px;
    }

    .widgetDiv:hover{
        border:1px solid #ccc;
        background-color: #4caf5029;
    }

    .widgetDiv:hover h5{
        color: #4caf50;
    }

    .description{
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom: 5px;
    }

</style>




<div class="container-fluid mt-3">

    <h1 class="page-header"><img src="images/menu/market-place.png" width="32" /> Marketplace</h1>

    <div class="panel">
        <div class="panel-body bodyContainer" style="padding:0px;padding-bottom: 30px;">

            <div class="row" style="background-color: #4caf5029;border-top: 2px solid green;padding-top: 5px;margin-left: 0px;margin-right: 0px">
                <div class="col-lg-1">
                    <h6 class="text-center mt-2">Total Widgets <br>
                        <span class="widgetsCount" style="    font-size: 1.75rem;"></span>
                    </h6>
                </div>
                <div class="col-lg-4">
                    <form class="mt-2">
                        <label  style="display: block;margin-bottom: 0px"><i class="fa fa-search"></i> Search</label>
                        <input type="text" class="form-control" onkeyup="loadWidgets()" id="searchBox" placeholder="Search by widget name, tags" />
                    </form>
                </div>
                <div class="col-lg-7">

                    <ul class="sort-list row">
                        <li class="text  col-lg-4">
                            <label style="display: block"><i class="fa fa-filter"></i> By Category:</label>
                            <select class="form-control input-sm" id="widgetCategories" onchange="loadWidgets()">
                            </select>
                        </li>
                        <li class="text  col-lg-4">
                            <label style="display: block"><i class="fa fa-sort"></i> Sort By:</label>
                            <select class="form-control input-sm" id="widgetSort" onchange="loadWidgets()">
                                <option value="updatedtime">Recently Updated Time</option>
                                <option value="createdtime">Published Time</option>
                            </select>
                        </li>
                        <li class="text  col-lg-4">
                            <label style="display: block"><i class="fa fa-sort"></i> Sort Order:</label>
                            <select class="form-control input-sm" id="widgetSortOrder" onchange="loadWidgets()">
                                <option value="desc">Descending</option>
                                <option value="asc">Ascending</option>
                            </select>
                        </li>

                    </ul>


                </div>
            </div>

            <div class="row mt-2 widgetBody" style="padding-left: 10px;padding-right: 10px">


            </div>
            <div class="row mt-3 mb-4">
                <div class="col-md-12 paginationBody text-center"></div>
            </div>

        </div>
    </div>

</div>


<script src="controllers/marketplacev4.js" type="text/javascript"></script>
