<style>
    .compactTable tr td {
        padding: 2px !important;
        font-size: 11px;
        line-height: 15px;
    }
    .btn.btn-success {
    background: #4670be !important;
    border: 1px solid #4670be !important;
}
.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
    background: #e6f0f4!important;
    border-color: #4670be78!important;
    color: #000000!important;
}

.bskp-table {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
}
 
</style>

<div class="container-fluid montFont bskp-mt-30" style="height: calc(100vh - 100px);overflow: auto;">
    
   <!-- begin panel -->
    <div class="panel panel-inverse bskp-container-frame mb-5">

        <!-- begin breadcrumb -->
        <div>
            <ol class="breadcrumb pull-right bskp-align-icon">
                <li class="breadcrumb-item"><a href="<%= basepath %>/home">Home </a></li>
                <li class="breadcrumb-item active"><u>Raw Messages</u></li>
                <div class="ml-4">
                    <a href="javascript:;" class="text-decoration">
                        <label class="text-primary mb-0"><input type="checkbox" value="ON" id="liveUpdate" style="vertical-align: middle !important;"
                                                        onchange="liveUpdate(this)"/> Live Update</label>
                    </a>
                    <a href="javascript:;" class="btn btn-sm btn-icon btn-circle  bskp-icon-bg" data-click="panel-expand" title="Expand"><i class="fa fa-expand-alt"></i></a>
                </div>
            </ol>
            
        </div>
        <!-- end breadcrumb -->
     <!-- begin page-header -->
     <div class="page-header bskp-page-topic"><img src="images/menu/message-definition_1-bskp.png" class="bskp-topic-icon mr-1" >Reported Messages
        <span class="panel-title ml-3  bskp-text">Total: <b><span class="totalCount"></span></b></span> </div>
    
    <!-- end page-header -->
     
        <div class="panel-body bskp-raw-mesg"  style="background-color: #eeeeee00;">

            <div class="d-flex gap-20 align-items-center">
                <div class="">
                    <div class="form-group">
                        <label class="inputLabel">Message ID</label>
                        <select class="form-control input-sm msgList" onchange="loadMessages(this.value)"></select>
                    </div>

                </div>
                <div class=" pr-0">
                    <div class="form-group">
                        <label class="inputLabel">Date Range</label>
                        <div id="reportrange"
                             style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;display: flex;align-items: baseline;">
                            <i class="fa fa-calendar"></i>&nbsp;
                            <span></span> <label style="display: inline-block;float:right">
                            <i class="fa fa-caret-down pl-1"></i></label>
                        </div>

                    </div>

                </div>
                <div class="">
                    <div class="form-group raw-message pl-2" >

                        <label class="inputLabel">Statistics</label> <br>
                        <div class="switches-container">
                            <input type="radio" id="switchTable" name="switchView" value="Table" checked="checked">
                            <input type="radio" id="switchChart" name="switchView" value="Chart">
                            <label for="switchTable" class="tograwTable" onclick="toggleViewRaw('Table')"><i class="fa fa-table" aria-hidden="true"></i> Table View</label>
                            <label for="switchChart" onclick="toggleViewRaw('Chart')"><i class="fa fa-bar-chart" aria-hidden="true"></i> Chart View</label>
                            <div class="switch-wrapper">
                              <div class="switch">
                                <div><i class="fa fa-table" aria-hidden="true"></i> Table View</div>
                                <div><i class="fa fa-bar-chart" aria-hidden="true"></i> Chart View</div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="">
                    <div class="form-group raw-message" >
                      <label class="inputLabel">Grid View</label> <br>
                        <div class="switches-container">
                            <input type="radio" id="switchCompact" name="switchgrid" value="Compact">
                            <input type="radio" id="switchFull" name="switchgrid" value="Full" checked="checked">
                            <label for="switchCompact" onclick="tableViewRaw(1)"><i class="icon-th"></i> Compact</label>
                            <label for="switchFull" onclick="tableViewRaw(2)"><i class="icon-th-large"></i> Full</label>
                            <div class="switch-wrapper">
                              <div class="switch">
                                <div><i class="icon-th"></i> Compact</div>
                                <div><i class="icon-th-large" aria-hidden="true"></i> Full</div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                <!-- <div class="col-md-1">
                    <a class="btn bskp-refresh-bg" data-click="panel-reload" onclick="loadRecordDef()"><i class="fa fa-redo"></i></a>
                </div> -->
            </div>


            <div class="row mt-2">
                <div class="col-md-12" id="tablePanel">
                    <div class="btn-group btn-group-justified pull-right bskp-btn-group-align" >
                        <a class="btn bskp-refresh-bg"  onclick="loadMessages()" title="Refresh"><i class="fa fa-redo"></i></a>
                    </div>
                    <div class="bskp-table-layout">
                    <table class="table table-bordered bskp-table table-hover responsive no-wrap" id="messageTable" cellspacing="0"
                           width="100%">
                    </table>
                    </div>
                </div>
                <div class="col-md-12"id="chartPanel" style="display: none">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group" >
                                <label class="inputLabel"><i class="icon-filter"></i> Filter By</label>
                                <select class="form-control input-sm" id="filterBy" onchange="buildChartData()">
                                    <option value="YEAR">By Year</option>
                                    <option value="MONTH">By Month</option>
                                    <option value="DATE">By Date</option>
                                    <option value="HOUR" selected>By Hour</option>
                                    <option value="MINUTE">By Minutes</option>
<!--                                    <option value="SECOND">By Second</option>-->
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">

                            <div id="message_view" style="width: 100%;height: 300px;"></div>
                            <hr>
                            <div id="message_processed_view" style="width: 100%;height: 300px;"></div>

                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
    <!-- end panel -->

</div>

<script src="resources/js/echarts.lib.min.js" type="text/javascript"></script>
<script src="controllers/messages.js" type="text/javascript"></script>

