<style>

#defineMesg tbody > tr ,#defineMesg tbody > tr > td{
    border: 0px !important;
}
#deleteModal .modal-dialog{
    max-width: 600px;
}

</style>

<div class="container msgDef platformBody bskp-mt-30">
      
    <!-- begin panel -->
    <div class="panel panel-inverse bskp-container-frame" >

         <!-- begin breadcrumb -->
         <div>
            <ol class="breadcrumb pull-right bskp-align-icon" >
                <li class="breadcrumb-item"><a href="<%= basepath %>/home">Home</a></li>
                <li class="breadcrumb-item active"><u>Message Definition</u></li>
               <div class="ml-4">
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle  bskp-icon-bg" title="Expand" data-click="panel-expand"><em class="fa fa-expand"></em></a>
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle bskp-icon-bg" title="Help"><em class="icon-help"></em></a>  
            </div>
            </ol>
        </div>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <div class="page-header bskp-page-topic"><img src="images/menu/message-definition_1-bskp.svg" class="bskp-topic-icon mr-1" > Message Definition 
        <span class="panel-title ml-3" style="color: #2D2F79;">Total: <b><span class="messageCount"></span></b></span> </div>
    
    <!-- end page-header -->

       
        <div class="panel-body" style="background-color: #eeeeee00;top: 0px !important;">
            <div class="row m-0">
                <div class="col-12">
                <div class="btn-group btn-group-justified pull-right bskp-btn-group-align" >
                    <a class="btn bskp-btn-shadow bskp-blue-bg" onclick="openModal()" ><img src="images/menu/plusicon.svg" class="bskp-plusvg"> <span class="hidden-xs">&nbsp;Define Message</span></a>
                    <a class="btn bskp-radius-btn" id="exportMsg" title="Export"><img src="images/menu/download.svg" alt=""> </a>
                    <a class="btn bskp-radius-btn" id="importMsg" onclick="importMsg()" title="Import"><img src="images/menu/upload.svg" alt=""> </a>
                    <a class="btn bskp-refresh-bg ref-btn" title="Refresh"  onclick="loadMessageDef()" ><img src="images/menu/refresh-button.png" alt=""></a>
                </div>

                <div class="bskp-table-layout">
                    <table class="table table-bordered bskp-table responsive no-wrap" id="messageTable">
                       
                    </table>
                </div>

                </div>
            </div>


        </div>
    </div>
    
    <!-- end panel -->

</div>


<script src="js/editor/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/ext-searchbox.js" type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/ext-beautify.js"    type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/snippets/javascript.js" type="text/javascript" charset="utf-8"></script>
<script src="js/beautify.min.js" type="text/javascript"></script>

<script src="controllers/message-definition.js" type="text/javascript"></script>



<div id="addMessageRule" class="modal bskp-modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Define Message</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="images/menu/xicon.svg" class="bg-secondary bskp-close" >
                    </button>
            </div>
            <form action="javascript:void(0)" novalidate onsubmit="addMessageRule();">
                <div class="modal-body">
                    <div  class="row">
                        <div  class="col-md-6 msg_id">
                            <div  class="form-group">
                                <label  class="inputLabel">Message ID *</label>
                                <input  class="form-control input-sm" onkeypress="return isNumber(event);" maxlength="15" min="1" placeholder="Enter Message ID" autocomplete="off" type="text" id="msg_id"  required>
                                <span id="logmsg_id"></span>
                            </div>
                        </div>
                        <div  class="col-md-6 msg_name">
                            <div  class="form-group">
                                <label  class="inputLabel">Message Name *</label>
                                <input  class="form-control input-sm"  maxlength="100" placeholder="Enter Message Name" autocomplete="off" type="text" id="msg_name" required>
                                <span id="logmsg_name"></span>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <div  class="col-md-12 msg_desc">
                            <div  class="form-group">
                                <label  class="inputLabel">Description *</label>
                                <textarea  class="form-control input-sm" maxlength="1000" placeholder="Enter Message Description" autocomplete="off" type="text"  id="msg_desc" required></textarea>
                                <span id="logmsg_desc"></span>
                            </div>
                        </div>
                    </div>
                    <div  class="row" style="height: 250px;overflow:auto;overflow-x: hidden">
                        <div class="col-md-12">
                            <table class="table bskp-table table-border" id="defineMesg">
                                <thead>
                                <tr>
                                    <th>Field Name</th><th>Data Type</th><th>Action</th>
                                </tr>
                                </thead>
                                <tbody class="msgFieldBody">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button-2 btn-close"  data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btnModal btn-secondary btn-proceed btnSubmit">Proceed </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div id="deleteModal" class="modal fade bskp-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete <span class="delete_rule_name"></span> Rule</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="images/menu/xicon.svg" class="bg-secondary bskp-close" >
                    </button>
            </div>
            <div class="modal-body">
                <h5>Are you sure want to delete <b><span class="delete_rule_id"></span> <span class="delete_rule_name"></span></b> Rule?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn button-2 btn-close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btnModal btn-secondary btn-proceed" onclick="proceedDelete()">Proceed</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div id="importModal" class="modal fade bskp-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="">
            <div class="modal-header">
                <h4 class="modal-title">Import Definition</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="images/menu/xicon.svg" class="bg-secondary bskp-close" >
                    </button>
            </div>
            <form action="javascript:void(0)" onsubmit="importContent()">
                <div class="modal-body">
                    <div  class="row">
                        <div  class="col-md-12">
                            <div  class="form-group">
                                <label  class="inputLabel">Choose File</label>
                                <input  class="form-control input-sm" placeholder="" type="file" id="importFile" onchange="getImportFile(this,event)" style="font-size:10px !important;" required/>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <div  class="col-md-12 msg_desc">
                            <div  class="form-group">
                                <label  class="inputLabel">Imported Content</label>
                                <!--<textarea style="height: 300px;" class="form-control input-sm" placeholder="" type="text"  id="imported_content" required></textarea>-->

                                <div id="imported_content" style="width:100%;height: 300px; border-radius: 10px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn button-2 btn-close" data-dismiss="modal" >Close</button>
                    <button type="submit" class="btn btnModal btn-secondary btn-proceed btnSubmit">Proceed </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->