<style>
        #deleteModal .modal-dialog{
        max-width: 600px;
    }
</style>
<div class="container bskp-mt-30 msgDef platformBody">

    <!-- begin panel -->
    <div class="panel panel-inverse bskp-container-frame">
        
        <!-- begin breadcrumb -->
        <div>
            <ol class="breadcrumb pull-right bskp-align-icon" >
                <li class="breadcrumb-item"><a href="<%= basepath %>/home">Home</a></li>
                <li class="breadcrumb-item active"><u>MongoDB</u></li>
                <div class="ml-4">
                <a href="javascript:void(0)" class="btn btn-sm btn-icon btn-circle bskp-icon-bg"  title="Expand" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:void(0)" class="btn btn-sm btn-icon btn-circle bskp-icon-bg" title="Help"><i class="icon-help"></i></a>
                </div>
            </ol>
        </div>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <div class="page-header bskp-page-topic"><img src="images/menu/mongodb.svg" class="bskp-topic-icon mr-1" > Manage MongoDB Connections
        <span class="panel-title ml-3" style="color: #2d2f79;">Total Connection Pool: <b><span class="poolCount"></span></b></span> </div>

    <div class="panel-body" style="background-color: #eeeeee00;">
        <div class="row m-0">
            <div class="col-12">
                <div class="btn-group btn-group-justified pull-right bskp-btn-group-align">
                    <a class="btn bskp-btn-shadow bskp-blue-bg" onclick="openModal(1)"><img src="images/menu/plusicon.svg" class="bskp-plusvg"><span class="hidden-xs">&nbsp;Add DB Connection</span></a>
                    <a class="btn bskp-refresh-bg ref-btn" title="Refresh" data-click="panel-reload" onclick="loadDBPool()" ><img src="images/menu/refresh-button.png" alt=""></a>
               
                 </div>
    
                <div class="bskp-table-layout">
                    <table class="table table-bordered bskp-table responsive no-wrap" id="poolTable"  cellspacing="0" width="100%">
    
                    </table>
                </div>
                
            </div>
        </div>
          


        </div>
    </div>
    <!-- end panel -->

</div>

<!-- <script src="js/beautify.min.js" type="text/javascript"></script> -->

<script src="controllers/mongodb-table.js" type="text/javascript"></script>





<div id="addPool" class="modal bskp-modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="templateAction"></span> MongoDB Connection Pool</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="images/menu/xicon.svg" class="bg-secondary bskp-close" >
                    </button>
            </div>
            <form action="javascript:void(0)" novalidate>
                <div class="modal-body">
                    <div  class="row">
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Name *</label>
                                <input  class="form-control input-sm" maxlength="100" placeholder="Enter Name" autocomplete="off" type="text" id="conn_name" required>
                                <span id="logconn_name"></span>
                            </div>
                        </div>
                        <div  class="col-md-12">
                            <div  class="form-group">
                                <label  class="inputLabel">Connection URL *</label>
                                <input  class="form-control input-sm"  maxlength="150" placeholder="Enter Connection URL" autocomplete="off" type="text" id="db_url" required>
                                <span id="logdb_url"></span>
                            </div>
                        </div>
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Database Name *</label>
                                <input  class="form-control input-sm"  maxlength="100" placeholder="Enter Database Name" autocomplete="off" type="text" id="db_name" required>
                                <span id="logdb_name"></span>
                            </div>
                        </div>
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Use Sessions</label>
                                <select  class="form-control input-sm" autocomplete="off" id="useSession">
                                    <option value="0">False</option>
                                    <option value="1">True</option>
                                </select>
                                <span id="loguseSession"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn button-2 btn-close"  data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btnModal btn-secondary btn-proceed btnSubmit">Proceed </button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div id="deleteModal" class="modal bskp-modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Mongo DB Connection</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="images/menu/xicon.svg" class="bg-secondary bskp-close" >
                    </button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete <b><span class="templateName"></span></b> MongoDB Connection?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn button-2 btn-close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btnModal btn-secondary btn-proceed" onclick="proceedDelete()">Proceed</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

