<!--<div class="row-fluid">
    <ul class="nav submenu" style="">
        <li class=""><a href="<%= basepath %>/home"><i class="fa fa-home"></i> </a></li>
        <li class=""><a href="<%= basepath %>/dashboard">Dashboard</a></li>
        <li class="active"><a href="<%= basepath %>/message-definition">Message Definition</a></li>
    </ul>
</div>-->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

    #queryEditor,
    #resultEditor {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        border: 1px solid #eee
    }

   #mongoConsole .executebutton {
            background-color: #2d2f79 !important;
        
        border-color: #2d2f79 !important;
        width: 110px;
        border-radius: 10px;
        font-size: 14px;
        height: 32px;
        font-weight: 500;
    }

    #mongoConsole .expand {
        color: darkslateblue;
    }

    #mongoConsole .icon {
        margin-top: 4px;
        background-color: white;
    }

    #mongoConsole .content {
        position: relative;
        right: 30px;
    }

    #mongoConsole .ace-eclipse .ace_gutter {
        background-color: #eaf1f6;
        /* border: 3px solid #eaf1f6; */
        border-radius: 8px;
        border-right: none !important;
    }
    ol li{
    font-size: 12px !important;
   }
    .panel {
        background-color: #fafdff;
    }

    #mongoConsole .ace_content {
        border-radius: 10px;
        position: relative;
        left: 12px;
        margin-left: 5px;
        border-top: 2px solid #eaf1f6;
        border-left: 2px solid #eaf1f6;
        border-bottom: 2px solid #eaf1f6 !important;
    }

    #mongoConsole #queryEditor,
    #resultEditor {
        border-top: none;
        border-bottom: none;
        border-right: 2px solid #eaf1f6;
        border-radius: 10px;
    }

    #mongoConsole  #queryEditor {
        position: relative;
        top: 3px;
    }

    #mongoConsole  #resultEditor {
        margin-top: 22px;
    }

    #mongoConsole .table {
        border: 1px solid #cdd3d6;
        border-radius: 12px;
        background-color: #fff;
    }
    #mongoConsole .logo{
        position: relative;
        bottom: 5px;
    }
    @media only screen and(min-width:375px),
    (max-width: 767px) {
        .icon {
            position: relative;
            bottom: 6px !important;
            
        }
    }

    @media only screen and(min-width:728px),
    (max-width: 1024px) {
        .executebutton {
            position: relative;
            bottom: 5px !important;
            /* left: 1px !important; */
            background-color: #2d2f79;
            width: 110px !important;
            font-size: 14px !important;
        }
    }
  .platformBody{
    background-color: hsl(205deg 40% 94%);
    padding-top: 10px;
  }
  .mt-2,.my-2{
    margin-top: 0px !important;
  }
  .option{
    border-radius: 10px !important;
  }
  .select2-container .select2-selection--single, .select2-container--default .select2-selection--multiple{
    border-radius: 10px !important;

  }
  #snackbar{
 color: white;
 background-color: hsl(238deg 46% 33%);
border: 1px solid #eaf1f6;
font-family:Montserrat;
border-radius:10px;

}


</style>
<div class="container msgDef panel platformBody" id="mongoConsole">
    <!-- begin breadcrumb -->

    <ol class="breadcrumb pull-right content">
        <li class="breadcrumb-item "><a href="<%= basepath %>/home">Domain</a></li>
        <li class="breadcrumb-item active">Mongodb Query Console</li>
        <div class="ml-3">
            <a href="javascript:;" class="btn btn-sm btn-icon btn-circle  bskp-icon-bg icon"title="Expand"
                data-click="panel-expand"><img style="height:14px ;" src="images/menu/expand-icon.svg" alt=""></a>
            <a href="javascript:;" class="btn btn-sm btn-icon btn-circle bskp-icon-bg icon" title="Help">
                <img src="images/menu/Question_icon (2).png" alt=""></a>
                    

        </div>
            
            
    </ol>

    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <div class="mx-2 my-2">
        <img src="images/menu/mongodb logo.png" class="logo" height="20px">

        <span class="page-header" style="margin-left:0px;color: hsl(0deg 0% 25%); font-weight: 700;font-size: 20px;">Mongodb Query Console</span>
    </div>


    <div class="table panel panel-inverse">
        <div class="panel-body"
            style="background-color:#fff;border: 1px solid #cdd3d6;padding-bottom: 30px; border-radius:10px;">

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Connection Pool</label>
                        <select id="pool_name" class="form-control option" onchange="setConnection(this.value)">
                        </select>
                        <small id="pool_url"></small>
                    </div>
                    <div class="form-group">
                        <label>Database Name</label>
                        <input type="text" class="form-control option" />
                    </div>
                    <div class="form-group">
                        <label>Collection Name</label>
                        <select id="col_name" class="form-control option" onchange="">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Query Type</label>
                        <select id="query_type" class="form-control " onchange="loadQueryType(this.value)">
                            <option value="FIND">Find</option>
                            <option value="AGG">Aggregate</option>
                            <option value="COUNT">Count</option>
                        </select>
                    </div>

                </div>
                <div class="col-md-5" style="border-left:2px solid #eaf1f6">
                    <div class="row">
                        <div class="col-md-12">
                            <small style="">(Press <b>CTRL + ENTER</b> to execute the query)</small>

                            <button class="btn btn-warning btn-sm float-right executebutton mb-1"
                                onclick="executeQuery()">Execute</button>


                            <div id="queryEditor" style="width: 100%"></div>
                        </div>
                    </div>

                </div>
                <div class="col-md-5" style="border-left:2px solid #eaf1f6">
                    <h5>Output Console <small style="float:right;font-size: 12px" class="loadingText"></small></h5>
                    <div id="resultEditor" style="width: 100%"></div>
                </div>
            </div>


        </div>
    </div>
    <!-- end panel -->


</div>
<script>
$(document).ready(function(){
    $("#query_type").select2();
   $("#pool_name").select2();
   $("#col_name").select2();

})

</script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="js/editor/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/ext-searchbox.js" type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/ext-beautify.js" type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/snippets/javascript.js" type="text/javascript" charset="utf-8"></script>
<script src="js/beautify.min.js" type="text/javascript"></script>

<script src="controllers/mongo-query-console.js" type="text/javascript"></script>