<div class="row-fluid">
    <ul class="nav submenu" style="">
        <li class=""><a href="<%= basepath %>/home"><i class="fa fa-home"></i> </a></li>
        <li class=""><a href="<%= basepath %>/dashboard">Dashboard</a></li>
        <li><a href="<%= basepath %>/firmware-management">Manage Firmwares</a></li>
        <li class="active"><a href="<%= basepath %>/firmware/ota-upgrade">OTA Upgrade</a></li>
    </ul>
</div>
<div class="container-fluid mt-2 platformBody">
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="<%= basepath %>/dashboard">Domain</a></li>
        <li class="breadcrumb-item"><a href="<%= basepath %>/firmware-management">Firmware Management</a></li>
        <li class="breadcrumb-item active">OTA Upgrade</li>
    </ol>
    <h1 class="page-header">OTA <small>(On The Air)</small> Upgrade</h1>

    <!-- begin panel -->
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">

                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-success" data-click="panel-reload" onclick="loadOTA()"><i class="fa fa-redo"></i></a>
                <!--<a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-warning" title="Help"><i class="icon-help"></i></a>-->

            </div>
            <h4 class="panel-title">
                <select class="form-control-sm" id="otaType" onchange="loadOTA()">
                    <option value="1">Device Batches</option>
                    <option value="2">Device Model Batches</option>
                </select>
            </h4>
        </div>
        <div class="panel-body" style="background-color: #eeeeee00;border: 1px solid #eee;padding-bottom: 30px;">

            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-group btn-group-justified pull-right">
                        <a class="btn btn-default" onclick="openModal(1)"><i class="fa fa-plus-square"></i> <span class="hidden-xs">Create OTA Batch</span></a>
                        <a class="btn btn-default" data-click="panel-reload" onclick="loadOTA()"><i class="fa fa-refresh"></i></a>
                    </div>

                    <table class="table table-bordered table-hover responsive no-wrap" id="otaTable"  cellspacing="0" width="100%">

                    </table>
                </div>
            </div>





        </div>
    </div>
    <!-- end panel -->

</div>

<script src="controllers/ota-upgrade.js" type="text/javascript"></script>

