<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<style>
        #page-container{
        background-color: hsl(205deg 40% 94%);
    }
    .bskp-submenu2 li.active {
        background-color: #2d2f79;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        font-weight: 600;
        
        color:white;
    }

    .bskp-submenu2 li.active>a {
        color:white;
    } 

    .bskp-submenu2 {
        height: 35px;
        border-radius: 10px;
        margin: 40px 39px 0px 40px !important;
    
    }

    .bskp-submenu2 li a {
        color: rgb(0, 0, 0);
    }

    .bskp-submenu2 li {
        line-height: 30px;
        padding: 3px 15px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        /* border-right: 1px solid #e8e8e8; */
        background-color:#fff;
    }

    .bskp-submenu2 li:first-child {
        /* border-left: 1px solid #e8e8e8; */
    }

    .bskp-submenu2 li a:hover {
        text-decoration: none;
        color: rgb(54, 48, 48) !important;
    }

    .bskp-submenu2 li.active a:hover {
        /* text-decoration: none; */
        color: rgb(58, 41, 41) !important;
        /* background-color: none!important; */
    }

    .bskp-submenu2 li:first-child>a>i {
        font-size: 16px;
        color: darkslategrey;
    }
 
    .bskp-submenu2 li:first-child>a:hover>i {
        font-size: 16px;
        
    }

    /* .bskp-container-frame{
        position: relative!important;
        top: -5px;
    } */ 

    .bskp-page-topic {
        font-size: 10px;
        font-weight: 600;
        color: #3e3e3e;
        padding: 12px 30px;
        box-shadow: 0px 2px 8px 0px #e6eaf8e3;
    }

    .bskp-modal textarea {
        min-height: 50px;
    }
    .refreshbutton:hover{
        background-color: #2d2f79;
    }
    .firmwareicon{
        
        
        width: 30px;
        height: 24px;
    }
    .select2-container--default .select2-selection--single{
        border-radius: 20px !important;
    }
    .refresh:hover{
        background-color:#2d2f79;
    }
    
    .bskp-modal label{
        font-size:13px ;
        font-weight: 600;
    }
    .bskp-submenu2{
        position: relative;
        top:4px;
    }
    .bskp-container-frame{
        position: sticky;
    }
     .nav>li.manage>:hover{
        background: #2d2f79 !important;
    }
    /* .bskp-submenu li.active {
        background-color: #90a1b7;
        font-weight: 600;
        border-radius: 4px;
    } */
    /* .bskp-submenu li.active>a {
        color: white;
    }

    .bskp-submenu {
        background-color: #ffffff !important;
        height: 35px;
        border-radius: 10px;
        margin: 30px 38px 25px 38px !important;
    }

    .bskp-submenu li a {
        color: rgb(0, 0, 0);
    }

    .bskp-submenu li {
        line-height: 30px;
        padding: 3px 15px;
        border-right: 1px solid #e8e8e8;
    }

    .bskp-submenu li:first-child {
        border-left: 1px solid #e8e8e8;
    }

    .bskp-submenu li a:hover {
        text-decoration: none;
        color: rgb(126, 126, 126) !important;
    }

    .bskp-submenu li.active a:hover {
        text-decoration: none;
        color: rgb(255, 255, 255) !important;
    }

    .bskp-submenu li:first-child>a>i {
        font-size: 16px;
        color: darkslategrey;
    }

    .bskp-submenu li:first-child>a:hover>i {
        font-size: 16px;
        color: rgb(132, 132, 132);
    }



    .bskp-page-topic {
        font-size: 10px;
        font-weight: 600;
        color: #3e3e3e;
        padding: 12px 30px;
        box-shadow: 0px 2px 15px 0px #e6eaf8e3;
    }

    .ota-upgrade {
        border: 1px solid #d3d8de;
    } */
   .plat{
    margin-top: 0px !important;
   }
</style>
<div class="row-fluid">
    <ul class="nav  bskp-submenu2" style="">
        <li style="font-size: 13px !important;font-weight:600;padding-bottom: 10px;"><a href="<%= basepath %>/firmware-management">Manage Firmwares</a></li>
        <li class="active manage" style="font-size: 13px !important;font-weight:600;padding-bottom: 10px;"><a href="<%= basepath %>/firmware/ota-upgrade">OTA Upgrade</a></li>
    </ul>
</div>

<div class="container platformBody mt-3 plat">

    <div class="panel panel-inverse bskp-container-frame">
        <div>
            <ol class="breadcrumb pull-right bskp-align-icon">
                <li class="breadcrumb-item" ><a href="<%= basepath %>/dashboard">Domain</a></li>
                <li class="breadcrumb-item"><a href="<%= basepath %>/firmware-management">Firmware Management</a></li>
                <li class="breadcrumb-item active">OTA Upgrade</li>
                <div class="ml-3">
                    <a href="javascript:;" class="btn btn-sm btn-icon btn-circle  bskp-icon-bg"
                        data-click="panel-expand"><image src="/images/max.SVG" height="14px"></a>
                    <a href="javascript:;" class="btn btn-sm btn-icon btn-circle bskp-icon-bg " title="Help"><img src="images/Question_icon (2).PNG"></a>

                </div>
            </ol>
        </div>
        <!-- <h1 class="page-header">OTA <small>(On The Air)</small> Upgrade</h1> -->
        <!-- <div class="page-header bskp-page-topic"><img src="images/menu/message-definition_1-bskp.png"
                class="bskp-topic-icon mr-1"> OTA (On The Air) Upgrade
            <span class="panel-title ml-3" style="color: #478ecc;">Total Devices: <b><span
                        class="">0</span></b></span>

        </div> -->
        <div class="page-header bskp-page-topic"><img src="images/firmware.SVG"
            class="bskp-topic-icon mr-1 firmwareicon" > 
    <span class="page-header" style="margin-left:0px;font-size:20px ;font-weight: 600;">OTA (On The Air) Upgrade</span>

        <span class="panel-title ml-3 " style="color: #2d2f79;">Total Devices:<span
                    class="firmwareCount">0</span></span>

    </div>


        <!-- <div class="page-header bskp-page-topic"><img src="images/firmware.SVG"
            class="bskp-topic-icon mr-1 firmwareicon" > 
    <span class="page-header" style="margin-left:0px;color: black;">OTA (On The Air) Upgrade</span>

        <span class="panel-title ml-3 " style="color: #2d2f79;">Total Devices:<span
                    class="firmwareCount">0</span></span>

    </div> -->

        <!-- begin panel -->
        <div>
            <div class="panel-heading bg-white">

                <h4 class="panel-title">
                    <div class="form-group col-md-3">

                        <select class="form-control-sm input-sm ota-upgrade" id="otaType" onchange="loadOTA()">
                            <option value="1">Device Batches</option>
                            <option value="2">Device Model Batches</option>
                        </select>
                    </div>
                </h4>
            </div>
            <div class="panel-body" style="background-color: #eeeeee00;padding-bottom: 30px;">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-group btn-group-justified pull-right bskp-btn-group-align">
                            <a class="btn btn bskp-btn-shadow bskp-blue-bg" style="font-size: 14px;font-weight: 500;" onclick="openModal(1)"> 
                                <image src="images/plusic.SVG" style="position: relative;bottom:1px"> <span class="hidden-xs">Create OTA Batch</span></a>
                            
                                    <a class="btn bskp-refresh-bg refreshbutton" data-click="panel-reload" onclick="loadOTA()"><i
                                    class="fa fa-refresh"></i></a>
                        </div>
                        <div class="bskp-table-layout">

                            <table class="table table-bordered table-hover bskp-table responsive no-wrap" id="otaTable"
                                cellspacing="0" width="100%">

                            </table>
                        </div>
                    </div>
                </div>





            </div>
        </div>
        <!-- end panel -->

    </div>
</div>
<script>
    $(document).ready(function(){
        $("#otaType").select2();
    
      
    })
    
    </script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="controllers/ota-upgrade.js" type="text/javascript"></script>