
<style>
    @media (max-width:600px){
        .mob-wrap{
           flex-wrap: wrap; 
        }
        .mx-sm-auto{
            margin: auto;
        }
        .mx-xs-auto{
            margin: auto;
        }
        .m-xs-0{
            margin: 0px;
        }
        .text-xs-center{
            text-align: center;
        }
    }
    @media (max-width:500px) {
        .xs-flex-wrap{
            flex-wrap: wrap;
        }
        .px-xs-2{
            padding-left: 0.5rem !important;
            padding-right: 0.5rem !important;
        }
    }
</style>
<link href="css/edit-profile.css" rel="stylesheet"/>
<div class="container mt-4 platformBody px-xs-2">
    

    <div class="panel panel-inverse bskp-container-frame m-xs-0">
        <!-- <div>
            <ol class="breadcrumb pull-right bskp-align-icon" style="justify-content: center;">
                
                <li class="breadcrumb-item"><a href="<%= basepath %>/dashboard">Home</a></li>
                <li class="breadcrumb-item active">My Profile</li>
                <div class="ml-4">
                    
                    <a class="btn bskp-refresh-bg" data-click="panel-reload" title="Refresh" onclick="loadProfile()"><img class="refresh-button" src="images/menu/refresh-button.png" alt=""></a>
                </div>
           </ol>
        </div> -->

        <div class="page-header d-flex xs-flex-wrap bskp-page-topic page-header-bg justify-content-between">
           <div>
            <img src="images/person.png" width="40" alt="person">
            My Profile
           </div>
            <div class="ml-auto">
                <ol class="breadcrumb bskp-align-icon" style="justify-content: center;margin: 5px 30px 0px 0px;">
                    
                    <li class="breadcrumb-item"><a href="<%= basepath %>/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">My Profile</li>
                    <div class="ml-4">
                        
                        <a class="btn bskp-refresh-bg" data-click="panel-reload" title="Refresh" onclick="loadProfile()"><img class="refresh-button" src="images/menu/refresh-button.png" alt=""></a>
                    </div>
               </ol>
            </div>
        </div>
        <div class="panel-body" >

            <div class="row" >
                <div class="col-lg-12">

                    <div class="panel panel-inverse" data-sortable-id="index-1">
                        <div class="">

                            <div class="row px-md-5">
                                <div class="col-lg-12">
                                    <div class="row form-group ">
                                        <div class="col-lg-4 d-flex mob-wrap">
                                            <div class="upload_profile_pic col-lg-5">
                                                <div class="outer-border mx-xs-auto">
                                                    <div class="circle mx-sm-auto" style="overflow: inherit;">
                                                        <img src="" class="user_profile_picture profile_pic" alt="profile Image">
                                                        <div class="upload-file">
                                                            <div class="img-bg">
                                                                <img src="images/camera.svg" class="upload-image" alt="">
                                                            </div>
                                                            <input type="file" class="file-upload" id="profileFile" accept="image/*" onchange="uploadImage()" required/>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                               
                                            </div>
                                            <div class="text-xs-center pt-md-5 col-lg-6">
                                                <p class="fullName"></p>
                                                <p class="emailId"></p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="tabbable-responsive">
                                        <div class="tabbable">
                                            <ul id="tabs" class="nav nav-tabs">
                                                <li class="nav-item"><a href="" data-target="#profileInformation" data-toggle="tab" class="nav-link small text-capitalize pr-5 py-2 active">Profile Information</a></li>
                                                <li class="nav-item"><a href="" data-target="#changePassword" data-toggle="tab" class="nav-link small text-capitalize pr-5 py-2">Change Password</a></li>
                                                <li class="nav-item"><a href="" data-target="#domainInformaion" data-toggle="tab" class="nav-link small text-capitalize pr-5 py-2">Domain Information</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                            

                                    
                                    <div id="tabsContent" class="tab-content">
                                        <div id="profileInformation" class="tab-pane fade active show">
                                            <form action="javascript:void(0)" novalidate onsubmit="proceedUpdate()">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>First Name *</label>
                                                            <input type="text" id="firstName" maxlength="100" class="form-control input-sm"required/>
                                                            <span id="logfirstName"></span>    
                                                                
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Last Name *</label>
                                                            <input type="text" id="lastName" maxlength="100" class="form-control input-sm"required/>
                                                            <span id="loglastName"></span>   
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group position-relative">
                                                            <label>Email</label>
                                                            <input type="text" id="emailId" readonly class="form-control input-sm read-email"required/>
                                                            <img src="images/tick-right.svg" class="tick-right" alt="&#10003;" style="right: 35px;">
                                                            <span id="logemailId"></span>   
                                                           
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Mobile No </label>
                                                            <input type="text" id="mobileNo" class="form-control input-sm" onkeypress="return onlyNumeric(event);" maxlength="15"/>
                                                            <small>Eg, +19876543210 (Including + & country code)</small>
                                                            <span id="logmobileNo"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <button type="submit" class="btn  btn-size btn-background px-4">Update
                                                                Profile
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    
                                        <div id="changePassword" class="tab-pane fade">
                                            <form class="changePassword" action="javascript:void(0)" novalidate onsubmit="updatePassword()">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>New Passsword</label>
                                                            <input type="password" class="form-control form-control-sm input-text" id="password" placeholder="New Password" required/>
                                                                <em onclick="toggleBox()" class="fa fa-eye form-control-feedback passwordIcon icon-position" ></em>
                                                                <span id="logpassword"></span>
                                                                
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Confirm Passsword</label>
                                                            <input type="password" class="form-control form-control-sm input-text" id="conf_password" placeholder="Confirm Password" required/>
                                                                <em onclick="toggles()" class="fa fa-eye form-control-feedback conf_passwordIcon icon-position" ></em>
                                                                <span id="logconf_password"></span>
                                                                
                                                        </div>
                                                        <div class="g-recaptcha" id="captchaFeedback" data-sitekey="6Lel4Z4UAAAAAOa8LO1Q9mqKRUiMYl_00o5mXJrR"></div>
                                                        <div id="logcaptchaFeedback"></div>
                                                    </div>
                                                    <div class="col-md-12 mt-4">
                                                        <div class="form-group">
                                                            <button type="submit" class="btn  btn-size btn-background px-4"> Update
                                                                Password
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>


                                            </form>
                                        </div>

                                    
                                        <div id="domainInformaion" class="tab-pane fade">    
                                            
                                            <form action="javascript:void(0)" novalidate >
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label>Primary Domain</label>
                                                            <input type="text" class="form-control form-control-sm primary_domain" id="primaryDomain">
                                                            
                                                            <span id="logprimaryDomain"></span>
                                                            <button class="btn mt-4 btn-size btn-background px-4"
                                                                    onclick="updatePrimaryDomain()">Set As Primary Domain
                                                            </button>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>   
                                        </div>
                                </div>
                                </div>
                                <!--<div class="col-lg-2">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <img src="images/fitbit.png" style="max-width:100%">
                                        </div>
                                        <div class="col-md-7" style="text-align: center">
                                            <a class="btn btn-block btn-default fitbitBtn">Link your fitbit band</a>
                                            <small class="fitbitTime"></small>
                                        </div>

                                    </div>
                                </div>-->
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

<script src="/third-party-config.js"></script>
<script src="controllers/profile.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script>
    $("body").removeClass('bg-white');

    function onSubmit(token) {
     document.getElementById("registerForm").submit();
   }
</script>
