<div class="row-fluid">
<ul class="nav submenu" style="">
    <li class=""><a href="<%= basepath %>/home"><i class="fa fa-home"></i> </a></li>
    <li class=""><a href="<%= basepath %>/dashboard">Dashboard</a></li>
    <li><a href="<%= basepath %>/device-management">Manage Devices</a></li>
    <li class=""><a href="<%= basepath %>/device-models">Manage Device Models</a></li>
    <li class="active"><a href="<%= basepath %>/sim-provisioning">Sim Provisioning</a></li>
</ul>
</div>
<div class="container platformBody mt-3">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="<%= basepath %>/dashboard">Domain</a></li>
        <li class="breadcrumb-item"><a href="<%= basepath %>/device-management">Device Management</a></li>
        <li class="breadcrumb-item active">Sim Provisioning</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Manage Sim Provisioning</h1>
    <!-- end page-header -->

    <!-- begin panel -->
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-success" data-click="panel-reload" onclick="loadSimList()"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-warning" title="Help"><i class="icon-help"></i></a>

            </div>
            <h4 class="panel-title">Total Sim Provisioned: <b><span class="simCount"></span></b></h4>


        </div>
        <div class="panel-body" style="background-color: #eeeeee00;border: 1px solid #eee;padding-bottom:30px">

            <div class="btn-group btn-group-justified pull-right">
                <a class="btn btn-default" onclick="openModal(0)"><i class="icon-plus-square-o" ></i> <span class="hidden-xs"> Add IMEI</span></a>
                <a class="btn btn-default" onclick="openModal(0)"><i class="icon-upload4" ></i> <span class="hidden-xs"> Bulk Upload IMEI</span></a>
                <a class="btn btn-default" onclick="openModal(0)"><i class="icon-magic" ></i> <span class="hidden-xs"> Provision IMEI</span></a>
            </div>


            <table class="table table-bordered table-hover responsive no-wrap" id="simTable"  cellspacing="0" width="100%">

            </table>

            
        </div>
    </div>
    <!-- end panel -->

</div>

<script src="controllers/sim-provisioning.js" type="text/javascript"></script>



<div id="addDevice" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="templateAction"></span> Device Model</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form action="javascript:void(0)">
                <div class="modal-body">
                    <div  class="row">
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Model Id</label>
                                <input  class="form-control input-sm" placeholder="" type="text" id="device_id" required>
                            </div>
                        </div>
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Model Version</label>
                                <input  class="form-control input-sm" placeholder="" type="text" id="device_version" required>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <div  class="col-md-12">
                            <div  class="form-group">
                                <label  class="inputLabel">Description</label>
                                <textarea class="form-control input-sm" id="device_desc" required ></textarea>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btnModal btnSubmit">Proceed</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Device Model</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h5>Are you sure want to delete <b><span class="deviceId"></span> device model</b>?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btnModal" onclick="proceedDelete()">Proceed</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="deviceSettings" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Device Model Board Configuration</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form action="javascript:void(0)">
                <div class="modal-body">
                    <div  class="row">
                        <div  class="col-md-12">
                            <div  class="form-group">
                                <label  class="inputLabel">Board Configuration</label>
                                <textarea  class="form-control input-sm" id="board_config" placeholder="{name: 'value'}" required style="height: 200px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btnModal btnSubmit" onclick="saveSettings()">Save Configuration</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->