<style>
    .nav-tabs {
        background: #4b4a49;
        border-radius: 0px;
    }

    .tab-content {
        border: 1px solid #4a494961;
        padding: 3px;
        margin-bottom: 0px;
    }

    .nav-tabs .nav-link {
        color: #d0d0d0;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #FFC107;
        background-color: #272822;
        border-color: #dee2e6 #dee2e6 #fff;
        border-radius: 0px;
        font-weight: bold;
    }

    .nav-tabs .nav-link:hover {
        color: #FFC107;
        background-color: #272822;
        border-color: #dee2e6 #dee2e6 #fff;
        border-radius: 0px;
    }
</style>
<div class="container mt-3 msgDef platformBody">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="/dashboard">Domain</a></li>
        <li class="breadcrumb-item active">Site Noop</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Site Noop</h1>
    <!-- end page-header -->

    <!-- begin panel -->
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-success"
                   data-click="panel-reload" onclick="loadPage()"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-warning" title="Help"><i class="icon-help"></i></a>

            </div>
            <h4 class="panel-title">Total Website Url's: <b><span class="actionCount"></span></b></h4>
        </div>
        <div class="panel-body" style="background-color: #eeeeee00;border: 1px solid #eee;padding-bottom: 30px;">


            <div class="btn-group btn-group-justified pull-right acBtn">
                <a class="btn btn-default" onclick="openModal(1)"><i class="fa fa-plus-square"></i> <span class="hidden-xs">New Website Url</span></a>
                <a class="btn btn-default" data-click="panel-reload" onclick="loadPage()"><i class="fa fa-refresh"></i></a>
            </div>

            <table class="table table-bordered table-hover responsive no-wrap" id="siteTable"  cellspacing="0" width="100%">

            </table>



        </div>
    </div>
    <!-- end panel -->

</div>

<script src="/controllers/site-noop.js" type="text/javascript"></script>


<div id="websiteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="templateTitle"></span> Website</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form action="javascript:void(0)" autocomplete="off">
                <div class="modal-body">
                    <div  class="row">
                        <div  class="col-md-5">
                            <div  class="form-group">
                                <label  class="inputLabel">Name *</label>
                                <input type="text" id="website_name" class="form-control" required placeholder=""/>
                            </div>
                        </div>
                        <div  class="col-md-5">
                            <div  class="form-group">
                                <label  class="inputLabel">Url *</label>
                                <input type="text" id="website_url" class="form-control" required placeholder="https://boodskap.io"/>
                                <span class="">for path params: https://boodskap.io/{path}</span>
                            </div>
                        </div>
                        <div  class="col-md-2">
                            <div  class="form-group">
                                <label  class="inputLabel">Method *</label>
                                <select id="url_method" class="form-control" required>
                                    <option value="GET">GET</option>
                                    <option value="POST">POST</option>
                                    <option value="PUT">PUT</option>
                                    <option value="DELETE">DELETE</option>
                                    <option value="PATCH">PATCH</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li class="nav-items">
                                    <a href="#default-tab-5" data-toggle="tab" class="nav-link active show">
                                        <span>Basic Auth</span>
                                    </a>
                                </li>
                                <li class="nav-items">
                                    <a href="#default-tab-0" data-toggle="tab" class="nav-link">
                                        <span>Headers</span>
                                    </a>
                                </li>
                                <li class="nav-items">
                                    <a href="#default-tab-1" data-toggle="tab" class="nav-link">
                                        <span>Path</span>
                                    </a>
                                </li>
                                <li class="nav-items">
                                    <a href="#default-tab-2" data-toggle="tab" class="nav-link">
                                        <span>Params</span>
                                    </a>
                                </li>
                                <li class="nav-items">
                                    <a href="#default-tab-3" data-toggle="tab" class="nav-link">
                                        <span>Form Data</span>
                                    </a>
                                </li>
                                <li class="nav-items">
                                    <a href="#default-tab-4" data-toggle="tab" class="nav-link">
                                        <span>Body</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content" style="height: 200px;overflow: auto;overflow-x: hidden">
                                <div class="tab-pane fade active show" id="default-tab-5">
                                    <div class="row p-3">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Username</label>
                                                <input type="text" class="form-control" id="basic_username" autocomplete="off"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" class="form-control" id="basic_password"  autocomplete="off"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="default-tab-0">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Key</th><th>Value</th><th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="headerBody">

                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="default-tab-1">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Key</th><th>Value</th><th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="pathBody">

                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="default-tab-2">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Key</th><th>Value</th><th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="queryBody">

                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="default-tab-3">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Key</th><th>Type</th><th>Value</th><th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody class="formBody">

                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane fade" id="default-tab-4">
                                    <label>Body Content</label>
                                    <textarea class="form-control" style="height: 160px;resize: none" id="bodyParams"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div  class="col-md-4">
                            <div  class="form-group">
                                <label  class="inputLabel">Response Code *</label>
                                <select id="status_code" class="form-control" required>
                                    <option value="200">200</option>
                                    <option value="201">201</option>
                                    <option value="202">202</option>
                                    <option value="400">400</option>
                                    <option value="401">401</option>
                                    <option value="402">402</option>
                                    <option value="403">403</option>
                                    <option value="404">404</option>
                                    <option value="405">405</option>
                                    <option value="500">500</option>
                                    <option value="501">501</option>
                                    <option value="502">502</option>
                                    <option value="503">503</option>
                                    <option value="504">504</option>
                                </select>
                            </div>
                        </div>
                        <div  class="col-md-4">
                            <div  class="form-group">
                                <label  class="inputLabel">Response should match</label> <small>(Regular expression)</small>
                                <input type="text" class="form-control" id="response_should" placeholder="\\X+\\z" />
                            </div>
                        </div>
                        <div  class="col-md-4">
                            <div  class="form-group">
                                <label  class="inputLabel">Response should contains</label>
                                <input type="text" class="form-control" id="response_contains" placeholder="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Email *</label>
                                <input type="text" class="form-control" required id="email_id" placeholder="xyz@boodskap.io,xyz@boodskap.io" />
                                <span class="">multiple email id's with comma</span>
                            </div>
                        </div>
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Phone Number</label>
                                <input type="text" class="form-control" id="phone_no" placeholder="+1987654321,+91987654321" />
                                <span class="">multiple phone number's with comma. country code is must with + sign</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btnModal btnSubmit">Save</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

