<link href="css/sidemenu.css" rel="stylesheet" />

<div id="mySidenav" class="sidenav bskp-sidenav" style="background-color:white">
    <div class="sidebar" style="width: 250px;padding-top: 60px;">
    <ul class="nav" style="margin-bottom: 50px">
        <li class="has-sub active sideMain homeMenu">
            <a href="<%= basepath %>/home">
                <img src="images/menu/home_icon.svg" alt="">
                <span>Home</span>
            </a>
        </li>
        <!-- <li class="has-sub active sideMain homeMenu">
            <a href="<%= basepath %>/statistics-dashboard">
                <i class="fa fa-pie-chart"></i>
                <span>Statistics Platform</span>
            </a>
        </li> -->
        <li class="nav-header">Platform</li>
        <li class="has-sub sideMain marketMenu">
        <a href="<%= basepath %>/dashboard">
           <img src="images/menu/widgets-bskp.svg" alt="">
            <span>Dashboard</span>
        </a>
        </li>
        <li class="has-sub sideMain marketMenu">
        <a href="<%= basepath %>/userevents">
            <img src="images/bell.svg"  alt="">
            <span>Event Subscriptions</span>
        </a>
        </li>




        <li class="nav-header">Developer Modules</li>

        <li class="has-sub sideMain dashboardEditor">
            <a href="<%= basepath %>/dashboard-editor">
                <img src="images/menu/dashboard-editor.svg" alt="">
                <span>Dashboard Editor Studio</span>
            </a>
        </li>
        <li class="has-sub sideMain mobMenu">
            <a href="<%= basepath %>/mobile-platform">
                <img src="images/menu/mobile.svg" alt="">
                <span>Mobile Editor Studio</span>
            </a>
        </li>

        <li class="has-sub sideMain widgets">
            <a href="<%= basepath %>/widgets">
                <img src="images/menu/library.svg" alt="">
                <span>Widget Library</span>
            </a>
        </li>

        <li class="has-sub sideMain marketMenu">
            <a href="<%= basepath %>/marketplace">
                <img src="images/menu/market-place.svg" alt="">
                <span>Boodskap Marketplace</span>
            </a>
        </li>


        <li class="has-sub sideMain msgDefMenu">
            <a href="<%= basepath %>/message-definition">
                <img src="images/menu/message-definition_1-bskp.svg" alt="">
                <span>Message Definition</span>
            </a>
        </li>
        <li class="has-sub sideMain recordDefMenu">
            <a href="<%= basepath %>/record-definition">
                <img src="images/menu/record-definition-bskp.svg" alt="">
                <span>Record Definition</span>
            </a>
        </li>
        <li class="has-sub sideMain recordDefMenu dbquery">
            <a href="<%= basepath %>/db-table">
                <img src="images/menu/db-table.svg" alt="">
                <span>DB Table</span>
            </a>
        </li>
        <li class="has-sub sideMain recordDefMenu sqlquery">
            <a href="<%= basepath %>/sql-table">
                <img src="images/menu/sql-table.svg" alt="">
                <span>SQL Table</span>
            </a>
        </li>
        <li class="has-sub sideMain scriptMenu">
            <a href="<%= basepath %>/script-console">
                <img src="images/menu/script-console-fanta-bskp.svg" alt="">
                <span>Script Console</span>
            </a>
        </li>
        <li class="has-sub sideMain rulesMenu">
            <a href="<%= basepath %>/rules-engine">
                <img src="images/menu/rules-engine-fanta-bskp.svg" alt="">
                <span>Rules Engine</span>
            </a>
        </li>
        <li class="has-sub sideMain codeEditor">
            <a href="<%= basepath %>/code-editor">
                <img src="images/menu/code-editor.svg" alt="">
                <span>Code Editor</span>
            </a>
        </li>
        <li class="has-sub sideMain eventMenu">
            <a href="<%= basepath %>/events">
                <img src="images/menu/events&notifications-bskp.svg" alt="">
                <span>Events & Notification</span>
            </a>
        </li>
        <li class="has-sub sideMain eventMenu">
            <a href="<%= basepath %>/templates">
                <img src="images/menu/templates-bskp.svg" alt="">
                <span>Plaform Templates</span>
            </a>
        </li>

        <li class="has-sub sideMain sqlquery">
            <a href="<%= basepath %>/sql-templates">
                <img src="images/menu/dsql-temp.svg" alt="">
                <span>DSQL Templates</span>
            </a>
        </li>

        <li class="has-sub sideMain dbquery">
            <a href="<%= basepath %>/db-templates">
                <img src="images/menu/db-templates.svg" alt="">
                <span>DB Templates</span>
            </a>
        </li>



        <li class="has-sub sideMain mlHeader">
            <a href="javascript:;">
                <b class="caret"></b>
                <img src="images/menu/machine-learning-bskp.svg" alt="">
                <span>AI & Machine Learning</span>
            </a>
            <ul class="sub-menu">
                <li class="sideSub dataLearnMenu"><a href="<%= basepath %>/machine-learning">Data Learning</a></li>
                <li class="sideSub faceRegMenu"><a href="<%= basepath %>/face-recognition">Face Recognition</a></li>
               <!-- <li class="sideSub opencvMenu"><a href="<%= basepath %>/opencv-recognition">OpenCV Object Recognition</a></li>
                <li class="sideSub tensorflowMenu"><a href="<%= basepath %>/tensorflow-recognition">TensorFlow Object Recognition</a></li>
                <li class="sideSub msgImgMenu"><a href="<%= basepath %>/message-image-recognition">Message Image Recognition</a></li>-->
            </ul>
        </li>


        <!-- <li class="nav-header">Billing</li>


        <li class="has-sub sideMain billingMenu adminMenu">
            <a href="<%= basepath %>/manage-billing">
                <i class="icon-dollar"></i>
                <span>Billing Management</span>
            </a>
        </li>
        <li class="has-sub sideMain billingMenu">
            <a href="<%= basepath %>/invoice">
                <i class="icon-coin-dollar"></i>
                <span>Invoice</span>
            </a>
        </li> -->

        <li class="nav-header">Administration</li>

        <li class="has-sub sideMain userHeader">
            <a href="javascript:;">
                <b class="caret"></b>
                <img src="images/menu/user-management-fanta-bskp.svg" alt="">
                <span>User Management</span>
            </a>
            <ul class="sub-menu">
                <li class="sideSub userMenu"><a href="<%= basepath %>/user-management">Manage Users</a></li>
                <!--<li class="sideSub userRoleMenu"><a href="<%= basepath %>/user-roles">Manage User Roles</a></li>-->
            </ul>
        </li>

        <li class="has-sub sideMain tokenHeader">
            <a href="javascript:void(0);">
                <b class="caret"></b>
                <i class="icon-key2"></i>
                <span>Token Management</span>
            </a>
            <ul class="sub-menu">
                <li class="sideSub tokenMenu"><a href="<%= basepath %>/token-management">Manage Tokens</a></li>
                <!--<li class="sideSub userRoleMenu"><a href="<%= basepath %>/user-roles">Manage User Roles</a></li>-->
            </ul>
        </li>

        <li class="has-sub sideMain deviceHeader" >
            <a href="javascript:;">
                <b class="caret"></b>
                <img src="images/menu/hardware-fanta_1-bskp.svg" alt="">
                <span>Device Management</span>
            </a>
            <ul class="sub-menu">
                <li class="sideSub deviceMenu"><a href="<%= basepath %>/device-management">Manage Devices</a></li>
                <li class="sideSub deviceModelMenu"><a href="<%= basepath %>/device-models">Manage Device Models</a></li>
                <li class="sideSub deviceSimMenu"><a href="<%= basepath %>/sim-provisioning">Sim Provisioning</a></li>

                <!-- Delete Later -->
               <!-- <li class="sideSub deviceSimMenu"><a href="<%= basepath %>/module-profile">Module Profile</a></li>
                <li class="sideSub deviceSimMenu"><a href="<%= basepath %>/module-attributes">Module Attributes</a></li>
                <li class="sideSub deviceSimMenu"><a href="<%= basepath %>/device-profile">Device Profile</a></li>
                <li class="sideSub deviceSimMenu"><a href="<%= basepath %>/sensor-profile-attributes">Sensor Profile & Attributes</a></li>
                <li class="sideSub deviceSimMenu"><a href="<%= basepath %>/message-services-profile">Message Services Profile</a></li>
                <li class="sideSub deviceSimMenu"><a href="<%= basepath %>/carrier-profile">Carrier Profile</a></li>-->


            </ul>
        </li>
        <li class="has-sub sideMain assetHeader">
            <a href="javascript:;">
                <b class="caret"></b>
                <img src="images/menu/assets-management-bskp.svg" alt="">
                <span>Asset Management</span>
            </a>
            <ul class="sub-menu">
                <li class="sideSub assetMenu"><a href="<%= basepath %>/asset-management">Mange Assets</a></li>
            </ul>
        </li>
        <li class="has-sub sideMain firmwareHeader">
            <a href="javascript:;">
                <b class="caret"></b>
                <img src="images/menu/firmware-management-fanta-bskp.svg" alt="">
                <span>Firmware Management</span>
            </a>
            <ul class="sub-menu">
                <li class="sideSub firmwareMenu"><a href="<%= basepath %>/firmware-management">Mange Firmware</a></li>
               <!--&lt;!&ndash; <li class="sideSub otadeviceMenu"><a href="<%= basepath %>/ota-device-batches">OTA Device Batches</a></li>-->
                <li class="sideSub otalMenu"><a href="<%= basepath %>/firmware/ota-upgrade">OTA Upgrade</a></li>
            </ul>
        </li>

        <li class="has-sub sideMain geofenceMenu">
            <a href="<%= basepath %>/geofence">
                <img src="images/menu/geofence-fanta-bskp.svg" alt="">
                <span>Geofence Management</span>
            </a>
        </li>
        <!-- <li class="has-sub sideMain pluginMenu">
            <a href="<%= basepath %>/plugin-management">
                <i class="icon-puzzle-piece"></i>
                <span>Plugin Management</span>
            </a>
        </li> -->


        <li class="nav-header">Plugins</li>

        <li class="has-sub sideMain alexaMenu">
            <a href="<%= basepath %>/alexa">
                <img src="images/menu/goggle-mic.svg" alt="">
                <span>Amazon Alexa</span>
            </a>
        </li>


        <li class="nav-header">Utilities</li>


        <li class="has-sub sideMain marketMenu">
            <a href="<%= basepath %>/files">
                <img src="images/menu/folder.svg" alt="">
                <span>File Storage</span>
            </a>
        </li>
        <li class="has-sub sideMain marketMenu">
            <a href="<%= basepath %>/query-console" >
                <img src="images/menu/Search.png" alt="">
                <span>Elastic Search Query</span>
            </a>
        </li>
        <li class="has-sub sideMain marketMenu dbquery">
            <a href="<%= basepath %>/db-query-console" >
                <img src="images/menu/db-query.svg" alt="">
                <span>DB Query</span>
            </a>
        </li>
        <li class="has-sub sideMain marketMenu sqlquery">
            <a href="<%= basepath %>/sql-query-console" >
                <img src="images/menu/dsql-console.svg" alt="">
                <span>Ignite SQL Query</span>
            </a>
        </li>
        <li class="has-sub sideMain marketMenu">
            <a href="<%= basepath %>/messages">
                <img src="images/menu/messages.svg" alt="">
                <span>Messages</span>
            </a>
        </li>
        <li class="has-sub sideMain marketMenu">
            <a href="<%= basepath %>/event-logs" >
                <img src="images/menu/event-log.svg" alt="">
                <span>Event Logs</span>
            </a>
        </li>
        <li class="has-sub sideMain marketMenu">
            <a href="<%= basepath %>/log-console" target="_blank">
                <img src="images/menu/app-log.svg" alt="">
                <span>Application Logs</span>
            </a>
        </li>
       <!-- <li class="has-sub sideMain marketMenu">
            <a href="<%= basepath %>/api-doc">
                <i class="icon-file-text-o"></i>
                <span>API Docs</span>
            </a>
        </li>-->

       <!-- <li class="has-sub sideMain marketMenu">
            <a href="javascript:;">
                <b class="caret"></b>
                <i class="icon-android-playstore"></i>
                <span>Boodskap Marketplace</span>
            </a>
            <ul class="sub-menu">
                <li class="sideSub deviceMenu"><a href="<%= basepath %>/marketplace">Dashboard</a></li>
                <li class="sideSub deviceMenu"><a href="<%= basepath %>/widgets">Widgets</a></li>
                <li class="sideSub deviceModelMenu"><a href="<%= basepath %>/marketplace/verticals">Verticals</a></li>
            </ul>
        </li>-->

       <!-- <li class="has-sub sideMain widgetsMenu">
            <a href="<%= basepath %>/widgets">
                <i class="icon-film2"></i>
                <span>Widgets</span>
            </a>
        </li>
        <li class="has-sub sideMain applicationMenu">
            <a href="<%= basepath %>/marketplace/applications">
                <i class="icon-cube2"></i>
                <span>Applications</span>
            </a>
        </li>-->

    </ul>
    </div>
</div>