<style>
    .modules {
        text-align: center;
        background-color: #eeeeee69;
        border: 1px solid #eee;
        height: 110px;

    }

    .modules label {
        font-weight: 400;
        width:90%;
        white-space: pre-line;
    }
    .modules:hover {
        background-color: #ffc10754;
        cursor: pointer;
    }

    .modules img {
        width: auto;
        height: 42px;
        margin-top: 10px;
    }

</style>

<div class="container mt-3 platformBody">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right hidden-xs">
        <li class="breadcrumb-item">
            <a href="<%= basepath %>/" class="currentTime">Boodskap Platform</a></li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Welcome to Boodskap IoT Platform!
        <small class="hidden-xs" style="font-size: 50%">Let's start building your IoT Solutions on the fly. </small>

    </h1>
    <div class="panel panel-inverse">
        <div class="panel-body" style="background-color: #eeeeee00;border: 1px solid #eee;padding-bottom: 30px;">

            <!--Implement Your Page Content Here-->

        </div>
    </div>
    <!-- end panel -->
</div>

<script src="controllers/statistics-dashboard.js"></script>