<style>
     @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    code{
        background: none !important;
        color:black;
        font-family: Montserrat;
        
    }
    
     .table>tbody>tr>td {
        margin:10px;
        padding: 15px;
    } 
 
    .close_icon{
    border-radius: 13px;padding:3px

}
.ace_text-input{
    color: red;
}
.ace-monokai .ace_gutter-active-line{
    background-color: #dadada;

}
.ace-monokai .ace_marker-layer .ace_active-line {
    background-color:#e8f2fe;
    color: black;
}
/* .ace_scrollbar .ace_scrollbar-h{
    margin-right: 15px !important;
} */
/* .ace_scrollbar .ace_scrollbar-v
.ace_scrollbar-inner
.ace_scrollbar .ace_scrollbar-h */

  /* .ace-eclipse .ace_gutter{
        background-color: hsl(210deg 31% 95%);
        border: 2px solid #eaf1f6;
        border-radius: 10px;  
    } * */
    /* .ace_content{  
        position: relative;
        left: 8px;
        /* border: 2px solid  #eaf1f6;   */
       
        /* border-radius: 10px;   
    } * */ 

    .ace-monokai .ace_gutter{
        background-color: hsl(210deg 31% 95%);
        
    }
    .ace-monokai{
        background-color: #ffffff;
        color: rgb(41, 36, 36);
        border: 2px solid  #eaf1f6;
        border-radius: 10px;
        
    }
  
</style>
<link rel="stylesheet" href="/webapps/css/Event-Logs.css">
<!--<div class="row-fluid">

    <ul class="nav submenu" style="">
        <li class=""><a href="<%= basepath %>/home"><i class="fa fa-home"></i> </a></li>
        <li class=""><a href="<%= basepath %>/dashboard">Dashboard</a></li>
        <li class="active"><a href="<%= basepath %>/templates">Templates</a></li>
    </ul>
</div>-->
<!-- <div class="container mt-3 msgDef platformBody">
    <!-- begin breadcrumb -->
    <!-- <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="<%= basepath %>/dashboard">Domain</a></li>
        <li class="breadcrumb-item active">Templates</li>
    </ol> -->
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <!-- <h1 class="page-header">Manage Templates</h1> -->

    <!-- end page-header -->

    <!-- begin panel -->
    <!-- <div class="panel panel-inverse"> -->
        <!-- <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-success" data-click="panel-reload" onclick="loadTemplates()"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-warning" title="Help"><i class="icon-help"></i></a>
            </div>

            <h4 class="panel-title">Total Templates: <b><span class="templateCount"></span></b></h4>
        </div>
        <div class="panel-body" style="background-color: #eeeeee00;border: 1px solid #eee;padding-bottom: 30px;">

            <div class="systemTemplate" style="display: none">
                <label class="text-warning">System Template</label>
                <small class="text-grey">Only visible to admin</small>
                <label><input type="radio" name="systemFlag" value="true" onchange="loadTemplates()"/> True </label>
                <label><input type="radio" name="systemFlag" value="false" onchange="loadTemplates()" checked/> False </label>
            </div>

            <div class="btn-group btn-group-justified pull-right">
                <a class="btn btn-default" onclick="openModal(1)"><i class="fa fa-plus-square"></i> <span class="hidden-xs">Add Template</span></a>
                <a class="btn btn-default" onclick="openModal(2)"><i class="icon-upload3"></i> <span class="hidden-xs">Upload Template</span></a>
                <a class="btn btn-default" onclick="openModal(3)"><i class="icon-download"></i> <span class="hidden-xs">Download Template</span></a>
                <a class="btn btn-default" data-click="panel-reload" onclick="loadTemplates()"><i class="fa fa-refresh"></i></a>
            </div>


            <table class="table table-bordered responsive no-wrap" id="templateTable"  cellspacing="0" width="100%">

            </table>


        </div>
    </div> -->
    <!-- end panel -->

<!-- </div> --> 
<div class="panel container msgDef  platformBody">  
    <!-- begin panel -->
    <div class=" panel-inverse bskp-container-frame">
        <div>
            <ol class="breadcrumb pull-right">
                <li class="breadcrumb-item"><a href="<%= basepath %>/dashboard">Domain</a></li>
                <li class="breadcrumb-item active">Templates</li>
                <div class="ml-4 mr-1">
                    <a href="javascript:;" class="btn btn-sm btn-icon btn-circle  bskp-icon-bg" title="Expand" data-click="panel-expand" ><img height="14px" src="images/menu/expand-icon.svg" alt="expand-icon"></a>
                     <a href="javascript:;" class="btn btn-sm btn-icon btn-circle bskp-icon-bg" title="Help"  > <img src="images/menu/Question_icon.png" alt="help_icon"> </a>
                   </div>
            </ol>
        </div>
               <!-- begin breadcrumb -->
    <!-- end breadcrumb -->
    <!-- begin page-header --> 
    <div class="page-header bskp-page-topic"><img src="images/menu/templates-bskp.svg" class="bskp-topic-icon mr-1 ml-2" alt="logo" > Manage Templates <span class="panel-title"></span>
        <span class="panel-title ml-3 count" style="color:#2d2f79;">Total  Templates&nbsp:&nbsp<strong><span  class="templateCount"></span></strong></span>
      
    </div>
    <!-- end page-header -->    
        <div class="panel-body">
            <div class="row m-0">
                <div class="col-12">
                    <div class="systemTemplate" style="display: none">
                        <label class="text-warning">System Template</label>
                        <small class="text-grey">Only visible to admin</small>
                        <label><input type="radio" name="systemFlag" value="true" onchange="loadTemplates()"/> True </label>
                        <label><input type="radio" name="systemFlag" value="false" onchange="loadTemplates()" checked/> False </label>
                    </div>
                    <div class=" btn-group-justified pull-right">
                        <a style="background-color:#2d2f79;border-radius:10px;color: white;font-weight:400;font-size:14px;height:32px;" class="btn mr-3" onclick="openModal(1)"><img class="pb-1" src="images/plus.svg" width="18px" height="18px" alt=""> <span class="hidden-xs">Add Template</span></a>
                        <a class="btn mr-2" style="background-color:#ffffff;border:1px solid rgb(234 241 246);border-radius:10px;width:40px;" onclick="openModal(2)"><img src="images/menu/upload.svg" width="15px"height="15px" alt=""> <span class="hidden-xs"></span></a>
                        <a class="btn mr-2"style="background-color:#ffffff;border:1px solid rgb(234 241 246);border-radius:10px;width:40px" onclick="openModal(3)"><img src="images/menu/download.svg" width="15px"height="15px" alt=""><span class="hidden-xs"></span></a>
                        <a  class="btn  mr-2 bskp-refresh-bg" style="width:40px;" data-click="panel-reload" onclick="loadTemplates()"><i class="fa fa-refresh"></i></a>
                    </div>
                <div class="col-12">
                    <!-- <div class="btn-group btn-group-justified pull-right bskp-btn-group-align " >
                        <a   class="btn  bskp-refreshbtn" data-click="panel-reload" title="Refresh" onclick="loadLogs()"><em class="fa fa-refresh"></em></a>
                    </div> -->
                </div>
                <div class="bskp-table-layout">
                    <table class="table table-bordered table-hover bskp-table responsive no-wrap" id="templateTable"  cellspacing="0" width="100%">
                    </table>
                </div>
                </div>
             </div>
        </div>
     </div>
    <!-- end panel -->
</div>


<script src="js/editor/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/ext-searchbox.js" type="text/javascript" charset="utf-8"></script>
<script src="js/editor/src-noconflict/snippets/groovy.js" type="text/javascript" charset="utf-8"></script>
<script src="controllers/templates.js" type="text/javascript"></script>





<div id="addTemplate" class="bskp-modal  modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="templateAction"></span> Template</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <image src="images/menu/xicon.svg" class="bg-secondary close_icon">
                    </button>
            </div>
            <form action="javascript:void(0)">
                <div class="modal-body">
                    <div  class="row">
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Name</label>
                                <input  class="form-control input-sm" placeholder="" type="text" id="template_name">
                                <span style="color: red;font-weight: 600;" id="template_error"></span>
                            </div>
                        </div>
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Language</label>
                                <select class="form-control input-sm" id="template_lang">
                                    <option value="JTWIG">JTWIG</option>
                                </select>
                               
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <div  class="col-md-12">
                            <div  class="form-group">
                                <label  class="inputLabel">Template</label>
                                <div id="codeEditor" style="height: 300px"></div>
                                <div class=".ace_scrollbar ace_scrollbar-v"></div>
<!--                                <textarea  class="form-control input-sm" placeholder="" type="text"  id="template_code" style="height: 300px;" required></textarea>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                    <button type="submit"  class="btn btn-secondary btn-proceed btnSubmit btnModal">Proceed</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div id="deleteModal" class=" bskp-modal modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Template</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <image src="images/menu/xicon.svg" class="bg-secondary close_icon">
                    </button>
            </div>
            <div class="modal-body">
                <h5>Are you sure want to delete <b><span class="templateName"></span> template</b>?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btnModal btn-secondary btn-proceed btnModal" onclick="proceedDelete()">Proceed</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="uploadTemplate" class="bskp-modal modal fade" tabindex="-1" role="dialog" style="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Upload Template</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <image src="images/menu/xicon.svg" class="bg-secondary close_icon">
                    </button>
            </div>

            <form action="javascript:void(0)" name="templateForm" enctype="multipart/form-data" onsubmit="uploadTemplate()"
                 novalidate autocomplete="off">

                <div class="modal-body" style="padding-top:0px">

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="inputLabel">Choose Template file</label>
                                <input class="form-control" type="file" name="tfile" id="templateFile">
                                <span style="color:red;font-weight:600;" id="file_error"></span>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-close btn-border" data-dismiss="modal">Close</button>
                    <button type="submit" id="uploadBtn" class=" btnModal btn-secondary btn-proceed btn btnModal">
                        Upload Template
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

