<style>
    .textSlider h1 {
        font-family: "Open Sans";
        font-size:30px;
        color: #42484a;
        text-shadow: 1px 1px #ffffff57;
        text-align: center;
        margin-bottom: 10px;
    }
    .textSlider p {
        font-size: 15px;
        line-height: 25px;
        color: #160f11a1;
    }
    .textSlider .row .col div{
        /*background-color: #0000002b;*/
        padding: 10px;
        text-align: center;
    }
    .textSlider img{
        max-width: 30%;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .textSlider .row .col div:hover{
        background-color: #fff2f699;
        cursor: pointer;
        border-radius:5px;
    }
    .alexaBtn{
        background-color: #000 !important;
        color: #fff !important;
        border: 1px solid #333 !important;
        width: 175px;
    }
</style>
<div class="container">
    <div class="textSlider">

        <div class="row" style="margin-top: 10%">

            <div class="col-lg-12 col col1" style="text-align: center;">
                <div style="background-color: transparent !important;">

                    <img src="images/app_mobile.png" style="float: left;max-width: 50%"/>
                    <h1 style="margin-top: 10%">Boodskap IoT Platform</h1>
                    <p>
                        <label>Now Available at</label><br>
                        <a href="https://play.google.com/store/apps/details?id=io.boodskap.platform" target="_blank">
                            <img src="images/playstore.png" style="margin: 5px 0px;max-width: none;height: 50px;"/></a>
                        <a href="https://itunes.apple.com/in/app/boodskap-iot-platform/id1398841657" target="_blank">
                            <img src="images/appstore.png" style="margin: 5px 0px;max-width: none;height: 50px;"/></a>
                        <br>
                        <a class="btn btn-lg btn-default alexaBtn"
                           href="https://www.amazon.com/Boodskap-Inc-IoT-Platform/dp/B07FRGNXXQ/ref=sr_1_1?s=digital-skills&ie=UTF8&qid=1532577977&sr=1-1&keywords=boodskap" target="_blank">
                            <img src="images/alexa-skill.png" style="height: 53px;margin: 0px;max-width: 100%;float:left;"/> <small>Amazon</small> <br>Alexa Skill</a>
                        </a>



                    </p>
                </div>
            </div>

            <div class="col-lg-12 col col2">
                <div>
                    <img src="images/menu/market-place.svg" />
                <h1>Marketplace</h1>
                <p><b>Boodskap's</b> Marketplace have a wealth of UI widget library & Vertical Solutions, you can simply
                    import widget/vertical to a domain. You could have as many dashboards you want and connect with your
                    sensor data with just few clicks</p>
                </div>
            </div>

            <div class="col-lg-12 col col3">
                <div>
                    <img src="images/menu/widgets-bskp.png"/>
                <h1>Dashboard</h1>
                <p>Create your own stunning and appealing IoT application dashboards in few minutes by simply import
                    widgets from Marketplace and connect them with your remote sensors and devices</p>
                </div>
            </div>

            <div class="col-lg-12 col col4">
                <div>
                    <img src="images/menu/message-definition_1-bskp.png"/>
                <h1>Message Definition</h1>
                <p>Dynamically import your sensor/device message specifications, no more encoding/decoding clutter, just
                define, the platform will start receiving messages from your IoT devices.</p>.
                </div>
            </div>
            <div class="col-lg-12 col col5">
                <div>
                    <img src="images/menu/record-definition-bskp.png"/>
                <h1>Record Definition</h1>
                <p>Define your own data model, underlying big data engine will take care of the rest, no more SQL Joins and
                Merges, just one simple API to store and retrieve custom data structures</p>
                </div>
            </div>
            <div class="col-lg-12 col col6">
                <div>
                    <img src="images/menu/script-console-fanta-bskp.png"/>
                <h1>Script Console</h1>
                <p>Interact with the platform from a Bash like web console, practice your rules here before you persist or
                schedule them. 100s of platform components are exposes as functions.</p>
                </div>
            </div>
            <div class="col-lg-12 col col7">
                <div>
                    <img src="images/menu/rules-engine-fanta-bskp.png"/>
                <h1>Rules Engine</h1>
                <p>Add more intelligence to your application using the rules engine, dynamically introspect with your
                sensor data, machine learn, image analyze, voice recognize, predictive/preventative analysis, raise
                events/notification and much more.</p>
                </div>
            </div>
            <div class="col-lg-12 col col8">
                <div>
                    <img src="images/menu/geofence-fanta-bskp.png"/>
                <h1>Geofence Editor</h1>
                <p>Location Based applications can be built in just few clicks and drags, off the shelf geofence editor
                allows you to define your own geographical locations as virtual fences and setup alerts to watch the
                activities like, in-out of vehicle, dwelling, the nearest spots and much more...</p>
                </div>
            </div>

            <div class="col-lg-12 col col9">
                <div>
                    <img src="images/menu/machine-learning-bskp.png"/>
                    <h1>Machine Learning</h1>
                    <p>Powerful machine learning algorithms are integrated with the core platform. You can simply import/create
                        and train your own models on the fly and make use of the models to predict things. Logistic Regression,
                        Naive Bayes, Decision Tree, k-NearestNeighbors, Support Vector Machines, and 70 more classifications are
                        available for your model training</p>
                </div>
            </div>

            <div class="col-lg-12 col col10">
                <div>
                    <img src="images/menu/events&notifications-bskp.png"/>
                    <h1>Events & Notification</h1>
                    <p>Define your custom events with dynamic message content, users and devices can register for events using various channels like Email, SMS, Voice, GCM/FCM, APN, etc. Just raise the desired event(s) through rules to automatically broadcast to the registered parties </p>
                </div>
            </div>

            <div class="col-lg-12 col col11">
                <div>
                    <img src="images/menu/hardware-fanta_1-bskp.png"/>
                <h1>Device Management</h1>
                <p>Group and Tag your devices for easy administration, upload device configurations to your remote
                sensors/device with a push of a button, update firmware for a single device or a group or all devices
                matching a model/version, etc</p>
                </div>
            </div>
            <div class="col-lg-12 col col12">
                <div>
                    <img src="images/menu/firmware-management-fanta-bskp.png"/>
                <h1>Firmware Management</h1>
                <p>Have different makes and models of devices? Simply upload your binary firmware into the platform,
                Boodskap can deliver it to your remote devices using any standard protocols like HTTP, FTP/SFTP/TFTP,
                etc. You will have the full control of your fleet and its integrity</p>
                </div>
            </div>
            <div class="col-lg-12 col col13">
                <div>
                    <img src="images/menu/assets-management-bskp.png"/>
                <h1>Asset Management</h1>
                <p>Multi device based assets can be easily administered, large number of devices and assets can be grouped
                and tagged for easy administration, alerts and notifications are made simple, just raise an event on a
                group, the platform will automatically broadcast to all of its devices/users/associated parties, etc.</p>
                </div>
            </div>
            <div class="col-lg-12 col col14">
                <div>
                    <img src="images/menu/user-management-fanta-bskp.png"/>
                    <h1>User Management</h1>
                    <p>Manage your users and groups, assign rights and ownership in one single integrated portal. Integrate with your existing infrastructure to import users and groups
                    </p>
                </div>
            </div>

        </div>

    </div>

</div>


