<style>
    .details-control{
        cursor: pointer;
    }
</style>
<div class="row-fluid">
    <ul class="nav submenu" style="">
        <li class=""><a href="<%= basepath %>/home"><i class="fa fa-home"></i> </a></li>
        <li class=""><a href="<%= basepath %>/dashboard">Dashboard</a></li>
        <li class=""><a href="<%= basepath %>/user-management">Manage Users</a></li>
        <li class="active"><a href="<%= basepath %>/user-group">Users Group</a></li>
        <!--<li><a href="<%= basepath %>/user-roles">Manage User Roles</a></li>-->
    </ul>
</div>
<div class="container mt-3 platformBody">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li class="breadcrumb-item"><a href="<%= basepath %>/home">Home</a></li>
        <li class="breadcrumb-item"><a href="<%= basepath %>/user-management">User Management</a></li>
        <li class="breadcrumb-item active">Users Group</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Manage Users Group</h1>
    <!-- end page-header -->

    <!-- begin panel -->
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-success" data-click="panel-reload" onclick="loadUserGroup()"><i class="fa fa-redo"></i></a>
                <a href="javascript:;" class="btn btn-sm btn-icon btn-circle btn-warning" title="Help"><i class="icon-help"></i></a>

            </div>
            <h4 class="panel-title">Total Users Group: <b><span class="userGroupCount"></span></b></h4>
        </div>
        <div class="panel-body" style="background-color: #eeeeee00;border: 1px solid #eee;padding-bottom: 30px;">

            <div class="btn-group btn-group-justified pull-right">
                <a class="btn btn-default" onclick="openModal(1)"><i class="fa fa-plus-square"></i> <span class="hidden-xs">Add User Group</span></a>
                <a class="btn btn-default" data-click="panel-reload" onclick="loadUserGroup()"><i class="fa fa-refresh"></i></a>
            </div>


            <table class="table table-bordered responsive no-wrap table-striped" id="userGroupTable"  cellspacing="0" width="100%">

            </table>


        </div>
    </div>
    <!-- end panel -->

</div>

<script src="controllers/user-group.js" type="text/javascript"></script>




<div id="addUserGroup" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="userAction"></span> User Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form action="javascript:void(0)">
                <div class="modal-body">
                    <div  class="row">
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Group ID *</label>
                                <input  class="form-control input-sm" placeholder="" type="number" id="group_id" min="100" required>
                                <small>ID Range from <b><span class="idRange"></span></b></small>
                            </div>
                        </div>
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Group Name *</label>
                                <input  class="form-control input-sm" placeholder="" type="text" id="group_name" required>
                            </div>
                        </div>
                    </div>
                    <div  class="row">
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Email</label>
                                <input  class="form-control input-sm" placeholder="" type="email" id="group_email">
                            </div>
                        </div>
                        <div  class="col-md-6">
                            <div  class="form-group">
                                <label  class="inputLabel">Mobile No.</label>
                                <input  class="form-control input-sm" placeholder="" type="text" id="group_phone" onkeypress="return onlyNumericSpecialChar(event);" minlength="10" maxlength="11">
                                <small>with plus sign & country code, eg., +19876543210</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btnModal btnSubmit">Proceed</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="deleteModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete User Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h5>Are you sure want to delete <b><span class="delete_group_id"></span></b> user group?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btnModal btnSubmit" onclick="proceedDelete()">Proceed</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="deleteUserModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete User From Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h5>Are you sure want to remove <b><span class="removeUserCount"></span></b><span class="userText ml-1"></span> from the user group?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btnModal btnSubmit" onclick="proceedDeleteUser()">Proceed</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="addUserModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content"  style="width: 600px">
            <div class="modal-header">
                <h4 class="modal-title">Add User To Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <p>Total : <b><span class="userCount"></span></b>
                <span class="pull-right">Selected Users: <b><span class="selectedCount"></span></b></span>
                </p>

                <div style="max-height: 400px;overflow: auto;overflow-x: hidden">
                <table class="table table-bordered responsive" id="userTable" style="width: 100%">
                </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btnModal btnSubmit" onclick="addUserToGroup()">Add</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
