<ons-page var="profilePage" id="profilePage" ng-controller="profilePageController">

    <style>
       #profilePage .user-profile .b-row{
            padding: 5px 10px;border: 1px solid #ddd;
        }
       #profilePage .user-profile .b-row p{
            color: #888;
            font-size: 14px;
        }
       #profilePage .user-profile .b-row p b{
            color: #333;
            font-size: 16px;
        }
       #profilePage .error{
            margin-top: 7px;
            color: #a94442;
            font-size: 12px;
            font-style: italic;
        }
       #profilePage .info-txt{
            margin-top: 7px;
            font-size: 12px;
            font-style: italic;
        }
    </style>

    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Profile</div>
        <div class="right">
            <ons-toolbar-button ng-click="editProfile()" ng-if="!isEditMode" style="font-size: 17px;">
                <i class="fa fa-pencil"></i> Edit
            </ons-toolbar-button>
            <ons-toolbar-button ng-click="editProfile()" ng-if="isEditMode" style="font-size: 17px;">
               Cancel
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    <div class="padded">

        <div style="text-align: center;">
            <img id="previewThumbImg" style="height: 75px;width: 75px;border-radius: 50%;border: 3px solid #ddd;"/>
        </div>

        <ons-row>
            <ons-col style="padding: 15px;" width="50">
                <button class="button button--large button--material"
                        style="background: #fff;color: #4183D7;border: 1px solid #4183D7;"
                        ng-click="updateProfileImg()"><i class="fa fa-camera"></i> Camera</button>
            </ons-col>
            <ons-col style="padding: 15px;" width="50">
                <button class="button button--large button--material"
                        style="background: #fff;color: #4183D7;border: 1px solid #4183D7;"
                        ng-click="openFilePicker()"><i class="fa fa-image"></i> Gallery</button>
            </ons-col>
        </ons-row>

        <br>

        <form action="javascript:void(0);" id="userProfile" name="userProfileForm">
                <div class="user-profile">
                    <div class="b-row">
                        <p>Username / Email</p>
                        <div><b>{{ mainUserDetails.email }}</b></div>
                    </div>

                    <div class="b-row">
                        <p>First Name </p>
                        <div ng-if="isEditMode" class="box-cover"><input class="text-input text-input--material" name="firstName" ng-pattern="/^[a-zA-Z\s]*$/" placeholder="Eg: John Doe" type="text" ng-model="mainUserDetails.firstName" required></div>
                        <div ng-if="!isEditMode"><b>{{ mainUserDetails.firstName }}</b></div>
                        <div class="error" ng-show="userProfileForm.firstName.$error.required"><i class="fa fa-exclamation-triangle"></i> Required!</div>
                        <div class="error" ng-show="userProfileForm.firstName.$error.pattern"><i class="fa fa-exclamation-triangle"></i> Please enter alphabets only</div>
                    </div>

                    <div class="b-row">
                        <p>Last Name </p>
                        <div ng-if="isEditMode" class="box-cover"><input class="text-input text-input--material" name="lastName" ng-pattern="/^[a-zA-Z\s]*$/" placeholder="Eg: John Doe" type="text" ng-model="mainUserDetails.lastName" required></div>
                        <div ng-if="!isEditMode"><b>{{ mainUserDetails.lastName }}</b></div>
                        <div class="error" ng-show="userProfileForm.lastName.$error.required"><i class="fa fa-exclamation-triangle"></i> Required!</div>
                        <div class="error" ng-show="userProfileForm.lastName.$error.pattern"><i class="fa fa-exclamation-triangle"></i> Please enter alphabets only</div>
                    </div>

                    <div class="b-row">
                        <p>Mobile </p>
                        <div ng-if="isEditMode" class="box-cover"><input class="text-input text-input--material profhmobile" name="primaryPhone" placeholder="Eg: 9876543210" ng-pattern="phonePatter" type="tel" maxlength="10" minlength="10" ng-model="mainUserDetails.primaryPhone" required></div>
                        <div ng-if="!isEditMode"><b>{{ mainUserDetails.primaryPhone }}</b></div>
                        <div class="error" ng-show="userProfileForm.primaryPhone.$error.required"><i class="fa fa-exclamation-triangle"></i> Required!</div>
                        <div class="error" ng-show="userProfileForm.primaryPhone.$error.minlength"><i class="fa fa-exclamation-triangle"></i> Phone no not less that 10 char.</div>
                        <div class="error" ng-show="userProfileForm.primaryPhone.$error.maxlength"><i class="fa fa-exclamation-triangle"></i> Phone no not more than 11 char.</div>
                        <div class="error" ng-show="userProfileForm.primaryPhone.$error.pattern"><i class="fa fa-exclamation-triangle"></i> Please match pattern [Eg: 9876543210]</div>
                        <div class="profhmobile_err info-txt" style="display: none;"></div>
                    </div>

                    <section style="padding: 8px" ng-if="isEditMode">
                        <ons-row>
                            <ons-col width="50%">
                                <button class="button button--outline" style="width: 90%;" ng-click="editProfile()">Cancel</button>
                            </ons-col>
                            <ons-col width="50%">
                                <button class="button" type="button" ng-click="validateHostForm()" ng-disabled="!mainUserDetails.primaryPhone || !mainUserDetails.primaryPhone || !mainUserDetails.primaryPhone" style="width: 100%;background: #4183d7;"><i class="fa fa-check"></i> Update</button>
                            </ons-col>
                        </ons-row>
                    </section>
                </div>
            </form>

    </div>

    <ons-dialog var="myProfileOptions">

        <div>
            <span ng-click="myProfileOptions.hide()"></span>
        </div>

        <div style="padding: 10px;">
            <div style="text-align: center;margin-top: 10px;">

                <ons-row>
                    <ons-col width="50%">
                        <ons-button style="background: #ffffff;border: 1px solid #4183D7;color: #4183D7;text-align: center;padding: 15px 20px;width: 80%;padding-bottom: 0;" ng-click="updateProfileImg()">
                            <i class="fa fa-camera" style="font-size: 33px;"></i>
                            <div>Camera</div>
                        </ons-button>
                    </ons-col>
                    <ons-col width="50%">
                        <ons-button style="background: #ffffff;border: 1px solid #4183D7;color: #4183D7;margin-left: 10px;text-align: center;padding: 15px 20px;width: 80%;padding-bottom: 0;" ng-click="openFilePicker()">
                            <i class="fa fa-image" style="font-size: 33px;"></i>
                            <div>Gallery</div>
                        </ons-button>
                    </ons-col>
                </ons-row>

                <ons-row>
                    <ons-col width="50%">
                        <ons-button style="background: #ffffff;
    border: 1px solid #666;
    color: #666;
    margin-left: 10px;
    text-align: center;
    padding: 15px 20px;
    padding-bottom: 0;
    width: 80%;
    margin: 0;
    margin-top: 19px;
    margin-bottom: 11px;" ng-click="myProfileOptions.hide()">
                            <i class="fa fa-times" style="font-size: 33px;"></i>
                            <div>Close</div>
                        </ons-button>
                    </ons-col>
                    <ons-col width="50%"></ons-col>
                </ons-row>

            </div>
        </div>
    </ons-dialog>


    <ons-modal direction="up" id="uProfUpdateFdbk" var="uProfUpdateFdbkModal">
        <div class="s-fbk" style="text-align: center;" id="uProfPhotoLoading">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
            <p>
                Photo Uploading...
            </p>
            <p style="font-size: 12px;">
                Please wait few minutes
            </p>
        </div>
        <div class="s-fbk" style="text-align: center;" id="uProfUpdateLoading">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
            <p>
                Profile Updating...
            </p>
            <p style="font-size: 12px;">
                Please wait few minutes
            </p>
        </div>

        <div class="s-fbk" style="text-align: center;display: none;" id="uProfUpdateSuccess">

            <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
            <p>
                Profile Updated Successfully!
            </p>
            <p style="font-size: 12px;">
                Thanks for your patience
            </p>
            <ons-button ng-click="uProfUpdateModalClose()" style="background: transparent;border: 1px solid #fff;color: #fff;">Ok</ons-button>
        </div>

        <div class="s-fbk" style="text-align: center;display: none;" id="uProfDpSuccess">

            <i class="fa fa-check-circle fa-3x" aria-hidden="true"></i>
            <p>
                Profile Photo Updated Successfully!
            </p>
            <p style="font-size: 12px;">
                Thanks for your patience
            </p>
            <ons-button ng-click="uProfUpdateModalClose()" style="background: transparent;border: 1px solid #fff;color: #fff;">Ok</ons-button>
        </div>

        <div class="s-fbk" style="text-align: center;display: none;" id="uProfUpdateFailed">

            <i class="fa fa-times-circle fa-3x" aria-hidden="true"></i>
            <p>
                Profile Update Failed
            </p>
            <p style="font-size: 12px;">
                Try Again After Sometimes
            </p>
            <ons-button ng-click="uProfUpdateModalClose()" style="background: transparent;border: 1px solid #fff;color: #fff;">Close</ons-button>
        </div>


        <div class="s-fbk" style="text-align: center;display: none;" id="uProfdpUploadFailed">

            <i class="fa fa-times-circle fa-3x" aria-hidden="true"></i>
            <p>
                Oops! Photo upload failed
            </p>
            <p style="font-size: 12px;">
                Try Again After Sometimes
            </p>
            <ons-button ng-click="uProfUpdateModalClose()" style="background: transparent;border: 1px solid #fff;color: #fff;">Close</ons-button>
        </div>
    </ons-modal>

</ons-page>
