.btn-rect{
    width: 60px !important;
}

.shareIcon{
    color: #000 !important;
} 

.shareIcon:hover{
    color: #4caf50 !important;
} 

.tagEllipseMargin{
    margin-left: -7px !important;
}

#userTable td.details-control {
    outline:none !important;
}

.text-wrap{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
}
.border-radius-0{
    border-radius: 0;
}
.font-bold{
    font-weight: bold;
}

.skiptranslate a:hover{
    text-decoration: none !important;
}

@media (max-width: 679px) {
    .w-sm-100{
        width: 100% !important;
    }
    .w-sm-75{
        width: 75% !important;
    }
    .w-sm-50{
        width: 50% !important;
    }
    .w-sm-25{
        width: 25% !important;
    }

}

@media (min-width: 680px) and (max-width: 1279px) {
    .w-md-100{
        width: 100% !important;
    }
    .w-md-75{
        width: 75% !important;
    }
    .w-md-50{
        width: 50% !important;
    }
    .w-md-25{
        width: 25% !important;
    }

}

@media (min-width: 1280px) and (max-width: 1500px) {
    .w-lg-100{
        width: 100% !important;
    }
    .w-lg-75{
        width: 75% !important;
    }
    .w-lg-50{
        width: 50% !important;
    }
    .w-lg-25{
        width: 25% !important;
    }

}

@media (min-width: 1501px) {
    .w-xl-100{
        width: 100% !important;
    }
    .w-xl-75{
        width: 75% !important;
    }
    .w-xl-50{
        width: 50% !important;
    }
    .w-xl-25{
        width: 25% !important;
    }

}

.mdbg{
    background: rgba(249, 249, 249, 0.479);
}

.max-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgb(163 163 163);
    border-radius: 10px;
    background-color: #fafafa;
}

.max-scroll::-webkit-scrollbar
{
	width: 4px !important;
    height: 4px;
	background-color: #F5F5F5;
}

.max-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(84, 83, 83, 0.3);
	background-color: #c0c0c0;
}

.name-overflow{
    text-overflow: ellipsis;
    max-width: 160px !important;
    overflow-y: hidden;
    overflow-x: hidden;
    display: inline-block;
    white-space: nowrap;
    height: 20.8px;
    vertical-align: middle;
}