body{
    font-size: 14px;
}
.platformBody{
    padding-bottom: 50px !important;
}
.bskp-modal tbody > tr:first-child > td{
    padding: 20px 15px 8px 15px !important;
}
.bskp-modal tbody > tr > td:first-child{
padding-left: 0px !important;
}
.bskp-modal thead > tr >th:last-child{
text-align: center !important;
}
.bskp-modal{
    z-index: 9999;
}
#addTemplate tbody > tr ,#addTemplate tbody > tr > td{
border: 0px !important;
}
.bskp-modal .add {
background: #478ecc;
padding: 5px 7px;
color: white;
border-radius: 50%;
vertical-align: top;
font-size: 15px;
}
.bskp-modal .minus {
background: #90a1b7;
padding: 6.5px 8px;
color: white;
border-radius: 50%;
vertical-align: top;
}

.breadcrumb{
    font-size: 13px !important;
    align-items: center;
    margin: 15px 30px 0px 0px;
}
code{
    background: none !important;
    color:rgb(77, 71, 71);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    
}
#deleteModal .modal-dialog{
    max-width: 600px;
}
