.domain-list {
  margin: 8px;
  padding: 15px;
  cursor: pointer;
  width: 180px;
  border: 2px solid #fff;
  border-bottom: 2px solid hsl(229deg 41% 95%);
}

.d-menu-active {
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid #2c2c78;
  background-color: #2c2c78;
}

/* .domain-list:hover label{
        color: #2d2f79;
    }
    .domain-list:hover small{
        color: black;
    } */

/* .domain-list:hover, .domain-list label:hover, .domain-list h1:hover, .domain-list small:hover {
        color: #2d2f79 !important;
        /* background-color: #eee; */
/* } */

.divPanel {
  border: 1px solid #eee;
  /* margin-top: 23px; */
  width: 50%;
  height: 100px;
  margin: 12px auto;
}
.icon-save {
  margin-right: 5px;
}
.domain-list label {
  cursor: pointer;
}
.domain-list.d-menu-active label {
  color: #ffffff;
}
.sp-container {
  z-index: 9999994;
}

.colorpicker-visible {
  z-index: 9999994 !important;
}
.header-border {
  border: 1px solid #cdd6e3;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  margin: 15px;
  background: #ffffff;
}
.page-header {
  font-size: 20px;
  font-weight: 600;
  margin-left: 25px;
}

.breadcrumb {
  font-family: Montserrat;
}
.bskp-refresh-bg {
  margin-left: 45px !important;
  margin-right: 15px;
}
.searchBar {
  border-radius: 10px;
  font-size: 12px;
  background-color: #f6f9fe;
  font-weight: 500;
  padding-left: 35px !important;
}
.searchBar_row {
  margin: 15px;
}
.searchBar_row i {
  position: absolute;
  top: 12px;
  left: 25px;
}
.logo_branding {
  font-size: 14px;
  font-weight: 600;
}
.platformBody {
  padding-left: 0px;
}

.img-bg {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: #ffffff;
  border: 1px solid #2c2c78;
}
.upload-image {
  width: 16px;
  position: absolute;
  left: 7px;
  top: 7px;
  cursor: pointer;
}
.upload-file {
  position: absolute;
  right: 100px;
  top: 2px;
}
input {
  overflow: visible;
}
.btn-apply {
  background-color: #2d2f79;
  border-radius: 10px;
  height: 32px;
  border-style: none;
  color: #ffffff;
  padding: 5px;
  width: 80px;
}
.panel {
  background-color: #eaf1f6 !important;
}
.panel-body {
  padding: 0px !important;
  padding-left: 8px !important;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
label {
  margin-bottom: 0px !important;
  font-size: 14px;
}
.colorpicker-element .input-group-addon i {
  display: inline-block;
  cursor: pointer;
  height: 16px;
  vertical-align: text-top;
  width: 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: rotate(316deg);
}
/* .container-fluid{
    padding-left: 0px !important;
  } */

#headerBg {
  border-radius: 20px !important;
}
.input-group-addon {
  background-color: #ffffff !important;
}
.form-control {
  border-radius: 10px !important;
  font-size: 14px !important;
}
.btn-proceed {
  font-weight: 400 !important;
  padding: 6px !important;
  width: 140px !important;
}
.plan-items {
  list-style: none;
  border: 1px solid #f0f0f0;
}
.plan-items li {
  padding: 10px;
  font-size: 14px;
}
.plan-features {
  text-align: left;
  font-weight: 600;
  color: #363636;
}
.plan-qty {
  text-align: center;
  display: inline-block;
  border: 2px solid #61ccf2;
  width: 159px;
}
.blue-bg {
  background-color: #ecf4fb;
}
.light-bg {
  background-color: #fdfeff;
}
.price_rate {
  margin-left: 30px;
}
.price_amount li {
  margin-right: 35px;
  font-size: 14px;
}

.price_amount_free {
  border: 2px solid #61ccf2;
  width: 159px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 18px;
}
.price_amount_beginner {
  border: 2px solid #ecb030;
  width: 159px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 18px;
}
.price_amount_basic {
  border: 2px solid #f48865;
  width: 159px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 18px;
}
.price_amount_preferred {
  border: 2px solid #37bfb5;
  width: 159px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 18px;
}
.price_amount_professional {
  border: 2px solid #5ea0d2;
  width: 159px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 18px;
}
.plan-qty-color {
  background-color: #ecf7fb;
}
.price_color_beginner {
  background-color: #fdf9f1;
}

.price_color_basic {
  background-color: #fdf5f2;
}

.price_color_preferred {
  background-color: #f0f9f9;
}

.price_color_professional {
  background-color: #edf5fb;
}

.plan_type_free {
  color: rgb(109 204 239);
}
.plan_type_beginner {
  color: #ecb030;
}
.plan_type_basic {
  color: #f48865;
}
.plan_type_preferred {
  color: #37bfb5;
}
.plan_type_professional {
  color: #5ea0d2;
}
.price_amount_beginner,
.price_amount_basic,
.price_amount_preferred,
.price_amount_professional {
  display: none;
}
.price_heading_beginner,
.price_heading_basic,
.price_heading_preferred,
.price_heading_professional {
  display: none;
}
#slide {
  width: 0px;
  height: 600px;
  background-color: #fff;
  position: fixed;
  top: 55px;
  right: 0px;
  transition: 0.5s;
  box-shadow: 0px 0px 10px rgb(112 102 102);
}
#inside_slide {
  width: 0px;
  height: 100px;
  background-color: red;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 620px;
  background-color: #fff;
  transition: 0.5s;
  box-shadow: 0px 0px 10px rgb(112 102 102);
  z-index: 9999;
}
.plan_benifit_box {
  width: 700px;
  height: 80px;
  background-color: #ecf7fb;
  border-radius: 13px;
  z-index: 99999;
}
.inside_price_free {
  width: 120px;
  height: 60px;
  /* border-radius:13px; */
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  background-color: #3db7e6;
  margin: 9px;
}
.inside_price_beginner {
  width: 120px;
  height: 60px;
  /* border-radius:13px; */
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  background-color: #eebe56;
  margin: 9px;
}
.inside_price_basic {
  width: 120px;
  height: 60px;
  /* border-radius:13px; */
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  background-color: #f36e43;
  margin: 9px;
}
.inside_price_preferred {
  width: 120px;
  height: 60px;
  /* border-radius:13px; */
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  background-color: #1bb6ab;
  margin: 9px;
}
.inside_price_professional {
  width: 120px;
  height: 60px;
  /* border-radius:13px; */
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  background-color: #3086c6;
  margin: 9px;
}
.free_benifit h6 {
  color: #3db7e6;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
  font-weight: 600;
}
.beginner_benifit h6 {
  color: #eebe56;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
  font-weight: 600;
}
.basic_benifit h6 {
  color: #f36e43;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
  font-weight: 600;
}
.preferred_benifit h6 {
  color: #1bb6ab;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
  font-weight: 600;
}
.professional_benifit h6 {
  color: #3086c6;
  font-size: 14px;
  text-align: left;
  padding-left: 10px;
  font-weight: 600;
}
.plan_details_link {
  text-decoration: underline;
  font-weight: 600;
}
.btn-proceed {
  cursor: pointer;
}
.tick-right {
  position: absolute;
  top: 8px;
  width: 15px;
  /* right: 75px */
}
.domain-menu {
  border: 2px solid hsl(219deg 32% 90%);
  background-color: #ffffff;
  border-radius: 13px;
  display: inline-block;
  vertical-align: top;
}
.show-domain {
  border: 1px solid #cdd6e3;
  background-color: #f9f9f9;
  border-radius: 13px;
  height: calc(100vh - 145px);
  width: calc(100% - 224px);
  display: inline-block;
  vertical-align: top;
  overflow: auto;
  overflow-x: hidden;
}
.ds-title {
  font-size: 15px;
  font-weight: 600;
  padding: 8px 15px;
  padding-top: 10px;
  background: #363636;
  color: #ffffff;
  border-radius: 8px 8px 0 0;
}
.ds-menus {
  height: calc(100vh - 186px);
  overflow: auto;
  width: 215px;
}
.ds-header-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
}
.show-domain .modal-body{
  background: #ffffff;
  margin: 15px;
  border: 1px solid #dddddd;
  border-radius: 8px;
}