@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
#header, .goog-te-menu-value > span ,.indicator > span{
    /* font-family: 'Montserrat', sans-serif !important; */
}
.priceLabel{
    display: block;
    text-align: center;
    width: 100%;
    font-size: 14px;
    /* padding-right: 26px; */
    line-height: 46px;
    color: #242a30;
    background-color: #f2f3f5;
}
.goog-te-menu2-item div, .goog-te-menu2-item:link div, .goog-te-menu2-item:visited div, .goog-te-menu2-item:active div {
    color: #080808 !important;
    background: #ffffff;
}
.goog-te-menu-value{
    color: black !important;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none !important;
}
.user_profile_name{
    color:black;
    font-size: 14px;
    font-weight: 600;
}

.header-style{
    background: white !important;
     padding: 2px 38px ;
     box-shadow: 0px 2px 12px 2px #e7eefa; 
     z-index: 400 !important;
}
#megaMenu > .modal-header{
    padding: 18px 12px 8px 12px !important;
    border-radius: 1rem 1rem 0rem 0rem!important;
    background: white !important;
}

@media (max-width: 767px){
    .navbar-header {
        border-bottom: none !important;
    }
    }
    @media (max-width:426px){
        .header-style {
            background: white !important;
            padding: 8px 15px !important;
            box-shadow: 0px 2px 12px 2px #e7eefa;
            z-index: 400 !important;
        }
    }
    .bskp-mega-nav img{
        height: 16px;
        width: 16px;
        margin-right: 6px;
    }