@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

#queryEditor,
#resultEditor {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border: 1px solid #eee
}

#mongoConsole .executebutton {
        background-color: #2d2f79 !important;
    
    border-color: #2d2f79 !important;
    width: 110px;
    border-radius: 10px;
    font-size: 14px;
    height: 32px;
    font-weight: 500;
}

#mongoConsole .expand {
    color: darkslateblue;
}

#mongoConsole .icon {
    margin-top: 4px;
    background-color: white;
}

#mongoConsole .content {
    position: relative;
    right: 30px;
}

#mongoConsole .ace-eclipse .ace_gutter {
    background-color: #eaf1f6;
    /* border: 3px solid #eaf1f6; */
    border-radius: 8px;
    border-right: none !important;
}
ol li{
font-size: 12px !important;
}
.panel {
    background-color: #fafdff;
}

#mongoConsole .ace_content {
    border-radius: 10px;
    position: relative;
    left: 12px;
    margin-left: 5px;
    border-top: 2px solid #eaf1f6;
    border-left: 2px solid #eaf1f6;
    border-bottom: 2px solid #eaf1f6 !important;
}

#mongoConsole #queryEditor,
#resultEditor {
    border-top: none;
    border-bottom: none;
    border-right: 2px solid #eaf1f6;
    border-radius: 10px;
}

#mongoConsole  #queryEditor {
    position: relative;
    top: 3px;
}

#mongoConsole  #resultEditor {
    margin-top: 22px;
}

#mongoConsole .table {
    border: 1px solid #cdd3d6;
    border-radius: 12px;
    background-color: #fff;
}
#mongoConsole .logo{
    position: relative;
    bottom: 5px;
}
@media only screen and(min-width:375px),
(max-width: 767px) {
    .icon {
        position: relative;
        bottom: 6px !important;
        
    }
}
@media only screen and 
(max-width: 414px) {
.select2-selection, .select2-selection--single{
    width: 100% !important;
}
}
@media only screen and(min-width:728px),
(max-width: 1024px) {
    .executebutton {
        position: relative;
        bottom: 5px !important;
        /* left: 1px !important; */
        background-color: #2d2f79;
        width: 110px !important;
        font-size: 14px !important;
    }
}
.platformBody{
background-color: hsl(205deg 40% 94%);
padding-top: 10px;
}
.mt-2,.my-2{
margin-top: 0px !important;
}
.option{
border-radius: 10px !important;
}
.select2-container .select2-selection--single, .select2-container--default .select2-selection--multiple{
border-radius: 10px !important;
/* border-color: red !important;  */

}

#pool_url{
word-break: break-word;
}
.pageheader{
    margin-left:0px;color: hsl(0deg 0% 25%); font-weight: 700;font-size: 20px;
}
.panelbody{
    background-color:#fff;border: 1px solid #cdd3d6;padding-bottom: 30px; border-radius:10px;
}
.press-enter{
    border-left:2px solid #eaf1f6;
}
.output-console{
    float:right;font-size: 12px
}
