
     @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');   
     #searchQueryConsole .ace_error{
        display: none !important;
    }
   

    #searchQueryConsole #queryEditor, #resultEditor {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        border:1px solid #eee;
        border: 2px solid #eaf1f6;
      border-top: none;
      border-bottom: none;
      border-radius: 10px;
      width: 100%
    }
    #searchQueryConsole .bskp-icon-bg{
        background-color: #ffffff;
       margin-top: 5px;
    }
   .select2-selection .select2-selection--single{
        background-color: red;

    }
    @media screen and (max-width:499px){
       
        /* .exe-btn{
text-align: end;
        } */
        #searchQueryConsole .bskp-icon-bg{
          position: relative;
          left: 100px;  
        } 
    }
   
    @media screen and (min-width:400px) and (max-width:499px){
        .execute_btn{
            position: relative;
            left: 50px;
        }
    }
     @media screen and (width:540px){
        .execute_btn{
            position: relative;
            left: 173px;
           
        } 
     } 

      @media screen and (min-width:1100px) and (max-width:1300px){
        .execute_btn{
            position: relative;
            left: 160px;
           
        } 
     }  
    #searchQueryConsole .execute_btn{   
        background-color:hsl(238deg 46% 33%);
          border: none;
          color: white; 
        font-size:12px;
        border-radius: 10px;
      width: 80px;
        border-style: none;
        cursor: pointer;
        margin-left: 193px;
       height: 30px;
       margin-bottom: 5px;
      }
      
    #searchQueryConsole .breadcrumb{
       margin: 5px;
    }
    #searchQueryConsole .ace-eclipse .ace_gutter{
        background-color: hsl(210deg 31% 95%);
        border: 2px solid #eaf1f6;
        border-radius: 10px;  
    }
    .panel{
       background-color: #fafdff;  
    }
    #searchQueryConsole .table_border{
        border: 1px solid hsl(214deg 23% 79%);border-radius: 15px;margin:5px;
        background-color: #ffffff;
    }
    #searchQueryConsole .ace_content{  
        position: relative;
        left: 8px;
        border: 2px solid  #eaf1f6;  
       border-left: 2px solid  #eaf1f6;  
        border-radius: 10px;   
    }
    #searchQueryConsole #resultEditor{
       border-radius:10px;
    }
    #searchQueryConsole .panel-body{
      padding-bottom: 3px;
      margin: 5px;
      background-color:#ffffff; 
    }
   #searchQueryConsole .page-header{
        color: hsl(0deg 0% 25%);
        margin-left: 6px;
        font-weight: 700;
        font-size: 20px;
    }
    .platformBody{
      
       background-color: hsl(205deg 40% 94%);
       padding-top: 10px;  
    } 
    .select2-container--default .select2-selection--single{
    border-radius: 10px;  
 }
 .form-group{
    margin-bottom: 5px;
 }
 .btn-g{


 }

 .index{
    color:red;
    font-weight: 600;
 }
 .star_required_icon{
    color: red;
 }
 .version_title{
    font-weight:600 ;font-size:10px
 }
 .version{
    text-decoration: underline
 }
 #idList{
    border:2px solid #eaf1f6;
 }
.execute_rule{
    font-weight:600 ;font-size:9px;
}
#sideBorder{
    border-left:2px solid  #eaf1f6;
}
.loadingText{
    float:right;font-size: 12px
}
#messageData{
    border:2px solid  #eaf1f6;border-radius: 15px;background-color:#f3f5f7;
}
.fields{
    width: 100%;overflow: auto;overflow-x: hidden
} 
