
      @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
      
    .consoleBody{
        background-color:hsl(205deg 40% 94%) ;overflow: auto;overflow-x: hidden;
        position: relative;
    }
    #scriptTerminal{
        font-family: 'Share Tech Mono', monospace;
    }
    .titleText {
        color: #f55700;
        font-size: 13px!important;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 5px!important;
        margin-bottom: 5px!important;
    }
    .subTitleText {
        font-size: 14px!important;
        margin: 10px 0!important;
        color: #fff;
    }

    #codeEditor {
        position: relative;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .codeText {
        color: #000;
        font-size: 13px;
        background-color: #ffffffe0;
        border-left: 2px solid #f55700;
        padding: 5px;
    }

    .rightSide{
        position: fixed;
        right:0px;
        top:0px;
        padding-top: 100px;
        width:0px;
    }

    .editorBlock{
        position: fixed;
        right:0px;
        top:0px;
        padding-top: 100px;
        width:0px;
        
        border-radius: 10px;
        margin-left:10px;
         /* margin-top: 10px; */
         margin-right: 8px;
    }

    #tree{
        list-style: none;
        margin-left: 0px;
        padding-left: 0px;
    }
    #tree ul{
        list-style: none;
    }

    .classFolder{
        overflow: auto;
        overflow-x: hidden;
        word-wrap: break-word;
        background-color: #fff;
        padding: 3px;
    }

    #tree li img:hover{
        cursor: pointer;
    }

    #tree li a:hover{
        cursor: pointer;
        background-color: #eee;
    }

    img.exp_col{
        position: relative;
        margin-left: -15px;
    }

    .terminal, .cmd{
        background-color: hsl(208deg 50% 25%);
        border-radius: 6px;
    }
    #btnEditor,#btnMax,#btnExec{
        background-color: hsl(0deg 0% 100%);
       
    }
    #btnMax{
        position: absolute;right: 10px;top: 0px;z-index:1;margin:10px;border-radius:10px;
    }
    #btnEditor{
        position: absolute;right: 120px;top: 0px;z-index:1;margin:10px;border-radius:10px;

    }
    #btnExec{
        position: absolute;right: 10px;top: 0px;z-index:1;margin:10px;border-radius:10px;

    }
    #btnEditor:hover{
      text-decoration: none;
    }

    .serverStatus .label-danger{
        position:relative;
        left: 28px;
        top: 20px;
        border-radius: 6px;
        
    }
    .label.label-green{
        background-color: hsl(116deg 87% 39%);
        position:relative;
        left: 28px;
        top: 20px;
        border-radius: 6px;
    }
    .terminal-wrapper{
        margin-top:43px;
    }
  
    .ace_content{
       
       border: none;
        background-color: #fefefe;
        height: 700px;
        
    }
    
    .ace-solarized-light .ace_gutter{
        background-color: hsl(210deg 31% 95%);
        border: 2px solid #eaf1f6;
        border-radius: 10px;
       
       
      
    }
    .ace-solarized-light{
        background-color:#ffffff;
       
        border-radius: 10px;
    }
    .ace_folding-enabled > .ace_gutter-cell{
        background-color: #a8a3a3;
    }
    .btnExec {
        background-color: hsl(240deg 46% 32%) ;
        color: #ffffff;
        border-radius: 10px;
        font-size: 13px;
        height:26px;
        border-style: none;
        width: 90px;
        position: relative;
        bottom: 40px;
    }
    select {
        border-radius: 10px;
        border-color: rgb(211 216 222); 
        font-weight: 400;
        border: 1px solid rgb(211 216 222);
        margin-top: 5px;
       
        font-size: 14px !important;
        margin-bottom: 5px;

    }
    
    .form-control{
        border-radius: 10px;
        border-top-right-radius:10px ;
       
        font-weight: 600;
    }
    small,label,select,.form-control, .serverStatus,  .terminal-output div span, #btnMax,#btnEditor,#btnExec, .modal-title{
        font-family:Montserrat;
    }
  
    .serverStatus{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index:1;
    }
    .close{
        margin-left: 200px;
    }
    body{
        overflow-y: hidden;
    }
    #error{
color: red;
font-weight:400px;
    }
    
#error,#error1,#name_error,#file_error2,#file1{
    font-weight: 600;
}
.leftSide{
    position: relative;
}

#section{
    padding: 19px;position: relative;border: 2px solid  hsl(208deg 50% 25%);background-color:#ffffff;margin:25px;border-radius: 10px;
}
#section h5{
    color:black;border-bottom: 1px solid rgb(140, 152, 223);
}

#consoleBox{
    overflow: auto;overflow-x: hidden;background-color:hsl(208deg 50% 25%);padding: 10px;margin-top: 5px;border-radius:10px;
}
.rightSide .inside_style{
    padding-top:12px;padding-left:12px;padding-right:12px;background-color: hsl(0deg 0% 100%);border-radius: 13px;margin: 27px;
}
.inside_style h5{
    font-size: 14px;

}
.btn_import{
    margin: 5px 0px;background-color:hsl(238deg 46% 33%);border-radius:10px; padding:5px; color:#fff;font-weight: 400;

}

#searchText{
    border-radius: 10px;
}
.modal-title{
    font-size:18px ;font-weight:600;
}
.close_icon{
    border-radius: 13px;padding:3px
}
.inputLabel{
    font-size:16px;
}
   
