@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.sidebar .nav li a:hover{
    text-decoration: underline;
}
.sidebar .nav>li.active>a, .sidebar .nav>li.active>a:focus, .sidebar .nav>li.active>a:hover {
    background: transparent;
}
li.nav-header  {
    color: #2d2f79 !important;
}
.sidebar .nav>li.nav-header {
    font-size: 12px;
}
.sidebar b{
    color: grey;
}
#mySidenav img{
    height: 18px;
    width: 18px;
    margin-right: 6px;
}