<style>
    .navigation-bar--material{
        box-shadow: 0px 0px 0px;
        padding: 0;
        background: #4183D7;
    }
    .profile-wrapper {
        padding: 16px 10px 0 10px;
    }

    .profile-image {
        width: 50px;
        height: 50px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        border: inset 1px rgba(0, 0, 0, 0.3);
    }

    .profile-name {
        font-size: 18px;
        padding: 4px 0 2px 0;
    }

    .profile-email {
        font-size: 15px;
        opacity: 0.4;
    }

    .switch--list-item {
        margin-right: 0px;
    }

    .settings-header {
        font-weight: 500;
        font-size: 14px;
        opacity: 0.4;
        padding: 10px 0 0px 10px;
        margin-bottom: -4px;
    }

    .settings-list {
        margin-top: 10px;
    }

    .settings-logout {
        font-size: 24px;
        opacity: 0.8;
        margin-right: 6px;
    }


    .help{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .person-list {
        border-top: none;
    }

    .person {
        line-height: 1;
        padding: 0;
        color: #22313F !important;
        background: #fafafa;
        border: 1px solid #e6e6e6;
        border-bottom: 3px solid #F4B350;
    }

    .person-list-header {
        opacity: 0.6;
    }

    .person-name {
        line-height: 44px;
    }

    .person-image {
        width: 30px;
        height: 30px;
        margin-top: 8px;
        border-radius: 2px;
    }

    .center.list__item__center.list__item--material__center{
        padding-top: 0;
        padding-bottom: 0;
    }

</style>

<ons-page ng-controller="loginController" id="loginPage" var="loginPage">

    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Environment</div>
    </ons-toolbar>

    <ons-row>
        <ons-col>
            <div class="padded" style="padding: 30px;">

                <p style="text-align: center;"><b>Enter Your Environment</b></p>

                <!--<input id="redRadio" type="radio" ng-model="rooturl" value="http://192.168.1.111:11000" /><label for="redRadio">Local</label>
                <br>
                <br>
                <input id="greenRadio" type="radio" ng-model="rooturl" value="https://api.boodskap.io" /><label for="greenRadio">Production</label>
                <br />
                <br />-->

                <div>
                    <strong style="color: #989898;font-size: 13px;">API Url with <b>'http://'</b>:</strong>

                    <input id="redRadio" type="url" ng-model="rooturl" placeholder="Enter API URL" style="width: 100%;
    border: 0;
    border-bottom: 1px solid #ddd;
    padding-top: 7px;
    height: 44px;
    font-size: 13px;" />
                </div>
                <p>{{rooturl}}</p>
                <br />
                <p style="text-align: center;color: #898989;">
                    <button ng-click="submitUrlChange()" style="color: #666;text-decoration: none;border: 1px solid #ddd;background: #fff;padding: 7px;">Submit, Go Back</button>
                </p>

            </div>
        </ons-col>
    </ons-row>


</ons-page>

